<!-- center filter -->
<div class="filter" *ngIf="input.case === 'filter'">
  <h2 class="filter-heading">Add Filters</h2>
  <mat-divider></mat-divider>
  <form [formGroup]="filterGroup" (ngSubmit)="getFilterValuesOnSubmit()">
    <div class="flex-container">
      <ng-container *ngFor="let filter of FilterData">
        <ng-container ngSwitch="{{ filter.dropdown }}">
          <ng-container *ngSwitchCase="'false'">
            <ng-container ngSwitch="{{ filter.autocomplete }}">
              <mat-form-field *ngSwitchCase="'true'">
                <input
                  type="text"
                  matInput
                  placeholder="{{ filter.filterlabel }}"
                  formControlName="{{ filter.filtername }}"
                  (click)="
                    getControlName(
                      filter.filtername,
                      filter.apiName,
                      filter.fieldName,
                      filterGroup.controls[filter.filtername].value
                    )
                  "
                  (keyup)="
                    getControlValues(
                      filter.filtername,
                      filter.apiName,
                      filter.fieldName,
                      filterGroup.controls[filter.filtername].value
                    )
                  "
                  [matAutocomplete]="auto"
                />
                <mat-autocomplete
                  #auto="matAutocomplete"
               
                >
                  <mat-option
                    *ngIf="filterOptions[filter.filtername]?.length === 0"
                  >
                    <mat-spinner
                      [diameter]="20"
                      style="margin-left:43%;"
                    ></mat-spinner>
                  </mat-option>
                  <mat-option
                    *ngFor="let option of filterOptions[filter.filtername]"
                    [value]="option.fieldValue"
                  >
                    {{ option.fieldValue }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field *ngSwitchCase="'false'">
                <input
                  type="text"
                  matInput
                  placeholder="{{ filter.filterlabel }}"
                  formControlName="{{ filter.filtername }}"
                  (click)="
                    getControlName(
                      filter.filtername,
                      filter.apiName,
                      filter.fieldName,
                      filterGroup.controls[filter.filtername].value
                    )
                  "
                />
              </mat-form-field>
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'true'">
            <mat-form-field>
              <mat-label>{{ filter.filterlabel }}</mat-label>
              <mat-select
                formControlName="{{ filter.filtername }}"
                (click)="
                  getControlName(
                    filter.filtername,
                    filter.apiName,
                    filter.fieldName,
                    filterGroup.controls[filter.filtername].value
                  )
                "
              >
                <ng-container>
                  <mat-option
                    *ngIf="filterOptions[filter.filtername]?.length === 0"
                  >
                    <mat-spinner
                      [diameter]="20"
                      style="margin-left:43%;"
                    ></mat-spinner>
                  </mat-option>
                  <mat-option
                    *ngFor="let option of filterOptions[filter.filtername]"
                    [value]="option.fieldValue"
                  >
                    {{ option.fieldValue }}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
    <div class="footer">
      <button
        type="reset"
        mat-button
        class="footer-button"
        style="color: #FF4081; border: inherit"
      >
        <img
          src="assets/images/refresh.png"
          height="15px; width:14px;"
        />&nbsp;Reset
      </button>
      <button
        mat-button
        class="footer-button"
        (click)="onNoClick()"
        style="color: #FF4081; background-color: white;"
      >
        Cancel
      </button>
      <button
        type="submit"
        mat-button
        class="footer-button"
        style="background-color:#FF4081; color:white;"
        (click)="onNoClick()"
      >
        Apply
      </button>
    </div>
  </form>
</div>

<!-- Confirmation PopUp -->

<div class="pop-up" *ngIf="input.case === 'CONFIRMATION'">
  <div class="pop-up-header">
    <b mat-dialog-title>{{ input.title }}</b>
    <div mat-dialog-content>
      <p>{{ input.message }}</p>
    </div>
  </div>
  <div mat-dialog-actions class="pop-up-footer">
    <span
      ><button mat-button [mat-dialog-close]="!confirm">
        {{ input.noBtnTxt }}
      </button></span
    >
    <span
      ><button
        type="button"
        mat-button
        [mat-dialog-close]="confirm"
        cdkFocusInitial
      >
        {{ input.yesBtnTxt }}
      </button></span
    >
  </div>
</div>

<!-- Message PopUp -->
<div class="pop-up" *ngIf="input.case === 'MESSAGE'">
  <div class="pop-up-header">
    <b mat-dialog-title>{{ input.title }}</b>
    <div mat-dialog-content>
      <p>{{ input.message }}</p>
    </div>
  </div>
  <div mat-dialog-actions class="pop-up-footer">
    <span
      ><button mat-button cdkFocusInitial (click)="onNoClick()">
        {{ input.btnTxt }}
      </button></span
    >
  </div>
</div>

<!-- <div *ngIf="input.case === 'MESSAGE'" style="padding: 10px;">
  <h1 mat-dialog-title>{{ input.title }}</h1>
  <div mat-dialog-content>
    <p>{{ input.message }}</p>
  </div>
  <div mat-dialog-actions>
    <span><button mat-button cdkFocusInitial (click)="onNoClick()">
        {{ input.btnTxt }}
      </button></span>
  </div>
</div> -->
