<!-- center filter -->
<div class="filter" *ngIf="input.case === 'filter'">
  <h2 class="filter-heading">Add Filters</h2>
  <mat-divider></mat-divider>
  <form [formGroup]="filterGroup" (ngSubmit)="getFilterValuesOnSubmit()">
    <div class="flex-container">
      <ng-container *ngFor="let filter of FilterData">
        <ng-container ngSwitch="{{ filter.dropdown }}">
          <ng-container *ngSwitchCase="'false'">
            <ng-container ngSwitch="{{ filter.autocomplete }}">
              <mat-form-field *ngSwitchCase="'true'">
                <input
                  type="text"
                  matInput
                  placeholder="{{ filter.filterlabel }}"
                  formControlName="{{ filter.filtername }}"
                  (focus)="
                    getControlName(
                      filter,
                      filterGroup.controls[filter.filtername].value
                    )
                  "
                  (keyup)="
                    getControlName(
                      filter,
                      filterGroup.controls[filter.filtername].value
                    )
                  "
                  [matAutocomplete]="auto"
                />
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option
                    *ngIf="filterOptions[filter.filtername]?.length === 0"
                  >
                    <mat-spinner
                      [diameter]="20"
                      style="margin-left:43%;"
                    ></mat-spinner>
                  </mat-option>
                  <mat-option
                    *ngFor="let option of filterOptions[filter.filtername]"
                    [value]="option.fieldValue"
                  >
                    {{ option.fieldValue | status }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <ng-container *ngSwitchCase="'false'">
                <ng-container ngSwitch="{{ filter.datePicker }}">
                  <mat-form-field *ngSwitchCase="'true'">
                    <input
                      matInput
                      [matDatepicker]="picker"
                      placeholder="{{ filter.filterlabel }}"
                      formControlName="{{ filter.filtername }}"
                      (focus)="
                        getControlName(
                          filter,
                          filterGroup.controls[filter.filtername].value
                        )
                      "
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field *ngSwitchCase="'false'">
                    <input
                      type="text"
                      matInput
                      placeholder="{{ filter.filterlabel }}"
                      formControlName="{{ filter.filtername }}"
                      (focus)="
                        getControlName(
                          filter,
                          filterGroup.controls[filter.filtername].value
                        )
                      "
                      (keyup)="
                        getControlName(
                          filter,
                          filterGroup.controls[filter.filtername].value
                        )
                      "
                    />
                  </mat-form-field>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'true'">
            <mat-form-field>
              <mat-label>{{ filter.filterlabel }}</mat-label>
              <mat-select
                formControlName="{{ filter.filtername }}"
                (focus)="
                  getControlName(
                    filter,
                    filterGroup.controls[filter.filtername].value
                  )
                "
              >
                <ng-container>
                  <mat-option
                    *ngIf="filterOptions[filter.filtername]?.length === 0"
                  >
                    <mat-spinner
                      [diameter]="20"
                      style="margin-left:43%;"
                    ></mat-spinner>
                  </mat-option>
                  <mat-option
                    *ngFor="let option of filterOptions[filter.filtername]"
                    [value]="option.fieldValue"
                  >
                    {{ option.fieldValue | status }}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </ng-container>
        </ng-container>
      </ng-container>
      <mat-error *ngIf="requiredError">&nbsp; {{fieldName}}: {{'validationMessages.required' | translate}}</mat-error>
      <mat-error *ngIf="rangeError">&nbsp; {{fieldName}}: {{'validationMessages.range' | translate}}</mat-error>
      <mat-error *ngIf="!filterGroup.valid">&nbsp; {{'validationMessages.invalid' | translate}}</mat-error>
    </div>
    <div class="footer">
      <button
        type="reset"
        mat-button
        class="footer-button"
        style="color: #FF4081; border: inherit"
      >
        <img
          src="assets/images/refresh.png"
          height="15px; width:14px;"
        />&nbsp;Reset
      </button>
      <button
        mat-button
        class="footer-button"
        (click)="onNoClick()"
        style="color: #FF4081; background-color: white;"
      >
        Cancel
      </button>
      <button
        type="submit"
        mat-button
        class="footer-button"
        style="background-color:#FF4081; color:white;"
      >
        Apply
      </button>
    </div>
  </form>
</div>

<!-- Confirmation PopUp -->

<div class="pop-up" *ngIf="input.case === 'CONFIRMATION'">
  <div class="pop-up-header">
    <b mat-dialog-title>{{ input.title }}</b>
    <div mat-dialog-content>
      <p style="white-space: pre-line">{{ input.message }}</p>
    </div>
  </div>
  <div mat-dialog-actions class="pop-up-footer">
    <span
      ><button mat-button [mat-dialog-close]="!confirm">
        {{ input.noBtnTxt }}
      </button></span
    >
    <span
      ><button
        type="button"
        mat-button
        [mat-dialog-close]="confirm"
        cdkFocusInitial
      >
        {{ input.yesBtnTxt }}
      </button></span
    >
  </div>
</div>

<!-- Message PopUp -->
<div class="pop-up" *ngIf="input.case === 'MESSAGE'">
  <div class="pop-up-header">
    <b mat-dialog-title>{{ input.title }}</b>
    <div mat-dialog-content>
      <p>{{ input.message }}</p>
    </div>
  </div>
  <div mat-dialog-actions class="pop-up-footer">
    <span
      ><button mat-button cdkFocusInitial (click)="dismiss()">
        {{ input.btnTxt }}
      </button></span
    >
  </div>
</div>

<!-- Holiday -->

<div class="pop-up" [formGroup]="holidayForm" *ngIf="input.case === 'HOLIDAY'">
  <div class="pop-up-header">
    <b mat-dialog-title>{{ input.title }}</b>
    <div mat-dialog-content>
      <mat-form-field>
        <input matInput readonly formControlName="holidayDate" [matDatepicker]="picker" placeholder="{{'center.popupMessages.holiday-create.date-placeholder' | translate}}">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="f.holidayDate.touched && f.holidayDate.hasError('required')">{{'center.popupMessages.holiday-create.date-error' | translate}}</mat-error>
      </mat-form-field>
      <p><strong>{{'center.popupMessages.holiday-create.message-primary' | translate}}</strong></p>
      <table class="table-spacer">
        <tr>
        <td>
          <mat-form-field>
            <input matInput placeholder="{{'center.popupMessages.holiday-create.name-placeholder' | translate}}" formControlName="holidayNamePrimary">
            <mat-error *ngIf="f.holidayNamePrimary.touched && f.holidayNamePrimary.hasError('required')">Please enter a holiday name</mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
              <input matInput placeholder="{{'center.popupMessages.holiday-create.desc-placeholder' | translate}}" formControlName="holidayDescPrimary">
          </mat-form-field>
        </td>
        </tr>
      </table>
      <p><strong>{{'center.popupMessages.holiday-create.message-secondary' | translate}}</strong></p>
      <table class="table-spacer">
          <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="{{'center.popupMessages.holiday-create.name-placeholder' | translate}}" formControlName="holidayNameSecondary">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
                <input matInput placeholder="{{'center.popupMessages.holiday-create.desc-placeholder' | translate}}" formControlName="holidayDescSecondary">
            </mat-form-field>
          </td>
          </tr>
        </table>
    </div>
  </div>
  <div mat-dialog-actions class="pop-up-footer">
    <span
      ><button mat-button [mat-dialog-close]="">
        {{ input.noBtnTxt }}
      </button></span
    >
    <span
      ><button
        type="button"
        mat-button
        [mat-dialog-close]="holidayForm"
        cdkFocusInitial
        [disabled]="!holidayForm.valid"
        [ngStyle]="{ 
          'background-color': !holidayForm.valid ? '' : '#FF4081',
          'color': !holidayForm.valid ? '' : '#FFF'
       }"
      >
        {{ input.yesBtnTxt }}
      </button></span
    >
  </div>
</div>