.table-spacer > tr > td {
  padding: 5px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 14px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
.flex-container > .mat-form-field {
  width: 50%;
  padding: 4px 20px !important;
}
.flex-container > .mat-option-text {
  font-family: "Roboto", sans-serif;
  font-size: 12px !important;
}
.filter-heading {
  line-height: 14px;
  font-family: "Roboto", sans-serif;
  font-size: 14.5px;
  word-spacing: 1px;
  padding: 7px 20px;
}

.date-header {
  margin-left: 15px;
}
h5 {
  margin: 5px;
}
.footer {
  display: flex;
  justify-content: flex-end;
  bottom: 0;
  position: sticky;
  background-color: rgb(233, 233, 233);
  padding: 4px 15px;
}
.footer-button {
  border: 0.8px solid #FF4081;
  border-radius: 2px;
  margin: 5px;
  text-transform: capitalize;
  font-size: 11px;
  word-spacing: 1px;
  width: 80px;
  font-family: "Roboto", sans-serif;
  transform: scale(0.9);
}

.spinner {
  display: flex;
  margin: 120px;
}
.mat-dialog-container {
  border-radius: 0;
  padding: 0;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

// Confirmation popup

.pop-up {
  .pop-up-header {
    padding: 16px !important;
  }
  .mat-dialog-content {
    margin: 0 !important;
    padding: 0 !important;
  }
  .pop-up-footer  {
    background: #e6e7e7;
    margin-bottom: 0px;
    padding: 0 16px;
    .mat-button {
      outline: 1px solid #FF4081 !important;
      margin: 0 10px;
      border-radius: 0;
      color: #FF4081;
    }
  }
  .pop-up-footer {
    .mat-button:focus {
      background: #FF4081 !important;
      color: #ffffff;
      outline: 0 !important;
    }
  }
}
