.table-spacer > tr > td {
  padding: 5px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 14px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
.flex-container > .mat-form-field {
  width: 50%;
  padding: 4px 20px !important;
}
.flex-container > .mat-option-text {
  font-family: "Roboto", sans-serif;
  font-size: 12px !important;
}
.filter-heading {
  line-height: 14px;
  font-family: "Roboto", sans-serif;
  font-size: 14.5px;
  word-spacing: 1px;
  padding: 7px 20px;
}

.date-header {
  margin-left: 15px;
}
h5 {
  margin: 5px;
}
.footer {
  display: flex;
  justify-content: flex-end;
  bottom: 0;
  position: sticky;
  background-color: rgb(233, 233, 233);
  padding: 4px 15px;
}
.footer-button {
  border: 0.8px solid #FF4081;
  border-radius: 2px;
  margin: 5px;
  text-transform: capitalize;
  font-size: 11px;
  word-spacing: 1px;
  width: 80px;
  font-family: "Roboto", sans-serif;
  transform: scale(0.9);
}

.spinner {
  display: flex;
  margin: 120px;
}
.mat-dialog-container {
  border-radius: 0;
  padding: 0;
}

.mat-dialog-actions {
  justify-content: flex-end;
  height:61px;
}

// Confirmation popup
.mat-dialog-title {
  font-weight: 600;
  font-family:"Roboto", sans-serif;
  font-size: 16px;
}
.pop-up {
  .pop-up-header {
    padding: 16px !important;
  }
  .mat-dialog-content {
    margin: 0 !important;
    padding: 0 !important;
    font-family:"Roboto", sans-serif;
    font-size: small;
  }
  .pop-up-footer  {
    background: #e6e7e7;
    margin-bottom: 0px;
    padding: 0 16px;
    .mat-button {
      outline: 1px solid #FF4081 !important;
      margin: 0 10px;
      border-radius: 0;
      color: #FF4081;
    }
  }
  .pop-up-footer {
    .mat-button:focus {
      background: #FF4081 !important;
      color: #ffffff;
      outline: 0 !important;
    }
  }
}
.table-container {
  overflow: auto;
  width: 100%;
  margin: 0;
  min-height: auto;
  max-height: 370px;
}

table.mat-table {
  border-spacing: 0;
  width: 100%;
  box-sizing: border-box;
}

tr.mat-header-row {
  height: 35px !important;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff02;
  color: #0f2126;
}

tr.mat-row,
tr.mat-footer-row {
  height: 30px !important;
  font-family: "Roboto", sans-serif;
}

th.mat-header-cell {
  text-align: center;
  white-space: nowrap;
}
tr:nth-child(odd) {
  background-color: #e8e9e9;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
th.mat-header-cell {
  padding: 2px;
}
td.mat-cell {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 9.5px;
  line-height: 7px;
  cursor: pointer;
  font-weight: 200;
  color: #0f2126;
}
th.mat-header-cell:first-child,
td.mat-cell:first-child,
td.mat-footer-cell:first-child {
  padding-left: 20px;
}

th.mat-header-cell:last-child,
td.mat-cell:last-child,
td.mat-footer-cell:last-child {
  padding-right: 16px;
}
.table-header {
  background-color: #e6e7e7;
  color: #54595a;
  font-size: 9px;
  line-height: 7px;
  font-family: "Roboto", sans-serif;
  opacity: 1;
  letter-spacing: 0;
  height: 28px;
  font-weight: 600;
}
.container {
  overflow: auto;
  width: 100%;
  margin: 0;
  min-height: auto;
  max-height: 370px;
}

.sticky-header {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}
.mat-menu {
  border-radius: 0 !important;
}
:host::ng-deep .mat-menu-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.mat-menu-item{
  line-height:20px;
  height:30px;
  font-size: x-small;
  font-family: "Roboto", sans-serif;
}
.sort-icon {
  padding-top: 3px;
  margin-left: 3px;
  cursor: pointer !important;
}
.ellipsis-button {
  transform: scale(0.8);
}
.flex-display {
  display: inline-flex;
  align-items: center;
}
.text-alignment {
  text-align: left !important;
}
.columnName-sort-span {
  display: inline-flex;
  align-items: center;
}
.image-fade {
  opacity: 0.2;
}
