::ng-deep.mat-dialog-container {
  padding: 10px 1.5rem 1.5rem 1.7rem;
  border-radius: 0px;
}
.body-height {
  height: 60px;
}

.button-placer {
  margin: 0 0 0 20px;
}

.close-button-sizing {
  color: red;
  margin-left: 4px;
  font-size: 12px;
}

.table-container td {
  padding-right: 10px;
}
.consent-popup-title {
  font-size: 1rem;
  margin: 0px;
  color: #fd518c;
}
/* consent story desgin css */
.consent-popup-subtitle {
  font-size: 0.8rem;
  margin: 0px;
  font-weight: 600;
}
.accept-button {
  margin: 10px auto;
  color: white;
  background-color: #ff4081;
  border-radius: 2px;
}
.accept-button-disabled {
  margin: 10px auto;
  color: white;
  background-color: gray;
}
.consentpopup-content {
  font-size: 0.8rem;
  max-height: 200px;
}
.consentpopup-content::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: #f5f5f5;
}
.consentpopup-content::-webkit-scrollbar-thumb {
  background-color: #ff4081;
}
.consentpopup-content::-webkit-scrollbar {
  width: 3px;
  background-color: #f5f5f5;
}

.consent-popup-parent {
  position: relative;
}

.consent-popup-cross {
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 16px;
  background: transparent;
  min-height: 29px;
  border: none;
  outline: none;
  cursor: pointer;
}

.consent-popup-cross-icon {
  font-size: 1rem;
}

.checkbox-accept {
  font-size: 0.8rem;
}

/* consent story desgin css  */

.error-dialog {
  margin-bottom: 15px;
}

.mat-input-element {
  padding: 5px !important;

}
.div-bottom-spacing{
  padding-bottom: 20px;
}
.content-display-iniline-block{
  display:inline-block;
}

::ng-deep.data-capture .mat-dialog-container {
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 100%;
  padding: 0px !important;
}
.select-lang-header {
  background-color: #fd518c;
  font-size: 16px;
  color: white;
  padding: 10px;
  font-weight: 500;
  height: 45px;
}
.select-lang-body {
  margin: 7px;
  padding: 8px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  height: 230px;
}
.language-selection-section {
  margin-left: 30px;
  margin-right: 15px;
  margin-top: 20px;
  display: inline-flex;
  justify-content: space-between;
}
.lang-selection-footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
.lang-selection-footer-btn-cancel {
  margin-right: 4px;
  border: 1px solid #ff4081;
  color: #ff4081;
  background-color: whit;
}
.lang-selection-footer-btn-submit {
  background-color: #ff4081;
  margin-right: 4px;
  border: none;
  color: white;
}
.spacer {
  flex: 1 1 auto;
}