.mat-card {
  border-radius: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-top: 1rem;
}

.header {
  display: block;
  font-size: 13.5px;
  font-weight: bold;
  margin-top: 32px;
  margin-bottom: 16px;

  font-family: "Roboto", sans-serif;
}

.breadcrumb {
  font-size: 9.5px;
  position: absolute;
  margin-top: 13px;
  font-family: "Roboto", sans-serif;
}

.breadcrumb > a {
  text-decoration: none;
  cursor: pointer;
}
