<span class="breadcrumb"><a (click)="changePage()">{{'masterData.masterDataTypes' | translate}}</a>&nbsp;&nbsp; / &nbsp;&nbsp;{{mapping.name[primaryLang]}}</span>
<ng-container>
<span><p class="header">{{mapping.name[primaryLang]}}</p></span>
<mat-card class="mat-elevation-z3">
    <app-toolbar
      *ngIf="
        actionEllipsis && actionEllipsis  && paginatorOptions
      "
      [buttonList]="actionEllipsis"
      [paginationOptions]="paginatorOptions"
      [filtersAppliedFlag]="filtersApplied"
      (pageEvent)="pageEvent($event)"
    ></app-toolbar>
    <app-table
      *ngIf="masterData && displayedColumns && actionButtons"
      [data]="masterData"
      [displayedColumns]="displayedColumns"
      [buttonList]="actionButtons"
      [sortData]="sortFilter"
      [noDataFlag]="noData"
      (sort)="getSortColumn($event)"
    ></app-table>
  </mat-card>
</ng-container>
<!-- <ng-template #nodata><mat-spinner class="spinner-placer"></mat-spinner></ng-template> -->