<ng-container>
<span><h3 class="header">{{'devices.title'|translate}}</h3></span>
<mat-card class="mat-elevation-z5">
  <app-toolbar
    *ngIf="
      actionEllipsis && actionEllipsis  && paginatorOptions
    "
    [buttonList]="actionEllipsis"
    [paginationOptions]="paginatorOptions"
    [filtersAppliedFlag]="filtersApplied"
    (pageEvent)="pageEvent($event)"
  ></app-toolbar>
  <app-table
    *ngIf="devices && displayedColumns && actionButtons"
    [data]="devices"
    [displayedColumns]="displayedColumns"
    [buttonList]="actionButtons"
    [sortData]="sortFilter"
    [noDataFlag]="noData"
    (sort)="getSortColumn($event)"
  ></app-table>
</mat-card>
</ng-container>
<!-- <ng-template #nodata><mat-spinner class="spinner-placer"></mat-spinner></ng-template> -->