<div id="flex-single-view" style="padding-top: 12px;">
  <div id="flex-container">
   <div class="card">
      <mat-card>
        <div class="item1">
          <div class="profile-img">
            <img src="./assets/images/icon_center.svg" alt="img">
          </div>
          <div class="item2">
            <h3>{{'generatemasterkey.title' | translate}}</h3>
          </div>
        </div>
      </mat-card>
    </div>
    <div id="myDiv" class="flex-body">
      <mat-card>
        <mat-card-content class="forms-container">
          <div [formGroup]="createForm" class="primary-form" *ngIf="createForm"> 
            <mat-form-field>
              <mat-label>{{'generatemasterkey.objectType' | translate}}</mat-label>
              <mat-select formControlName="objectType" required>
                <mat-option
                  *ngFor="let data of objectType"
                  [value]="data.id"
                >
                  {{ data.value}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="createForm.controls.applicationId.touched">
                {{'genericerror.fieldValidation' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'generatemasterkey.applicationId' | translate}}</mat-label>
              <mat-select formControlName="applicationId" required>
                <mat-option
                  *ngFor="let data of applicationId"
                  [value]="data.id"
                >
                  {{ data.value}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="createForm.controls.applicationId.touched">
                {{'genericerror.fieldValidation' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                #referenceId
                matInput
                formControlName="referenceId"
                placeholder="{{'generatemasterkey.referenceId' | translate}}"
                [value]=""
              />
              <mat-error *ngIf="createForm.controls.applicationId.touched">
                {{'genericerror.fieldValidation' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                #commonName
                matInput
                formControlName="commonName"
                placeholder="{{'generatemasterkey.commonName' | translate}}"
                [value]=""
              />
              <mat-error *ngIf="createForm.controls.applicationId.touched">
                {{'genericerror.fieldValidation' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                #organization
                matInput
                formControlName="organization"
                placeholder="{{'generatemasterkey.organization' | translate}}"
                [value]=""
              />
              <mat-error *ngIf="createForm.controls.applicationId.touched">
                {{'genericerror.fieldValidation' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                #organizationUnit
                matInput
                formControlName="organizationUnit"
                placeholder="{{'generatemasterkey.organizationUnit' | translate}}"
                [value]=""
              />
              <mat-error *ngIf="createForm.controls.applicationId.touched">
                {{'genericerror.fieldValidation' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                #location
                matInput
                formControlName="location"
                placeholder="{{'generatemasterkey.location' | translate}}"
                [value]=""
              />
              <mat-error *ngIf="createForm.controls.applicationId.touched">
                {{'genericerror.fieldValidation' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                #state
                matInput
                formControlName="state"
                placeholder="{{'generatemasterkey.state' | translate}}"
                [value]=""
              />
              <mat-error *ngIf="createForm.controls.applicationId.touched">
                {{'genericerror.fieldValidation' | translate}}
              </mat-error>
            </mat-form-field>
            
            <mat-form-field>
              <input
                #country
                matInput
                formControlName="country"
                placeholder="{{'generatemasterkey.country' | translate}}"
                [value]=""
              />
              <mat-error *ngIf="createForm.controls.applicationId.touched">
                {{'genericerror.fieldValidation' | translate}}
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{'generatemasterkey.force' | translate}}</mat-label>
              <mat-select formControlName="force">
                <mat-option
                  *ngFor="let data of force"
                  [value]="data.id"
                >
                  {{ data.value}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="createForm.controls.applicationId.touched">
                {{'genericerror.fieldValidation' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions class="action-buttons">
          <button
            id="createButton"
            mat-raised-button
            (click)="submit()"
          >
          {{'generatemasterkey.button' | translate}}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
