<div id="flex-single-view" style="padding-top: 12px;">
  <div id="flex-container">
   <div class="card">
      <mat-card>
        <div class="item1">
          <div class="profile-img">
            <img src="./assets/images/icon_center.svg" alt="img">
          </div>
          <div class="item2">
            <h3>Generate Masterkey Test Modified</h3>
          </div>
        </div>
      </mat-card>
    </div>
    <div id="myDiv" class="flex-body">
      <mat-card>
        <mat-card-content class="forms-container">
          <div [formGroup]="createForm" class="primary-form" *ngIf="createForm"> 
            <mat-form-field>
              <mat-label>Object Type</mat-label>
              <mat-select formControlName="objectType">
                <mat-option
                  *ngFor="let data of objectType"
                  [value]="data.id"
                >
                  {{ data.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Application Id</mat-label>
              <mat-select formControlName="applicationId">
                <mat-option
                  *ngFor="let data of applicationId"
                  [value]="data.id"
                >
                  {{ data.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input
                #referenceId
                matInput
                formControlName="referenceId"
                placeholder="ReferenceId"
                [value]=""
              />
            </mat-form-field>
            <mat-form-field>
              <input
                #commonName
                matInput
                formControlName="commonName"
                placeholder="Common Name"
                [value]=""
              />
            </mat-form-field>
            <mat-form-field>
              <input
                #organization
                matInput
                formControlName="organization"
                placeholder="Organization"
                [value]=""
              />
            </mat-form-field>
            <mat-form-field>
              <input
                #organizationUnit
                matInput
                formControlName="organizationUnit"
                placeholder="Organization unit"
                [value]=""
              />
            </mat-form-field>
            <mat-form-field>
              <input
                #location
                matInput
                formControlName="location"
                placeholder="Location"
                [value]=""
              />
            </mat-form-field>
            <mat-form-field>
              <input
                #state
                matInput
                formControlName="state"
                placeholder="State"
                [value]=""
              />
            </mat-form-field>
            
            <mat-form-field>
              <input
                #country
                matInput
                formControlName="country"
                placeholder="Country"
                [value]=""
              />
            </mat-form-field>

            <mat-form-field>
              <mat-label>Force</mat-label>
              <mat-select formControlName="force">
                <mat-option
                  *ngFor="let data of force"
                  [value]="data.id"
                >
                  {{ data.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions class="action-buttons">
          <button
            id="createButton"
            mat-raised-button
            (click)="submit()"
          >
          Generate
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
