@import "../../theme";
@import "../../breakpoints";

#parent-component {
  .mat-sidenav {
    width: 200px;
    @media (max-width: 600px) {
      width: 180px;
      font-size: 13px;
    }
  }
  .mat-sidenav-container {
    background-color: #f0f0f0 !important;
    height: calc(100vh - 80px);
    @media (max-width: 840px) {
      height: 100vh !important;
    }

    .mat-sidenav-content {
      margin-left: 220px !important;
      margin-right: 20px !important;
      display: flex;
      flex-direction: column;
      @media (max-width: 840px) {
        margin-left: 28px !important;
        margin-right: 28px !important;
      }
    }
  }
  .mat-toolbar-single-row {
    height: 80px;
    @media (max-width: 600px) {
      height: 56px !important;
      padding: 0px !important;
    }
  }

  @include breakpoint-max(600px) {
    .fixed-topnav {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100% !important;
    }

    .mat-drawer-container,
    .mat-drawer {
      padding-top: 10vh;
    }
  }
}
