<div id="parent-component">
  <div class="fixed-topnav">
    <app-header [screenResize]="screenWidth">></app-header>
  </div>
  <mat-sidenav-container>
    <mat-sidenav #appDrawer [opened]="screenWidth > 840" [mode]="(screenWidth > 840) ? 'side' : 'over'">
      <mat-nav-list>
        <div *ngFor="let item of navItems; let i = index">
          <app-side-menu [index]="i" [screenResize]="screenWidth" [item]="item"></app-side-menu>
        </div>
      </mat-nav-list>
    </mat-sidenav>
        <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>