@import "../../breakpoints";

#parent-component {
  /* width */
  ::-webkit-scrollbar {
    width: .8em;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .mat-sidenav {
    width: 250px;
    z-index: 10;
    @media (max-width: 600px) {
      width: 140px;
      font-size: 12px;
    }
  }
  .mat-sidenav-container {
    background: #f0f0f0 0% 0% no-repeat padding-box;
    opacity: 1;
    height: calc(100vh - 53px);
    @media (max-width: 840px) {
      height: 100vh !important;
    }

    .mat-sidenav-content {      
      display: flex;
      flex-direction: column;
      @media (max-width: 840px) {
        margin-left: 28px !important;
        margin-right: 28px !important;
      }
    }
  }
  
  .mat-sidenav-content-ltr {
    margin-left: 255px !important;
    margin-right: 30px !important;
  }

  .mat-sidenav-content-rtl {
    margin-right: 255px !important;
    margin-left: 30px !important;
  }

  .mat-toolbar-single-row {
    height: 53px;
    @media (max-width: 600px) {
      height: 56px !important;
      padding: 0px !important;
    }
  }

  @include breakpoint-max(600px) {
    .fixed-topnav {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100% !important;
    }

    .mat-drawer-container,
    .mat-drawer {
      padding-top: 10vh;
    }
  }
}

app-view, app-rid-status, app-list-view, app-single-view, app-create, app-document-category-mapping{
  margin-left: 30px !important;
  margin-right: 30px !important;
}

/*mat-keyboard-container {
    min-width: 30% !important;
    margin-left: 29% !important;
    max-width:29% !important;
}

mat-keyboard-key > button.mat-raised-button{
  padding: 0 3px !important;
  line-height: 12px !important;
  font-size: 9px !important;
}

.mat-keyboard-wrapper{
  padding: 5px 4px !important;
}
*/
button.mat-button{
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  width: 150px !important;
}
