<div id="parent-component" dir="{{sitealignment}}">
  <div class="fixed-topnav">
    <app-header [screenResize]="screenWidth">></app-header>
  </div>
  <mat-sidenav-container>
    <mat-sidenav #appDrawer [opened]="screenWidth > 840" [mode]="(screenWidth > 840) ? 'side' : 'over'">
      <mat-nav-list>
        <div *ngFor="let item of navItems; let i = index">
          <app-side-menu *ngIf="rolesService.checkRole(item)" [index]="i" [screenResize]="screenWidth" [item]="item"></app-side-menu>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <router-outlet [ngClass]="{'mat-sidenav-content-rtl':sitealignment==='rtl', 'mat-sidenav-content-ltr':sitealignment==='ltr'}"></router-outlet>
  </mat-sidenav-container>
</div>