<span class="breadcrumb">
        <a (click)="changePage('home')">{{'masterData.masterDataTypes' | translate}} &nbsp;&nbsp;</a> / 
        <a (click)="changePage('list')">&nbsp;&nbsp; {{ mapping.name[primaryLangCode] }} &nbsp;&nbsp;</a> / 
        &nbsp;&nbsp; {{ mapping.name[primaryLangCode] }}  {{'detailView.detail' | translate}}
</span>
<br><br>
<app-mater-data-common-view
        *ngIf="mapping && specFileData && !showSpinner"
        [masterDataName]="masterDataName"
        [headerData]="headerData"
        [primaryData]="primaryData"
        [secondaryData]="secondaryData"
        [fields]="specFileData"
        [primaryLang]="primaryLangCode"
        [secondaryLang]="secondaryLangCode"
        [masterdataType]="masterdataType">
</app-mater-data-common-view>
<!-- <mat-card *ngIf="noRecordFound" >{{'singleView.errorMessages.0'| translate}}</mat-card> -->
<mat-spinner class="spinner-placer" *ngIf="showSpinner"></mat-spinner>