<span class="breadcrumb">
        <a (click)="changePage('home')">{{'masterData.masterDataTypes' | translate}} &nbsp;&nbsp;</a> / 
        <a (click)="changePage('list')">&nbsp;&nbsp; {{ mapping.name[primaryLang] }} &nbsp;&nbsp;</a> / 
        &nbsp;&nbsp; {{ mapping.name[primaryLang] }}  {{'detailView.detail' | translate}}
</span>
<br><br>
<app-mater-data-common-view
        *ngIf="mapping && headerData && specFileData && !showSpinner"
        [masterDataName]="mapping.name[primaryLang]"
        [headerData]="headerData"
        [primaryData]="primaryData"
        [secondaryData]="secondaryData"
        [fields]="specFileData"
        [primaryLang]="primaryLangCode"
        [secondaryLang]="secondaryLangCode">
</app-mater-data-common-view>
<mat-spinner class="spinner-placer" *ngIf="showSpinner"></mat-spinner>