.spinner-placer {
    margin: 20% 0 0 40%;
}

.breadcrumb {
    font-size: 9.5px;
    position: absolute;
    margin-top: 13px;
    font-family: "Roboto", sans-serif;
}

.breadcrumb > a {
    text-decoration: none;
    cursor: pointer;
}

.mat-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:50%;
    margin: 20% 0 0 20%;
}