<div class="flex-body">
    <mat-card>
        <mat-card-content class="forms-container" *ngIf="pageName !=='Location'">
            <div class="primary-form">
                <div style="padding-bottom: 50px;"></div>
                <strong class="title">{{'center.language' | translate }}</strong>
                <span
                  *ngIf="!disableForms"
                  matTooltip="{{ 'center.keyboard-tooltip' | translate }}"
                  (click)="openKeyboard('primary')"
                  style="color: grey; cursor: pointer;"
                  [ngStyle]="isPrimaryLangRTL ? {'float':'left'} : {'float':'right'}"
                  ><i class="material-icons">keyboard</i></span
                >
                <hr />
                <br /><br />
                <div *ngFor="let field of fields; let i = index" class="mat-form1">
                    <mat-form-field *ngIf="field.showInSingleView === 'true' && field.inputType === 'text' && field.name !== 'code'">
                      <input
                        #keyboardRef
                        #{{field.name}}
                        (blur)="captureValue($event, field.name, 'primary')"
                        (focus)="scrollPage(field.name, 'primary', field.name, i)"
                        matInput
                        placeholder="{{
                          field.label[primaryLang] | translate
                        }}"
                        [value]="primaryData[field.name]"
                        field.required
                        *ngIf="field.name !== 'fieldVal'"
                      />
                      <input
                        #keyboardRef
                        #{{field.name}}
                        (blur)="captureValue($event, field.name, 'primary')"
                        (focus)="scrollPage(field.name, 'primary', field.name, i)"
                        matInput
                        placeholder="{{
                          field.label[primaryLang] | translate
                        }}"
                        [value]="primaryData[field.name]"
                        field.required
                        *ngIf="field.name === 'fieldVal'"
                      />
                    </mat-form-field>
                    <mat-form-field *ngIf="field.showInSingleView === 'true' && field.inputType === 'text' && field.name === 'code' && isCreateForm">
                      <input
                        #keyboardRef
                        #{{field.name}}
                        (blur)="captureValue($event, field.name, 'primary')"
                        (focus)="scrollPage(field.name, 'primary', field.name, i)"
                        matInput
                        placeholder="{{
                          field.label[primaryLang] | translate
                        }}"
                        [value]="primaryData[field.name]"
                        field.required
                      />
                    </mat-form-field>

                    <mat-form-field *ngIf="field.showInSingleView === 'true' && field.inputType === 'text' && field.name === 'code' && !isCreateForm">
                      <input
                        #keyboardRef
                        #{{field.name}}
                        (blur)="captureValue($event, field.name, 'primary')"
                        (focus)="scrollPage(field.name, 'primary', field.name, i)"
                        matInput
                        placeholder="{{
                          field.label[primaryLang] | translate
                        }}"
                        [value]="primaryData[field.name]"
                        field.required
                        readonly
                        disabled
                      />
                    </mat-form-field>

                    <mat-form-field *ngIf="field.showInSingleView === 'true' && field.inputType === 'calendar'">
                      <input
                        matInput
                        [min]="tomorrow"
                        [matDatepicker]="picker"
                        (dateChange)="captureDatePickerValue($event, field.name, 'primary')"
                        formControlName="holidayDate"
                        placeholder="{{field.label[primaryLang] | translate}}"
                        [value]="primaryData[field.name]"
                        field.required
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <div *ngIf="field.showInSingleView === 'true' && field.inputType === 'dropdown' && field.name === 'locationCode'">
                      <mat-form-field>
                        <mat-select 
                          formControlName="locationCode"
                          [value]="primaryData[field.name]"
                          placeholder="{{ field.label[primaryLang] }}">
                          <mat-option *ngFor="let data of dropDownValues['locationCode']['primary']" 
                          (onSelectionChange)="captureDropDownValue($event, field.name, 'primary')" 
                          [value]="data.code">
                            {{ data.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <mat-form-field *ngIf="field.showInSingleView === 'true' && field.inputType === 'dropdown' && field.name != 'locationCode'">
                      <div *ngIf="field.name === 'deviceTypeCode'">
                      <mat-select
                        formControlName="deviceTypeCode"
                        [value]="primaryData[field.name]"
                        placeholder="{{ field.label[primaryLang] }}"
                      >
                        <mat-option
                          *ngFor="let data of dropDownValues.deviceTypeCode.primary"
                          (onSelectionChange)="
                            captureDropDownValue($event, field.name, 'primary')
                          "
                          [value]="data.fieldCode"
                        >
                          {{ data.fieldValue }}
                        </mat-option>
                      </mat-select>
                      </div>
                      <div *ngIf="field.name === 'machineTypeCode'">
                      <mat-select
                        formControlName="machineTypeCode"
                        [value]="primaryData[field.name]"
                        placeholder="{{ field.label[primaryLang] }}"
                      >
                        <mat-option
                          *ngFor="let data of dropDownValues.machineTypeCode.primary"
                          (onSelectionChange)="
                            captureDropDownValue($event, field.name, 'primary')
                          "
                          [value]="data.fieldCode"
                        >
                          {{ data.fieldValue }}
                        </mat-option>
                      </mat-select>
                      </div>
                      <div *ngIf="field.name === 'fileFormatCode'">
                        <mat-select
                          formControlName="fileFormatCode"
                          [value]="primaryData[field.name]"
                          placeholder="{{ field.label[primaryLang] }}"
                        >
                          <mat-option
                            *ngFor="let data of dropDownValues.fileFormatCode.primary"
                            (onSelectionChange)="
                              captureDropDownValue($event, field.name, 'primary')
                            "
                            [value]="data.code"
                          >
                            {{ data.description }}
                          </mat-option>
                        </mat-select>
                        </div>
                        <div *ngIf="field.name === 'templateTypeCode'">
                        <mat-select
                          formControlName="templateTypeCode"
                          [value]="primaryData[field.name]"
                          placeholder="{{ field.label[primaryLang] }}"
                        >
                          <mat-option
                            *ngFor="let data of dropDownValues.templateTypeCode.primary"
                            (onSelectionChange)="
                              captureDropDownValue($event, field.name, 'primary')
                            "
                            [value]="data.code"
                          >
                            {{ data.description }}
                          </mat-option>
                        </mat-select>
                        </div>
                        <div *ngIf="field.name === 'moduleId'">
                        <mat-select
                          formControlName="moduleId"
                          [value]="primaryData[field.name]"
                          placeholder="{{ field.label[primaryLang] }}"
                        >
                          <mat-option
                            *ngFor="let data of dropDownValues.moduleId.primary"
                            (onSelectionChange)="
                              captureDropDownValue($event, field.name, 'primary')
                            "
                            [value]="data.id"
                          >
                            {{ data.description }}
                          </mat-option>
                        </mat-select>
                        </div>
                      <div *ngIf="field.name === 'hierarchyLevel'">
                      <mat-select
                        formControlName="hierarchyLevel"
                        [value]="primaryData[field.name]" 
                        placeholder="{{ field.label[primaryLang] }}"               
                      >
                        <mat-option
                          *ngFor="let data of dropDownValues.hierarchyLevelCode.primary"
                          (onSelectionChange)="
                            captureLocationDropDownValue($event, field.name, 'primary')
                          "
                          [value]="data.locationHierarchylevel"
                        >
                          {{ data.locationHierarchyName }}
                        </mat-option>
                      </mat-select>
                      </div>

                      
                      <div *ngIf="field.name === 'isActive'">
                      <mat-select
                        id="{{field.name}}"
                        placeholder="{{ field.label[primaryLang] }}"
                        [value]="primaryData[field.name]"
                        >
                        <mat-option
                          *ngFor="let data of dropDownValues.isActive"
                          (onSelectionChange)="
                            captureDropDownValue($event, field.name, 'primary')
                          "
                          [value]="data"
                        >
                          {{ data | status }}
                        </mat-option>
                      </mat-select>
                      </div>
                    </mat-form-field>

                </div>
            </div>
            <mat-divider [vertical]="true" [inset]="true"></mat-divider>
              <div *ngIf="showSecondaryForm" class="secondary-form" [ngStyle]="{'text-align': (secondaryLang==='ara') ? 'right' : 'left'}">
                <mat-form-field style="padding-bottom: 10px;">
                <mat-label><b>{{ "center.selectLanguage" | translate }}</b></mat-label>
                  <mat-select
                    formControlName="selectLanguage"
                    [(value)]="secondaryLang"
                  >
                    <mat-option
                      *ngFor="let data of selectLanguagesArr"
                      (onSelectionChange)="captureLanguage($event, data.code)"
                      [value]="data.code"
                    >
                      {{ data.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <strong class="title" [ngStyle]="isPrimaryLangRTL ? {'float':'right'} : {'float':'left'}">{{ secondaryLangDisplay }}</strong>
                <span
                  *ngIf="!disableForms"
                  matTooltip="{{languageNames['keyboard-tooltip'] | translate }}"
                  (click)="openKeyboard('secondary')"
                  style="color: grey; cursor: pointer;"
                  [ngStyle]="isPrimaryLangRTL ? {'float':'left'} : {'float':'right'}"
                  ><i class="material-icons">keyboard</i></span
                >
                <hr  [ngStyle]="isPrimaryLangRTL ? {'margin-top': '17px'} : {'margin-top': '0px'}"   />
                <br /><br />
                <div *ngFor="let field of fields; let ii = index" class="mat-form2" [ngStyle]="{'text-align': (secondaryLang==='ara') ? 'right' : 'left'}">
                    <mat-form-field *ngIf="field.showInSingleView === 'true' && field.inputType === 'text' && field.name !== 'code'">
                      <input
                        #keyboardRef
                        #{{field.name}}
                        (blur)="captureValue($event, field.name, 'secondary')"
                        (focus)="scrollPage(field.name, 'secondary', field.name, ii + this.fieldsCount)"
                        matInput
                        placeholder="{{
                          field.label[secondaryLang]
                        }}"
                        [value]="secondaryData[field.name]"
                      />
                    </mat-form-field>
                    <mat-form-field *ngIf="field.showInSingleView === 'true' && field.inputType === 'text' && field.name === 'code' && isCreateForm">
                      <input
                        #keyboardRef
                        #{{field.name}}
                        (blur)="captureValue($event, field.name, 'secondary')"
                        (focus)="scrollPage(field.name, 'secondary', field.name, ii + this.fieldsCount)"
                        matInput
                        placeholder="{{
                          field.label[secondaryLang]
                        }}"
                        [value]="secondaryData[field.name]"
                      />
                    </mat-form-field>
                    <mat-form-field *ngIf="field.showInSingleView === 'true' && field.inputType === 'text' && field.name === 'code' && !isCreateForm">
                      <input
                        #keyboardRef
                        #{{field.name}}
                        (blur)="captureValue($event, field.name, 'secondary')"
                        (focus)="scrollPage(field.name, 'secondary', field.name, ii + this.fieldsCount)"
                        matInput
                        placeholder="{{
                          field.label[secondaryLang]
                        }}"
                        [value]="secondaryData[field.name]"
                        readonly
                        disabled
                      />
                    </mat-form-field>
                    <mat-form-field *ngIf="field.showInSingleView === 'true' && field.inputType === 'calendar'">
                      <input
                        matInput
                        [min]="tomorrow"
                        [matDatepicker]="picker1"
                        (dateChange)="captureDatePickerValue($event, field.name, 'secondary')"
                        formControlName="holidayDate"
                        placeholder="{{field.label[secondaryLang] | translate}}"
                        [value]="secondaryData[field.name]"
                        field.required
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker1"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>

                    <div *ngIf="field.showInSingleView === 'true' && field.inputType === 'dropdown' && field.name === 'locationCode'">
                      <mat-form-field>
                        <mat-select 
                          formControlName="locationCode"
                          [value]="primaryData[field.name]"
                          placeholder="{{ field.label[secondaryLang] }}">
                          <mat-option *ngFor="let data of dropDownValues['locationCode']['secondary']" 
                          (onSelectionChange)="captureDropDownValue($event, field.name, 'secondary')" 
                          [value]="data.code">
                            {{ data.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                      <mat-form-field *ngIf="field.showInSingleView === 'true' && field.inputType === 'dropdown' && field.name !== 'locationCode'">
                      <div *ngIf="field.name === 'deviceTypeCode'">
                       <mat-select
                        formControlName="deviceTypeCode"
                        [value]="secondaryData[field.name]"
                        placeholder="{{ field.label[secondaryLang] }}"
                      >
                        <mat-option
                          *ngFor="let data of dropDownValues.deviceTypeCode.secondary"
                          (onSelectionChange)="
                            captureDropDownValue($event, field.name, 'secondary')
                          "
                          [value]="data.fieldCode"
                        >
                          {{ data.fieldValue }}
                        </mat-option>
                      </mat-select>
                      </div>
                      <div *ngIf="field.name === 'machineTypeCode'">
                       <mat-select
                        formControlName="machineTypeCode"
                        [value]="secondaryData[field.name]"
                        placeholder="{{ field.label[secondaryLang] }}"
                      >
                        <mat-option
                          *ngFor="let data of dropDownValues.machineTypeCode.secondary"
                          (onSelectionChange)="
                            captureDropDownValue($event, field.name, 'secondary')
                          "
                          [value]="data.fieldCode"
                        >
                          {{ data.fieldValue }}
                        </mat-option>
                      </mat-select>
                      </div>
                      <div *ngIf="field.name === 'fileFormatCode'">
                        <mat-select
                          formControlName="fileFormatCode"
                          [value]="secondaryData[field.name]"
                          placeholder="{{ field.label[secondaryLang] }}"
                        >
                          <mat-option
                            *ngFor="let data of dropDownValues.fileFormatCode.secondary"
                            (onSelectionChange)="
                              captureDropDownValue($event, field.name, 'secondary')
                            "
                            [value]="data.code"
                          >
                            {{ data.description }}
                          </mat-option>
                        </mat-select>
                        </div>
                        <div *ngIf="field.name === 'templateTypeCode'">
                        <mat-select
                          formControlName="templateTypeCode"
                          [value]="secondaryData[field.name]"
                          placeholder="{{ field.label[secondaryLang] }}"
                        >
                          <mat-option
                            *ngFor="let data of dropDownValues.templateTypeCode.secondary"
                            (onSelectionChange)="
                              captureDropDownValue($event, field.name, 'secondary')
                            "
                            [value]="data.code"
                          >
                            {{ data.description }}
                          </mat-option>
                        </mat-select>
                        </div>
                        <div *ngIf="field.name === 'moduleId'">
                        <mat-select
                          formControlName="moduleId"
                          [value]="secondaryData[field.name]"
                          placeholder="{{ field.label[secondaryLang] }}"
                        >
                          <mat-option
                            *ngFor="let data of dropDownValues.moduleId.secondary"
                            (onSelectionChange)="
                              captureDropDownValue($event, field.name, 'secondary')
                            "
                            [value]="data.id"
                          >
                            {{ data.description }}
                          </mat-option>
                        </mat-select>
                        </div>
                     
                      <div *ngIf="field.name === 'hierarchyLevel'">
                      <mat-select
                        formControlName="hierarchyLevel"
                        [value]="secondaryData[field.name]" 
                        placeholder="{{ field.label[secondaryLang] }}"
                        disabled = true              
                      >
                        <mat-option
                          *ngFor="let data of dropDownValues.hierarchyLevelCode.secondary"
                          (onSelectionChange)="
                            captureLocationSecondaryDropDownValue($event, field.name, 'secondary')
                          "
                          [value]="data.locationHierarchylevel"
                        >
                          {{ data.locationHierarchyName }}
                        </mat-option>
                      </mat-select>
                      </div>             
                      

                      <div *ngIf="field.name === 'isActive'">
                      <mat-select
                        id="{{field.name}}"
                        placeholder="{{ field.label[secondaryLang] }}"
                        [value]="secondaryData[field.name]"
                        >
                        <mat-option
                          *ngFor="let data of dropDownValues.isActive"
                          (onSelectionChange)="
                            captureDropDownValue($event, field.name, 'secondary')
                          "
                          [value]="data"
                        >
                          {{ data | status }}
                        </mat-option>
                      </mat-select>
                      </div>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-content class="forms-container" *ngIf="pageName ==='Location'">
          <div class="primary-form">
            <strong class="title">{{'center.language' | translate }}</strong>
            <span
              *ngIf="!disableForms && pageName !=='Blacklisted Word'"
              matTooltip="{{ 'center.keyboard-tooltip' | translate }}"
              (click)="openKeyboard('primary')"
              style="float: right; color: grey; cursor: pointer;"
              ><i class="material-icons">keyboard</i></span
            >
            <hr />
            <br /><br />
            <mat-form-field>
              <mat-select
                id="hierarchyLevel"
                placeholder="Hierarchy Level"
                [value]="primaryData.hierarchyLevel"
                >
                <mat-option
                  *ngFor="let data of dropDownValues.hierarchyLevelCode.primary"
                  (onSelectionChange)="
                    captureDropDownValue($event, 'hierarchyLevel', 'primary')
                  "
                  [value]="data.locationHierarchylevel"
                >
                  {{ data.locationHierarchyName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        <mat-divider [vertical]="true" [inset]="true"></mat-divider>
          <div *ngIf="showSecondaryForm" class="secondary-form">
            <strong class="title">{{ secondaryLangDisplay }}</strong>
            <span
              *ngIf="!disableForms"
              matTooltip="{{languageNames['keyboard-tooltip'] | translate }}"
              (click)="openKeyboard('secondary')"
              style="float: right; color: grey; cursor: pointer;"
              ><i class="material-icons">keyboard</i></span
            >
            <hr />
            <br /><br />
            <mat-form-field>
              <mat-select
                id="hierarchyLevel"
                placeholder="Hierarchy Level"
                [value]="secondaryData.hierarchyLevel"
                >
                <mat-option
                  *ngFor="let data of dropDownValues.hierarchyLevelCode.secondary"
                  [value]="data.locationHierarchylevel"
                >
                  {{ data.locationHierarchyName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          </mat-card-content>
        <mat-card-actions class="action-buttons">
        <button id="createButton" mat-raised-button (click)="submit()">
        {{ "genericbutton.save" | translate }}
        </button>
        <button mat-raised-button (click)="changePage('list')">
        {{ "center.cancel" | translate }}
        </button>
        </mat-card-actions>
    </mat-card>
</div>