@import '~@angular/material/theming';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker hue.
$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-green);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Roboto, sans-serif',
  $headline: mat-typography-level(16px, 32px, 600),
  $body-1: mat-typography-level(14px, 13px, 300),
  $caption: mat-typography-level(15px, 15px, 300),
  $subheading-1: mat-typography-level(13px, 13px, 200)
);
