* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spacing {
  margin-top: 20%;
}

.error {
  font-size: 13px;
  color: red;
  font-weight: bolder;
  margin-top: -10px;
}

.loading {
  font-size: 13px;
  font-weight: bolder;
  margin-top: -10px;
}

.form_wrapper {
  margin: 4% 0%;
  line-height: 2rem;
  height: 64vh;
}

.form_fields_padding {
  margin: 5px auto;
  width: 38vw;
  max-width: 323px;
}

.heading {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  
}

.subHeading {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 250;
}

mat-form-field {
  width: 100%;
  height: 100%;
  font-size: 12px;
}

.pinkBg {
  background-color: #fe528d;
}
.whiteText {
  color: white;
}

.boldText {
  font-weight: 500;
}

.pinkText {
  color: #fe528d;
}

button {
  width: 100%;
}

#timer {
  text-align: center;
  padding: 8px;
  visibility: hidden;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: lightgrey;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: lightgrey;
  border-bottom: 2px solid #22a8c9;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}
/* ::ng-deep.mat-form-field-wrapper {
  padding-bottom: 0.5em !important;
} */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: white !important;
}

@media (max-width: 500px) {
  .form_fields_padding {
    margin-left: 16%;
  }
}
.captcha{
  padding-bottom: 10px !important;
  transform: scale(0.8);
}
::ng-deep.mat-input-element {
  padding-top: 5px !important;
  height: 20px;
}
::ng-deep.mat-select-value {
  padding: 5px !important;
}