<div class="wrapper spacing" *ngIf="showSpinner">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!showSpinner" class="wrapper" [dir]="dir">
  <div class="form_wrapper">
    <div class="heading">
      <span>{{ "login.text" | translate }}</span>
    </div>

    <div class="subHeading pinkText">
      {{ "login.sub_text" | translate }}
      <span class="boldText"> {{ "login.sub_text_UID" | translate }} </span>
    </div>
    <div >
      <div
        style="width: 38vw; max-width: 323px"
        [ngClass]="
          selectedLanguage !== 'ara'
            ? 'form_fields_wrapper form_fields_padding'
            : 'form_fields_wrapper'
        "
      >
        <div  *ngIf="showLanguageDropDown" >
          <mat-form-field appearance="standard">
            <mat-select
              disableOptionCentering
              panelClass="select-option"
              [(ngModel)]="selectedLanguage"
              (selectionChange)="changeLanguage()"
              placeholder="Select your language"
              style="font-weight: 600"
            >
              <mat-option
                *ngFor="let lang of languageCodeValue"
                [value]="lang.code"
                >{{ lang.value }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="showContactDetails">
          <div [dir]="dir" >
            <mat-form-field appearance="standard">
              <input
                class="input_pri"
                autofocus="autofocus"
                matInput
                [(ngModel)]="inputContactDetails"
                placeholder="{{ 'login.label_email_num' | translate }}"
                id="inputFieldContact"
                required
              />
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="enableCaptcha && showCaptcha">
          <app-captcha [captchaSiteKey]="siteKey" [resetCaptcha]="resetCaptcha" (captchaEvent)="getCaptchaToken($event)"></app-captcha>
        </div>
        <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
        <p class="loading" *ngIf="loadingMessage != ''">{{ loadingMessage }}</p>
        <div *ngIf="captchaError && !showOTP" class="error" style="margin-left: 55px">
          {{ "recaptcha.errorMessage" | translate }}
        </div>
        <div [dir]="dir" *ngIf="showOTP" >
          <mat-form-field appearance="standard">
            <input
              autofocus="autofocus"
              matInput
              [(ngModel)]="inputOTP"
              placeholder="{{ 'login.label_otp' | translate }}"
              id="inputFieldOTP"
              (input)="showVerifyBtn()"
            />
          </mat-form-field>
        </div>

        <!-- class="pinkBg whiteText boldText" -->
        <div *ngIf="showSendOTP">
          <button
            mat-raised-button
            class="btn_axn-pri"
            [disabled]="
              !(inputContactDetails.length > 0 && enableSendOtp)"
            (click)="submit()"
          >
            {{ "login.action_send" | translate }}
          </button>
        </div>

        <div *ngIf="showVerify">
          <button
            mat-raised-button
            class="btn_axn-pri"
            [disabled]="disableVerify"
            disabled="{{ disableBtn }}"
            (click)="submit()"
          >
            {{ "login.action_verify" | translate }}
          </button>
        </div>

        <!-- <div *ngIf="showResend">
          <button
            mat-raised-button
            class="btn_axn-pri"
            disabled="{{ disableBtn }}"
            (click)="submit()"
          >
            {{ "login.action_resend" | translate }}
          </button>
        </div> -->

        <div class="pinkText boldText" id="timer">
          <span>{{ "login.otp_valid_label" | translate }}&nbsp;</span
          ><span id="minutesSpan">{{ minutes }}</span
          >:<span id="secondsSpan">{{ seconds }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer [appVersion]="appVersion"></app-footer>
