/* No CSS *//*# sourceMappingURL=create.component.css.map */

.browseInput {
  background: rgba(253, 81, 140, 1);
  border: 1px solid rgba(253, 81, 140, 1);
  color: white;
  padding: 8px;
  border-radius: 2px;
}

.browseInput[disabled] {
  border: 1px solid rgba(253, 81, 140, 0.35);
  color: rgba(253, 81, 140, 0.35);
}

.custom-file-input{
    display: inline-block;
	overflow: hidden;
    position: relative;
    padding:10px;
}
.custom-file-input input[type="file"]{
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    zoom: 1;  /* Fix for IE7 */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
.custom-file-input input[type="text"]{
    border-bottom: 1px solid rgba(0, 0, 0, 0.42) ! important;
    border: 0px;
    height: 32px;
    margin-left: 1px;
    width: 26.5rem;
}
.mat-form-field{
	padding:10px;
}