<div id="flex-single-view" style="padding-top: 12px;">
  <div id="flex-container">
   <div class="card">
      <mat-card>
        <div class="item1">
          <div class="profile-img">
            <img src="./assets/images/icon_center.svg" alt="img">
          </div>
          <div class="item2">
            <h3>Upload Certificate</h3>
          </div>
        </div>
      </mat-card>
    </div>
    <div id="myDiv" class="flex-body">
      <mat-card>
        <mat-card-content class="forms-container">
          <div [formGroup]="createForm" class="primary-form" *ngIf="createForm"> 
            <mat-form-field>
              <!-- <mat-label>Application Id</mat-label>
              <mat-select formControlName="applicationId">
                <mat-option
                  *ngFor="let data of applicationId"
                  [value]="data.id"
                >
                  {{ data.value}}
                </mat-option>
              </mat-select> -->
               <input
                #applicationId
                matInput
                formControlName="applicationId"
                placeholder="Application Id"
                [value]=""
              />
            </mat-form-field>
            <mat-form-field>
              <input
                #referenceId
                matInput
                formControlName="referenceId"
                placeholder="ReferenceId"
                [value]=""
              />
            </mat-form-field>
            <div class="custom-file-input">
              <input type="button" value="Choose File" class="browseInput">
              <input type="file" #fileInput (change)="onFileSelect($event)" placeholder="Upload file..." />
              <input type="text" [value]="fileName" placeholder="Upload Your File">                
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions class="action-buttons">
          <button
            id="createButton"
            mat-raised-button
            (click)="submit()"
          >
          Generate
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
