<ng-container matColumnDef="actions">
    <span><h3>POLICY</h3></span>
    <mat-card class="mat-elevation-z8">
      <app-toolbar
        *ngIf="
          actionEllipsis && actionEllipsis  && paginatorOptions"          
        [buttonList]="actionEllipsis"
        [paginationOptions]="paginatorOptions"
        [filtersAppliedFlag]="filtersApplied"
        (pageEvent)="pageEvent($event)"
      ></app-toolbar>
      <app-table
        *ngIf="policies && displayedColumns && actionButtons"
        [data]="policies"
        [displayedColumns]="displayedColumns"
        [buttonList]="actionButtons"
        [sortData]="sortFilter"
        [noDataFlag]="noData"
        (sort)="getSortColumn($event)"
      ></app-table>
    </mat-card>
    </ng-container>
    <!-- <button mat-raised-button (click)="addColumn()"> Add column </button>
  <button mat-raised-button (click)="removeColumn()"> Remove column </button>
  <button mat-raised-button (click)="shuffle()"> Shuffle </button> -->
    <!-- <ng-template #nodata><mat-spinner class="spinner-placer"></mat-spinner></ng-template> -->
    