table {
    width: 100%;
  }
.table-header{
    background-color: rgb(206, 205, 205);
    color: white;
    text-transform: capitalize;
}
.container {
    overflow: auto;
    width: 100%;
    margin: 0;
    height:300px;
  }
