<div class="spinner" *ngIf="showSpinner">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!showSpinner" class="wrapper">
  <div class="spacer"></div>
  <div class="ack-container">
    <div id="print-section">
      <div class="print-section-inner-div" *ngFor="let ackData of ackDataArr; index as i">
        <div id="message-container" class="ack__message-container">
          <p *ngFor="let ackMessage of ackData.messages">
            <img style="vertical-align: middle;" src="assets/img/done.png" />&nbsp;&nbsp;{{ackMessage.preRegId}} :
            {{ackMessage.message}}
          </p>
        </div>
        <div class="ack__header-container" [dir]="ackData.appLangCodeDir">
          <table>
            <tr>
              <td>{{ ackData.preRegIdLabels}} : </td>
              <td><b>{{ ackData.preRegId}}</b></td>
            </tr>
            <tr>
              <td>{{ ackData.appDateLabels }} : </td>
              <td
                *ngIf="ackData.bookingTimePrimary && ackData.bookingTimePrimary.length > 0 && ackData.bookingTimePrimary[0].langAvailable">
                <span *ngFor="let bookingTime of ackData.bookingTimePrimary; index as i;">
                  <b *ngIf="bookingTime.langCode == langCode">{{ bookingTime.time
                    }}, {{ ackData.bookingDataPrimary[i].date }}</b>
                </span>
              </td>
              <td
                *ngIf="ackData.bookingTimePrimary && ackData.bookingTimePrimary.length > 0 && !ackData.bookingTimePrimary[0].langAvailable">
                <b>{{ ackData.bookingTimePrimary[0].time}}, {{ ackData.bookingDataPrimary[0].date }}</b>
              </td>
            </tr>
            <tr>
              <td>{{ ackData.contactPhoneLabels }} : </td>
              <td><b>{{ ackData.contactPhone }}</b></td>
            </tr>
            <tr>
              <td>
                <div *ngIf="ackData.qrCodeBlob" id="qr-code-container" class="ack__qr-code">
                  <img id="qr-code" src="data:image/png;base64,{{ ackData.qrCodeBlob }}" />
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div [dir]="ackData.appLangCodeDir">
          <div id="body-container" *ngIf="ackData.regCntrNames" class="ack__body-container">
            <table id="table-container">
              <tr>
                <td>{{ ackData.labelNames }} : </td>
                <td><b>{{ ackData.nameValues }}</b></td>
              </tr>
              <tr>
                <td>{{ ackData.labelRegCntrs }} : </td>
                <td><b>{{ ackData.regCntrNames }}</b></td>
              </tr>
            </table>
          </div>
        </div>
        <div id="guidelines-container" class="ack__guidelines-container" [dir]="ackData.appLangCodeDir">
          <span *ngFor="let langCode of ackData.appLangCode">
            <div class="spacer"></div>
            <table *ngIf="guidelines.length !== 0" class="ack__guidelines">
              <tr *ngFor="let guideline of ackData[langCode]">
                <td class="inner-guideline-content">{{ guideline }}</td>
              </tr>
            </table>
          </span>
        </div>
        <!-- <div class="endOfAck" *ngIf="i + 1 !== ackDataArr.length"></div>
        <div class="lastAck" *ngIf="i + 1 == ackDataArr.length"></div> -->
      </div>
    </div>
  </div>
</div>
<div *ngIf="!showSpinner">
  <div class="ack__button-container">
    <!-- <button mat-button (click)="navigateBack()" class="user-back-btn">{{'preview.action_back'| translate}}</button> -->
    <!-- <span class="spacer"></span> -->
    <button *ngIf=" notificationTypes && notificationTypes.length > 0 && notificationTypes[0] !== ''"
      matTooltip="{{ 'helpText.send_email/sms' | translate }}" mat-button (click)="sendAcknowledgement()"
      class="ack-book_later-btn">
      {{ 'acknowledgement.action_send' | translate }}
    </button>
    <span class="spacer"></span>
    <button mat-button (click)="download()" class="ack-book_later-btn">
      {{ 'acknowledgement.action_download' | translate }}
    </button>
    <button mat-button [printStyle]="{
        '#message-container': { display: 'none' },
        '#body-container': { display: 'flex', 'flex-wrap': 'wrap', width: '100%' },
        '#table-container table tr td': { padding: '10px' },
        '#print-section': { 'page-break-after': 'always' },
        '.print-section-inner-div': { 'page-break-after': 'always' }
      }" printSectionId="print-section" ngxPrint class="ack-continue-btn">
      {{ 'acknowledgement.action_print' | translate }}
    </button>
  </div>
</div>