<div class="spinner-wrapper" *ngIf="showSpinner"></div>
<div class="spinner-loading-data" *ngIf="showSpinner">
  <mat-spinner></mat-spinner>
</div>

<div id="print-section" *ngIf="!showSpinner">
  <div class="print-section-inner-div"> <!-- *ngFor="let user of usersInfo" -->
    <mat-card class="ack-container">
      <div id="message-container" class="ack__message-container">
        <p>
          <img style="vertical-align: middle;" src="assets/img/done.png" />&nbsp;&nbsp;{{ finalUsersInfoDetails.messages }}
        </p>
      </div>
      <div class="spacer"></div>
      <mat-card-header class="ack__header-container">
      <table>
        <tr>
          <td>
            <table>
              <tr>
                <td>{{ finalUsersInfoDetails.preRegIdLabels}}</td>
              </tr>
              <tr>
                <td>{{ finalUsersInfoDetails.preRegId }}</td>
              </tr>
            </table>
          </td>
          <td>
            <table>
              <tr>
                <td>{{ finalUsersInfoDetails.appDateLabels }}</td>
              </tr>
              <tr>
                <td>{{ finalUsersInfoDetails.bookingTimePrimary }}, {{ finalUsersInfoDetails.bookingDataPrimary }}</td>
              </tr>
            </table>
          </td>
          <td>
            <table>
              <tr>
                <td>{{ finalUsersInfoDetails.contactPhoneLabels }}</td>
              </tr>
              <tr>
                <td>{{ finalUsersInfoDetails.contactPhone }}</td>
              </tr>
            </table>
          </td>
          <td>
            <div *ngIf="finalUsersInfoDetails.qrCodeBlob" id="qr-code-container" class="ack__qr-code">
              <img id="qr-code" src="data:image/png;base64,{{ finalUsersInfoDetails.qrCodeBlob }}" />
            </div>
          </td>
        </tr>
      </table>
      </mat-card-header>
      <mat-card-content>
        <div id="body-container" *ngIf="finalUsersInfoDetails.regCntrNames" class="ack__body-container">
          <div id="table-container">
            <table>
              <tr>
                <td>{{ finalUsersInfoDetails.labelNames }}</td>
                <td>{{ finalUsersInfoDetails.labelRegCntrs }}</td>
              </tr>
              <tr>
                <td>{{ finalUsersInfoDetails.nameValues }}</td>
                <td>{{ finalUsersInfoDetails.regCntrNames }}</td>
              </tr>
            </table>
          </div>
          <div class="spacer"></div>
        </div>
      </mat-card-content>
      <mat-card-footer id="guidelines-container" class="ack__guidelines-container">
        <div  *ngFor="let langCode of finalUsersInfoDetails.appLangCode">
          <table *ngIf="guidelines.length !== 0" class="ack__guidelines">
            <tr *ngFor="let guideline of finalUsersInfoDetails[langCode]">
              <td class="inner-guideline-content">{{ guideline }}</td>
            </tr>
          </table>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
<div>
  <mat-card class="ack__button-container">
    <!-- <button mat-button (click)="navigateBack()" class="user-back-btn">{{'preview.action_back'| translate}}</button> -->
    <span class="spacer"></span>
    <button
      *ngIf=" notificationTypes && notificationTypes.length > 0 && notificationTypes[0] !== ''"
      matTooltip="{{ 'helpText.send_email/sms' | translate }}"
      mat-button
      (click)="sendAcknowledgement()"
      class="ack-book_later-btn"
    >
      {{ 'acknowledgement.action_send' | translate }}
    </button>
    <button mat-button (click)="download()" class="ack-book_later-btn">
      {{ 'acknowledgement.action_download' | translate }}
    </button>
    <button
      mat-button
      [printStyle]="{
        '#message-container': { display: 'none' },
        '#body-container': { display: 'flex', 'flex-wrap': 'wrap', width: '100%' },
        '#table-container table tr td': { padding: '10px' },
        '#print-section': { 'page-break-after': 'always' },
        '.print-section-inner-div': { 'page-break-after': 'always' }
      }"
      printSectionId="print-section"
      ngxPrint
      class="ack-continue-btn"
    >
      {{ 'acknowledgement.action_print' | translate }}
    </button>
  </mat-card>
</div>
