/* You can add global styles to this file, and also import other style files */
@import "./app/theme";

@include mat-core($custom-typography);

@include angular-material-theme($app-theme);

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none;
}

:root {
  font-size: 14px;
}
.success-img {
  margin: 16px 0 0 42%;
}
.spinner-placer {
  margin: 20% 0 0 40%;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  color: #292a1d !important;
}
* {
  box-sizing: border-box;
}

a {
  color: mat-color($app-primary);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
hr {
  height: 1.5px;
  color: lightgray;
  background: lightgray;
  border: none;
}
h3 {
  display: block;
  font-size: 13.5px;
  font-weight: bold;
  margin-top: 15px;
  padding-bottom: 10px;
}

// common css
#flex-single-view {
  // padding-top: 10px;
  overflow: hidden;
  .navigation {
    .material-icons {
      cursor: pointer;
      vertical-align: middle;
    }
  }
  h3 {
    margin:0px !important;
  }
  #flex-container {
    overflow: auto;
    max-height: 87vh;
    padding-bottom: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }
  }

  .card {
    margin-top: 0px;
    .mat-divider {
      border-right-color: #ffffff !important;
    }
    .mat-card {
      display: flex;
      background: #3b99bc;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      position: relative;
    }
    .item1 {
      flex: 0.2;
      display: flex;
      align-items: center;
      font-family: "Roboto", sans-serif;
      font-size: 13px;
      .profile-img {
        img {
          width: 100%;
          height: 55px;
        }
      }
    }
    .item2 {
      padding-left: 15px;
      padding-right: 15px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex: 0.8;
      word-wrap: break-word;
      color: #ffffff;
      font-family: "Roboto", sans-serif;
      font-size: 11px;
      @media (max-width: 600px) {
        h3 {
          font-size: 10px;
        }
        p {
          font-size: 8px;
        }
        flex: 1 !important;
      }
    }
    .item3 {
      vertical-align: middle;
      padding-left: 15px;
      padding-right: 15px;
      flex: 1;
      word-wrap: break-word;
      color: #ffffff;
      font-family: "Roboto", sans-serif;
      font-size: 9px;
    }
    .small-text {
      font-size: 9.5px;
      margin: 0 0 12px 0;
      @media (max-width: 420px) {
        font-size: 8px;
      }
    }
  }
  .flex-body {
    .mat-card {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      padding: 16px 0px 0px 0px;
    }
    .forms-container {
      display: flex;
      flex-wrap: wrap;
      font-size: 10px;
      .primary-form {
        padding-left: 25px;
        padding-top: 30px;
        flex: 1;
        .mat-form-field {
          width: 100% !important;
        }
      }
      .secondary-form {
        padding-right: 25px;
        padding-top: 30px;
        text-align: right;
        flex: 1;
        .mat-form-field {
          width: 100% !important;
          text-align: right;
        }
      }
      .flex-display {
        display: flex;
        justify-content: space-between;
        .mat-form-field {
          width: 45% !important;
        }
      }
    }
    .action-buttons {
      direction: rtl;
      padding: 16px;
      background: #e6e7e7;
    }

    .action-buttons > #createButton {
      background-color: #FF4081 !important;
      color: white !important;
    }
    
  }

  .mat-divider.mat-divider-inset {
    margin: 0 19px !important;
  }

  .elipses {
    position: absolute;
    right: 0px;
    top: 0px;
    #menuButton .mat-button-wrapper {
      color: #ffff;
    }
  }
}

@media (max-width: 600px) {
  .forms-container {
    display: block !important;
  }
  .mat-divider {
    display: none !important;
  }

  .primary-form,
  .secondary-form {
    padding: 20px !important;
  }
}

@media (max-width: 840px) {
  .mat-keyboard .mat-raised-button {
    font-size: 12px;
    line-height: 12px;
    margin-left: 0px;
    padding: 0;
    height: 30px;
  }

mat-keyboard-container {
  min-width: 100% !important;
  padding: unset !important;
  position: absolute !important;
  bottom: 0% !important;
}

mat-keyboard-container mat-keyboard-key .mat-keyboard-key {
  /* //padding: unset !important; */
  padding: 0 0.485rem !important;
}
.mat-keyboard-col {
  padding: 1px !important;
}
.mat-keyboard-wrapper {
  padding: 0 !important;
}

}
mat-keyboard-container {
  min-width: 70% !important;
  padding: unset !important;
  position: absolute !important;
  bottom: 0% !important;
  margin-left: 20% !important;
}