<div class="container">
  <table class="mat-table">
    <tr class="mat-row sticky-header">
      <th *ngIf="showRadioButton"></th>
      <th
        *ngFor="let columnName of displayedColumns; let i = index"
        class="mat-header-cell table-header sticky-header"
      >
        <span class="columnName-sort-span"
          ><span *ngIf="lang === 'eng'" matTooltip="{{'center.devices-tooltip' | translate}}"  
          [matTooltipPosition]="'above'"
          [matTooltipDisabled]="columnName.label.eng !== 'Devices'">{{ columnName.label.eng }}</span>
          <span *ngIf="lang === 'fra'" matTooltip="{{'center.devices-tooltip' | translate}}"
          [matTooltipPosition]="'above'"
          [matTooltipDisabled]="columnName.label.eng !== 'Devices'">{{ columnName.label.fra }}</span>
          <span *ngIf="lang === 'ara'" matTooltip="{{'center.devices-tooltip' | translate}}"
          [matTooltipPosition]="'above'"
          [matTooltipDisabled]="columnName.label.eng !== 'Devices'">{{ columnName.label.ara }}</span>
          <span *ngIf="columnsOfTableData[i] != 'fieldVal'" (click)="sortColumn(columnName.name,i)"
            ><img *ngIf="sortIconTrackerArray[i] === 0"
              src="assets/images/icon_table_sort_both.png"
              height="20px"
              width="13px"
              class="sort-icon"
            /><img *ngIf="sortIconTrackerArray[i] === 1"
              src="assets/images/icon_table_sort_up.png"
              height="20px"
              width="13px"
              class="sort-icon"
            /><img *ngIf="sortIconTrackerArray[i] === -1"
              src="assets/images/icon_table_sort_Down.png"
              height="20px"
              width="13px"
              class="sort-icon"
            /></span
        ></span>
      </th>
      <th class="table-header sticky-header">&emsp;</th>
    </tr>
    <tr *ngFor="let data of tableData; index as i" class="mat-header-row">
      <td *ngIf="showRadioButton"><input type="radio" name="radios" id="radio1" (click)="selectedCenter(data, button)"/></td>
      <td
        *ngFor="let item of columnsOfTableData; let i = index"
        class="mat-cell  "
        (click)="getTableRowData(data, i, item)"
        [ngClass]="{ 'text-alignment': item === 'name' && imageSource}"
      >
        <span class="flex-display" [ngStyle]="tableStyle(i, data[item], item)"><img 
            src="{{imageSource}}"
            height="20px;"
            width="35px;"
            *ngIf="item === 'name'&& imageSource"
            [ngClass]="{'image-fade': data.isActive === false}"
            style="padding-right:15px;"
          /><span *ngIf="item === 'fieldVal' && data[item]">Code : {{data[item].code}} | Value : {{data[item].value}}</span><span *ngIf="item !== 'fieldVal'"><span *ngIf="item !== 'isActive'">{{  data[item] | mapStatus }}</span><span *ngIf="item === 'isActive'"><span *ngIf="data[item] === true">{{'isActive.Active'|translate}}</span><span *ngIf="data[item] === false">{{'isActive.InActive'|translate}}</span></span></span></span
        >
      </td>
      <td class="mat-cell mat-header-cell" *ngIf="buttonList.length>0" >
        <button mat-icon-button [matMenuTriggerFor]="menu" (click)="ellipsisAction(data)">
          <mat-icon class="ellipsis-button">more_vert</mat-icon>
        </button>
      </td>
      <mat-menu #menu="matMenu" yPosition="below" xPosition="before">
        <button
          mat-menu-item
          *ngFor="let button of ellipsisList"
          (click)="selectedRow(data, button)"
        >
        <span *ngIf="lang === 'eng'">{{ button.buttonName.eng }}</span>
        <span *ngIf="lang === 'fra'">{{ button.buttonName.fra }}</span>
        <span *ngIf="lang === 'ara'">{{ button.buttonName.ara }}</span>
        </button>
      </mat-menu>
    </tr>
  </table>
  <p *ngIf="noDataFlag" style="text-align: center">{{'center.popupMessages.noData.message' | translate}}</p>
</div>
<!-- <ng-template #nodata> -->
  <div *ngIf="!noDataFlag && !(tableData.length > 0)" style="display: flex; justify-content: center;">
    <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
  </div>
<!-- </ng-template> -->
