
table.mat-table {
  border-spacing: 0;
  width: 100%;
  box-sizing: border-box;
}

tr.mat-header-row {
  height: 35px !important;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff02;
  color: #0f2126;
}

tr.mat-row,
tr.mat-footer-row {
  height: 30px !important;
  font-family: "Roboto", sans-serif;
}

th.mat-header-cell {
  text-align: center;
  white-space: nowrap;
}
tr:nth-child(odd) {
  background-color: #e8e9e9;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
th.mat-header-cell {
  padding: 2px;
}
td.mat-cell {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 9.5px;
  line-height: 7px;
  font-weight: 200;
  color: #0f2126;
}
th.mat-header-cell:first-child,
td.mat-cell:first-child,
td.mat-footer-cell:first-child {
  padding-left: 20px;
}

th.mat-header-cell:last-child,
td.mat-cell:last-child,
td.mat-footer-cell:last-child {
  padding-right: 16px;
}
.table-header {
  background-color: #e6e7e7;
  color: #54595a;
  text-transform: uppercase;
  font-size: 9px;
  line-height: 7px;
  font-family: "Roboto", sans-serif;
  opacity: 1;
  letter-spacing: 0;
  height: 28px;
  font-weight: 600;
}
.container {
  overflow: auto;
  width: 100%;
  margin: 0;
  min-height: auto;
  max-height: 48em;
}

.sticky-header {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}
.mat-menu {
  border-radius: 0 !important;
}
:host::ng-deep .mat-menu-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.mat-menu-item{
  line-height:20px;
  height:30px;
  font-size: x-small;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
.sort-icon {
  padding-top: 3px;
  margin-left: 3px;
  cursor: pointer !important;
}
.ellipsis-button {
  transform: scale(0.8);
}
.flex-display {
  display: inline-flex;
  align-items: center;
}
.text-alignment {
  text-align: left !important;
}
.columnName-sort-span {
  display: inline-flex;
  align-items: center;
}
.image-fade {
  opacity: 0.2;
}