table.mat-table {
  border-spacing: 0;
  width:100%;
}

tr.mat-header-row {
  height: 45px;
}

tr.mat-row, tr.mat-footer-row {
  height: 30px;
}

th.mat-header-cell {
  text-align: center;
  white-space: nowrap;
}
tr:nth-child(odd){
  background-color: rgb(250, 250, 250);
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
th.mat-header-cell{
  padding: 5px;
}
td.mat-cell{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 11px;
  line-height: 10px;
}
th.mat-header-cell:first-child, td.mat-cell:first-child, td.mat-footer-cell:first-child {
  padding-left: 20px;
}

th.mat-header-cell:last-child, td.mat-cell:last-child, td.mat-footer-cell:last-child {
  padding-right: 16px;
}
.table-header{
    background-color: #E6E7E7;
    color: #54595A;
    text-transform: capitalize;
    font-size: 12px;
    line-height: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    overflow: auto;
    width: 100%;
    margin: 0;
    min-height: auto;
    max-height:340px;

  }

  .sticky-header {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 0; 
    z-index: 100;
  }

  ::ng-deep .mat-menu-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  
  ::ng-deep.mat-menu-item{
    height:40px !important;
  }
.sort-icon{
  opacity: 0.8;
  padding-top: 3px;
  margin-left: 3px;
  cursor: pointer !important;
}
.flex-display{
  display: inline-flex;
  align-items: center;
}
.text-alignment{
  text-align: left !important;
}
.columnName-sort-span {
  display: inline-flex;
  align-items: center;
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  border-radius: 12px;
  box-shadow: inset 0 0 3px;
  background: #ccc;
}
::-webkit-scrollbar-track{
  border-radius: 15px;
  box-shadow: inset 0 0 5px grey;
}
