#flex-single-view {
  .card {
    .item1 {
      flex: none !important;
    }
  }
  .row {
    display: flex;
    padding: 10px;
    .col {
      flex: 1;
      p {
        color: #666666;
        padding: 0 5px;
      }
      .scrolling {
        overflow: hidden;
      }
      .unOrderList {
        overflow: auto;
        padding: 1px 5px;
        max-height: 45vh;
      }
      .list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        -webkit-box-shadow: 0px 0px 1px #ccc;
        -moz-box-shadow: 0px 0px 1px #ccc;
        box-shadow: 0px 0px 1px #ccc;
        padding: 8px;
        font-size: 10px;
        cursor: pointer;
        span {
          display: inline-block;
        }
      }
      .active {
        background: #f1f1f3;
      }
    }
  }
  .material-icons {
    font-size: 14px !important;
  }
  .mat-card-actions {
    margin-left: 0;
    margin-right: 0;
  }

  ::-webkit-scrollbar {
    width: 2px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
  }
}

.breadcrumb {
  font-size: 9px;
  position: absolute;
  margin-top: 10px;
}

.breadcrumb > a {
  text-decoration: none;
  cursor: pointer;
}