<mat-spinner class="spinner-placer" *ngIf="showSpinner"></mat-spinner>
<span class="breadcrumb" *ngIf="(allDocCategoryList && mappedDocList && unMappedDocList && !showSpinner)">
    <a (click)="changePage('home')">{{'masterData.masterDataTypes' | translate}} &nbsp;&nbsp;</a> / 
    <a (click)="changePage('list')">&nbsp;&nbsp; {{'masterData.doc-category-mapping'|translate}} &nbsp;&nbsp;</a> 
</span>
<br><br>
<div *ngIf="(allDocCategoryList && unMappedDocList && !showSpinner)" id="flex-single-view"> 
    <h3>{{'masterData.doc-category-mapping'|translate}}</h3>
    <div id="flex-container">
        <div class="flex-header">
            <div class="card">
                <mat-card>
                    <div class="item1">
                        <div class="profile-img">
                            <img src="assets/images/icon_center.svg" alt="img">
                        </div>
                    </div>
                    <div class="item2">
                        <h4>{{'masterData.doc-category-mapping'|translate}}<span></span></h4>
                    </div>
                </mat-card>
            </div>
        </div>
        <div class="flex-body">
            <mat-card>
                <mat-card-content class="row">
                    <div class="col">
                        <p>{{'masterData.category'|translate}}</p>
                        <div class="scrolling">
                            <ul class="unOrderList">
                                <ng-container *ngFor="let categoryList of allDocCategoryList; let i = index">
                                    <li class="list" [ngClass]="{'active': selectedItem === categoryList?.code}"
                                        (click)="onCategory(categoryList)">
                                        <span>{{categoryList?.name}}({{categoryList?.code}})</span>
                                        <span><i class="material-icons">
                                                keyboard_arrow_right
                                            </i></span></li>
                                </ng-container>
                            </ul>
                        </div>
                    </div>
                    <mat-divider [vertical]="true" [inset]="true"></mat-divider>
                    <div class="col">
                        <p>{{'masterData.mapped-documents'|translate}}({{mappedDocCount}})</p>
                        <div class="scrolling">
                            <ul class="unOrderList">
                                <ng-container *ngFor="let mappedItem of mappedDocList; let i = index">
                                    <li class="list">
                                        <span>{{mappedItem?.name}}</span>
                                        <span><i class="material-icons" (click)="onClose(mappedItem, i)">
                                                close
                                            </i></span></li>
                                </ng-container>
                            </ul>
                        </div>
                    </div>
                    <mat-divider [vertical]="true" [inset]="true"></mat-divider>
                    <div class="col">
                        <p>{{'masterData.unmapped-documents'|translate}}({{unMappedDocCount}})</p>
                        <div>
                            <ul class="unOrderList">
                                <ng-container *ngFor="let unMappedItem of unMappedDocList; let i = index">
                                    <li class="list">
                                        <span>{{unMappedItem?.name}}</span>
                                        <span><i class="material-icons" (click)="onAdd(unMappedItem, i)">
                                                add
                                            </i></span></li>
                                </ng-container>
                            </ul>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions class="action-buttons">
                    <button type="button" mat-raised-button>Cancel</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>