<div class="container">
  <mat-card>
    <div class="card-row">
      <button
        mat-raised-button
        *ngFor="let button of buttonList; index as i"
        [ngStyle]="{ margin: '10px'}"
        (click)="actionEvent(button)"
        [ngClass]="{
          'button-style': button.buttonName.eng != 'Filter',
          'filter-button-style': button.buttonName.eng === 'Filter'
        }"
      >
        <img [src]="button.imagePath" height="14px" width="14px"/>
        <span *ngIf="lang === 'eng'">{{ button.buttonName['eng']}}</span>
        <span *ngIf="lang === 'fra'">{{ button.buttonName['fra']}}</span>
        <span *ngIf="lang === 'ara'">{{ button.buttonName['ara']}}</span>
        <span class="filter-placer" *ngIf="button.buttonName.eng === 'Filter' && filtersAppliedFlag">
          <i style="font-size: 16px;" class="material-icons">fiber_manual_record</i>
        </span>
      </button>
      <span style="flex: 1 1 auto;"></span>
      <mat-paginator
        [length]="paginationOptions?.totalEntries"
        [pageSize]="paginationOptions?.pageSize"
        [pageSizeOptions]="paginationOptions?.pageSizeList"
        showFirstLastButtons="true"
        [pageIndex]="paginationOptions?.pageIndex"
        (page)="onPaginateChange($event)"
      >
      </mat-paginator>
     <!--  <button (click)="export()" mat-icon-button>
        <mat-icon style="margin-top: -8px;">save_alt</mat-icon>
      </button> -->
    </div>
  </mat-card>
</div>
