<div class="container">
  <mat-card>
    <div class="card-row">
      <button
        mat-raised-button
        *ngFor="let button of buttonList; index as i"
        [ngStyle]="{ margin: '10px'}"
        (click)="actionEvent(button)"
        [ngClass]="{
          'button-style': button.buttonName.eng != 'Filter',
          'filter-button-style': button.buttonName.eng === 'Filter'
        }"
      >
        <img [src]="button.imagePath" />
        <span *ngIf="lang === 'eng'">{{ button.buttonName['eng']}}</span>
        <span *ngIf="lang === 'fra'">{{ button.buttonName['fra']}}</span>
        <span *ngIf="lang === 'ara'">{{ button.buttonName['ara']}}</span>
        <span *ngIf="button.buttonName.eng === 'Filter' && filtersAppliedFlag">
          <i class="material-icons filter-placer">fiber_manual_record</i>
        </span>
      </button>
      <span style="flex: 1 1 auto;"></span>
      <mat-paginator
        [length]="paginationOptions?.totalEntries"
        [pageSize]="paginationOptions?.pageSize"
        [pageSizeOptions]="paginationOptions?.pageSizeList"
        showFirstLastButtons="true"
        [pageIndex]="paginationOptions?.pageIndex"
        (page)="onPaginateChange($event)"
      >
      </mat-paginator>
      <button mat-icon-button>
        <mat-icon>save_alt</mat-icon>
      </button>
    </div>
  </mat-card>
</div>
