<div id="flex-single-view" style="padding-top: 12px;">
  <h3>{{ 'machines.header' | translate }}</h3>
  <div class="flex-container">
    <div class="flex-header" style="width: 100%;">
      <app-machines-header *ngIf="headerObject" [data]="data[0]" [headerData]="headerObject"></app-machines-header>
    </div>
    <div class="flex-body">
        <mat-card>
            <mat-card-content class="forms-container">
                <div class="primary-form" [formGroup]="primaryForm">
                    <strong class="title">{{ 'machines.language' | translate }}</strong>
                    <span
                      *ngIf="!disableForms"
                      matTooltip="{{ 'machines.keyboard-tooltip' | translate }}"
                      (click)="openKeyboard('primary')"
                      style="float: right; color: grey; cursor: pointer;"
                      ><i class="material-icons">keyboard</i></span
                    >
                    <hr />
                    <br /><br />

                        <mat-form-field>
                            <input
                            #keyboardRef
                            #name
                            (keyup)="captureValue($event, 'name', 'primary')"
                            (focus)="scrollPage(name, 'primary', 'name', 0)"
                            formControlName="name"
                            matInput
                            placeholder="{{
                              'machines.name' | translate
                            }}"
                          />
                          <mat-error
                            *ngIf="
                              primary.name.touched && primary.name.hasError('required')
                            "
                          >
                          {{ "machines.validationMessages.name.required" | translate }}
                          </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input
                            #keyboardRef
                            #serialNumber
                            (keyup)="captureValue($event, 'serialNumber', 'primary')"
                            (focus)="scrollPage(serialNumber, 'primary', 'serialNumber', 1)"
                            formControlName="serialNumber"
                            matInput
                            placeholder="{{
                              'machines.serialNumber' | translate
                            }}"
                          />
                          <mat-error
                            *ngIf="
                              primary.serialNumber.touched && primary.serialNumber.hasError('required')
                            "
                          >
                          {{ "machines.validationMessages.serialNumber.required" | translate }}
                          </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input
                            #keyboardRef
                            #macAddress
                            (keyup)="captureValue($event, 'macAddress', 'primary')"
                            (focus)="scrollPage(macAddress, 'primary', 'macAddress', 2)"
                            formControlName="macAddress"
                            matInput
                            placeholder="{{
                              'machines.macAddress' | translate
                            }}"
                          />
                          <mat-error
                            *ngIf="
                              primary.macAddress.touched && primary.macAddress.hasError('required')
                            "
                          >
                          {{ "machines.validationMessages.macAddress.required" | translate }}
                          </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input
                            #keyboardRef
                            #ipAddress
                            (keyup)="captureValue($event, 'ipAddress', 'primary')"
                            (focus)="scrollPage(ipAddress, 'primary', 'ipAddress', 3)"
                            formControlName="ipAddress"
                            matInput
                            placeholder="{{
                              'machines.ipAddress' | translate
                            }}"
                          />
                          <mat-error
                            *ngIf="
                              primary.ipAddress.touched && primary.ipAddress.hasError('required')
                            "
                          >
                          {{ "machines.validationMessages.ipAddress.required" | translate }}
                          </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                          <input
                            matInput
                            [min]="minDate"
                            [matDatepicker]="picker"
                            formControlName="validity"
                            (dateChange)="captureDatePickerValue($event, 'validity', 'primary')"
                            placeholder="{{ 'machines.validity' | translate }}"
                          />
                          <mat-datepicker-toggle
                            matSuffix
                            [for]="picker"
                          ></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>

                          <mat-error
                            *ngIf="
                              primary.validity.touched && primary.validity.hasError('required')
                            "
                          >
                          {{ "devices.validationMessages.validity.required" | translate }}
                          </mat-error>
                        </mat-form-field>

                        

                        <mat-form-field>
                          <mat-label>{{ "machines.zone" | translate }}</mat-label>
                          <mat-select
                            formControlName="zone"
                            (selectionChange)="
                              copyDataToSecondaryForm('zone', primary.zone.value)
                            "
                          >
                            <mat-option
                              *ngFor="let data of dropDownValues.zone.primary"
                              [value]="data.code"
                            >
                              {{ data.name }}
                            </mat-option>
                          </mat-select>
                          <mat-error
                            *ngIf="
                              primary.zone.touched && primary.zone.hasError('required')
                            "
                          >
                          {{ "machines.validationMessages.zone.required" | translate }}
                          </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                        <mat-label>{{
                          "machines.machineSpecId" | translate
                        }}</mat-label>
                        <mat-select
                          formControlName="machineSpecId"
                          (selectionChange)="
                            copyDataToSecondaryForm(
                              'machineSpecId',
                              primary.machineSpecId.value
                            )
                          "
                        >
                          <mat-option
                            *ngFor="let data of dropDownValues.machineTypeCode.primary"
                            [value]="data.fieldCode"
                          >
                            {{ data.fieldValue }}
                          </mat-option>
                        </mat-select>
                        </mat-form-field>

                        <mat-form-field>
                            <input
                            #keyboardRef
                            #publicKey
                            formControlName="publicKey"
                            matInput
                            (keyup)="captureValue($event, 'publicKey', 'primary')"
                            placeholder="{{
                              'machines.publicKey' | translate
                            }}"
                          />

                        </mat-form-field>

                        <mat-form-field>
                          <mat-label>{{ "machines.isActive" | translate }}</mat-label>
                          <mat-select
                            formControlName="isActive"
                            (selectionChange)="
                              copyDataToSecondaryForm('isActive', primary.isActive.value)
                            "
                          >
                            <mat-option
                              *ngFor="let data of dropDownValues.isActive"
                              [value]="data"
                            >
                              {{ data | status }}
                            </mat-option>
                          </mat-select>
                          <mat-error
                            *ngIf="
                              primary.isActive.touched && primary.isActive.hasError('required')
                            "
                          >
                          {{ "machines.validationMessages.isActive.required" | translate }}
                          </mat-error>
                        </mat-form-field>

                </div>

                <mat-divider [vertical]="true" [inset]="true"></mat-divider>
                    <div
                        *ngIf="
                          secondaryLanguageLabels && secondaryLang && showSecondaryForm
                        "
                        [formGroup]="secondaryForm"
                        [ngClass]="
                          secondaryLang === 'ara' ? 'secondary-form' : 'primary-form'
                        "
                    >
                    <strong class="title">{{secondaryLanguageLabels.language}}</strong>
                    <span
                      *ngIf="!disableForms"
                      matTooltip="{{ secondaryLanguageLabels['keyboard-tooltip'] }}"
                      (click)="openKeyboard('secondary')"
                      style="float: left; color: grey; cursor: pointer;"
                      ><i class="material-icons">keyboard</i></span
                    >
                    <hr />
                    <br /><br />

                        <mat-form-field>
                         <input
                            #keyboardRef
                            #nameSecondary
                            (focus)="scrollPage(nameSecondary, 'secondary', 'name', 8)"
                            formControlName="name"
                            matInput
                            placeholder="{{
                              secondaryLanguageLabels.name
                            }}"
                          />
                        </mat-form-field>

                        <mat-form-field>
                            <input
                            #keyboardRef
                            #serialNumberSecondary
                            (focus)="scrollPage(serialNumberSecondary, 'secondary', 'serialNumber', 9)"
                            formControlName="serialNumber"
                            matInput
                            placeholder="{{
                              secondaryLanguageLabels.serialNumber
                            }}"
                          />

                        </mat-form-field>

                        <mat-form-field>
                            <input
                            #keyboardRef
                            #macAddressSecondary
                            (focus)="scrollPage(macAddressSecondary, 'secondary', 'macAddress', 10)"
                            formControlName="macAddress"
                            matInput
                            placeholder="{{
                              secondaryLanguageLabels.macAddress
                            }}"
                          />

                        </mat-form-field>

                        <mat-form-field>
                            <input
                            #keyboardRef
                            #ipAddressSecondary
                            (focus)="scrollPage(ipAddressSecondary, 'secondary', 'ipAddress', 11)"
                            formControlName="ipAddress"
                            matInput
                            placeholder="{{
                              secondaryLanguageLabels.ipAddress
                            }}"
                          />
                        </mat-form-field>

                        <mat-form-field>
                          <input
                            matInput
                            [min]="minDate"
                            [matDatepicker]="picker"
                            formControlName="validity"
                            placeholder="{{secondaryLanguageLabels.validity}}"
                          />
                          <mat-datepicker-toggle
                            matSuffix
                            [for]="picker"
                          ></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                      

                        <mat-form-field>
                          <mat-label>{{ secondaryLanguageLabels["zone"]}}</mat-label>
                          <mat-select formControlName="zone">
                          <mat-option
                            *ngFor="let data of dropDownValues.zone.secondary"
                            [value]="data.code"
                          >
                            {{ data.name }}
                          </mat-option>
                          </mat-select>
                        </mat-form-field>

                        
                        <mat-form-field>
                        <mat-label>{{
                          secondaryLanguageLabels.machineSpecId
                        }}</mat-label>
                        <mat-select formControlName="machineSpecId">
                          <mat-option
                            *ngFor="let data of dropDownValues.machineTypeCode.secondary"
                            [value]="data.fieldCode"
                          >
                            {{ data.fieldValue }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>


                      <mat-form-field>
                            <input
                            #keyboardRef
                            #publicKey
                            (focus)="scrollPage(publicKey, 'secondary', 'publicKey')"
                            formControlName="publicKey"
                            matInput
                            placeholder="{{
                              secondaryLanguageLabels.publicKey
                            }}"
                          />
                        </mat-form-field>
                        <mat-form-field>
                          <mat-label>{{ secondaryLanguageLabels["isActive"] }}</mat-label>
                          <mat-select formControlName="isActive">
                            <mat-option
                              *ngFor="let data of dropDownValues.isActive"
                              [value]="data"
                            >
                              {{ data | status }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>


                </div>
            </mat-card-content>
            <mat-card-actions class="action-buttons">
               
                <button
                  id="createButton"
                  mat-raised-button
                  *ngIf="data.length !== 0"
                  (click)="submit()"
                >
                  {{ "machines.update" | translate }}
                </button>
                <button
                  id="createButton"
                  mat-raised-button
                  *ngIf="data.length == 0"
                  (click)="submit()"
                >
                  {{ "machines.create" | translate }}
                </button>
                <button mat-raised-button (click)="cancel()">
                    {{ "machines.cancel" | translate }}
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
  </div>
</div>