<div id="flex-single-view" style="padding-top: 12px;">
  <h3></h3>
  <div class="flex-container">
    <div class="flex-header" style="width: 100%;">
      <app-users-header *ngIf="headerObject" [data]="data[0]" [headerData]="headerObject"></app-users-header>
    </div>
    <div class="flex-body" style="width:100%">
      <mat-card *ngIf="primaryData">
        <mat-card-content class="forms-container" style="width:100%">
          <div [ngClass]="isPrimaryLangRTL ? 'primary-form-rtl' : 'primary-form'">
            <strong class="title"></strong>
            <br /><br />
            
            <mat-form-field>
              <mat-label>{{'users.title' | translate}}</mat-label>
              <mat-select formControlName="userId" [value]="primaryData.userId" disabled={{disabled}}>
                <mat-option *ngFor="let data of dropDownValues.deviceTypeCode.primary" [value]="data.userId" (onSelectionChange)="captureDropDownValue($event, 'userId')">
                  {{ data.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
            <mat-form-field>
              <mat-label>{{ "center.zone" | translate }}</mat-label>
              <mat-select formControlName="zone" [value]="primaryData.zone"  disabled={{disabled}}>
                <mat-option *ngFor="let data of dropDownValues.zone.primary" [value]="data.code" 
                (onSelectionChange)="captureDropDownValue($event, 'zone')">
                  {{ data.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="pageName !== 'zoneuser'">
              <mat-label>{{ "center.center-name" | translate }}</mat-label>
              <mat-select
                formControlName="regCenterId" [value]="primaryData.regCenterId">
                <mat-option *ngFor="let data of dropDownValues.regCenterCode.primary" [value]="data.id" (onSelectionChange)="captureDropDownValue($event, 'regCenterId')">
                  {{ data.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <mat-divider [vertical]="true" [inset]="true"></mat-divider>

        </mat-card-content>
        <mat-card-actions class="action-buttons">
          <button id="createButton" mat-raised-button (click)="submit()">
            {{ "genericbutton.save" | translate }}
          </button>
          <button mat-raised-button (click)="cancel()">
            {{ "devices.cancel" | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>