<div class="spinner" *ngIf="!previewData">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="previewData !== undefined" class="preview__container">
  <mat-card class="preview__header-container card-padding">
    <mat-card-header class="preview__header-container">
      <div class="preview__header">
        <p>{{ 'preview.title_preview' | translate }}</p>
      </div>

      <div class="preview__modify-div">
          <span
                  (click)="modifyDemographic()"
                  class="preview__modify-div-span"
                  matTooltip="{{ 'helpText.modify_at_DemoPreview' | translate }}"
          ><img src="assets/edit.png" /> {{ 'preview.action_modify' | translate }}</span
          >
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="preview__body-content-container">
        <div class = "preview__body-content-div">
          <table class="row" *ngFor="let controlId of controlIds">
            <tr>
              <i *ngFor="let dataCaptureLanguage of dataCaptureLanguages; let i = index; let first = first; let last = last;">
                <td>{{ControlIdLabelObjects[controlId][dataCaptureLanguage]}} <i> : </i></td>

                <div *ngIf="checkArray(previewData[controlId], controlId);then content else other_content"></div> 
                <ng-template #content>

                  <td *ngIf="controlId === 'gender'">
                    <i *ngFor="let genderType of genders">
                      <i *ngIf = "genderType.langCode === dataCaptureLanguage">
                        <div  *ngIf = "previewData[controlId][i].value === genderType.code">
                          {{genderType.genderName}} <!-- <i *ngIf="!last">/</i> -->
                        </div>
                      </i>
                    </i>
                  </td>

                  <td *ngIf="controlId === 'residenceStatus'">
                    <i *ngFor="let residentType of residenceStatus">
                      <i *ngIf = "residentType.langCode === dataCaptureLanguage">
                        <div  *ngIf = "previewData[controlId][i].value === residentType.code">
                          {{residentType.name}} <!-- <i *ngIf="!last">/</i> -->
                        </div>
                      </i>
                    </i>
                  </td>

                  <td *ngIf="controlId !== 'gender'">
                    <div *ngIf="controlId !== 'residenceStatus'">
                      <div *ngIf="previewData[controlId][i].label;then displayLabel else displayValue"></div>
                      <ng-template #displayLabel>{{previewData[controlId][i].label}} <!-- <i *ngIf="!last">/</i> --></ng-template>
                      <ng-template #displayValue>{{previewData[controlId][i].value}} <!-- <i *ngIf="!last">/</i> --></ng-template>
                    </div>
                  </td>

                </ng-template>
                <ng-template #other_content>
                  <td>
                    {{previewData[controlId]}}
                  </td>
                  <!-- <td *ngIf="!first" class="emptydiv"></td> -->
                </ng-template>
                <i *ngIf="!last">/</i>
              </i>
            </tr>
          </table>

        </div>
      </div>
    </mat-card-content>
    <div class="preview__footer-header">
      <span>{{ 'preview.title_document' | translate }}</span>
      <span
              (click)="modifyDocument()"
              class="preview__modify-file"
              matTooltip="{{ 'helpText.modify_at_DocumentPreview' | translate }}"
      ><img src="assets/edit.png" /> {{ 'preview.action_modify' | translate }}</span
      >
    </div>
    <mat-card-footer class="preview__footer-container">
      <div class="preview__footer">
        <div class="preview__file-container">
          <table style="width:100%" *ngIf="documentMapObject">
            <tr class="preview__file__table__header">
              <td *ngFor="let object of documentMapObject">{{ object.name }}</td>
            </tr>
            <tr class="preview__file__table__data">
              <td *ngFor="let object of documentMapObject">
                <p *ngIf="object.fileName !== undefined">{{ object.fileName }}</p>
                <p class="error" *ngIf="object.fileName === undefined">{{ 'preview.text_not_uploaded' | translate }}</p>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </mat-card-footer>
  </mat-card>
</div>

<mat-card class="center-selection__button-container">
  <button (click)="navigateBack()" class="user-back-btn">{{ 'preview.action_back' | translate }}</button>
  <span class="spacer"></span>
  <button
          matTooltip="{{ 'helpText.add_applicant' | translate }}"
          (click)="navigateDashboard()"
          class="user-book_later-btn"
  >
    {{ 'preview.action_add_applicant' | translate }}
  </button>
  <button (click)="navigateNext()" class="user-continue-btn">
    {{ 'preview.action_continue' | translate }}
  </button>
</mat-card>