<div *ngIf="previewData !== undefined && secondaryLanguagelabels !== undefined" class="preview__container">
  <mat-card class="preview__header-container card-padding">
    <mat-card-header class="preview__header-container">
      <div class="preview__header">
        <p>{{ 'preview.title_preview' | translate }}</p>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="preview__body-content-container">
        <div
                [ngClass]="
            primaryLanguage === 'ara' ? 'preview__body-content-div right spacing' : 'preview__body-content-div'
          "
        >
          <!-- <div>
            <p>{{ 'preview.language' | translate }}</p>
            <h3>{{ 'preview.subheading_information' | translate }}</h3>
            <hr />
          </div> -->

          <table class="row" *ngFor="let controlId of controlIds">
            <tr>
              <td *ngFor="let dataCaptureLanguage of dataCaptureLanguages; let i = index">
                {{ControlIdLabelObjects[controlId][dataCaptureLanguage]}}
                <div *ngIf="(previewData[controlId] | json) != '{}';then content else other_content"></div> 
                <ng-template #content>

                  <div *ngIf="controlId === 'gender'">
                    <div *ngFor="let genderType of genders">
                      <div *ngIf = "genderType.langCode === dataCaptureLanguage">
                        <div  *ngIf = "previewData[controlId][i].value === genderType.code">
                          {{genderType.genderName}}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="controlId === 'residenceStatus'">
                    <div *ngFor="let residentType of residenceStatus">
                      <div *ngIf = "residentType.langCode === dataCaptureLanguage">
                        <div  *ngIf = "previewData[controlId][i].value === residentType.code">
                          {{residentType.name}}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="controlId !== 'gender'">
                    <div *ngIf="controlId !== 'residenceStatus'">
                      {{previewData[controlId][i].value}}
                    </div>
                  </div>

                </ng-template>
                <ng-template #other_content>
                  <div>
                    {{previewData[controlId]}}
                  </div>
                </ng-template>
              </td>
            </tr>
          </table>

          <!-- <table>
            <tr *ngFor="let field of uiFields">
              <td>{{ field.labelName.eng}}</td>
              <td>:</td>
              <div *ngIf="field.controlType != 'dropdown'">
                <td *ngIf="previewData[field.id].length > 2">
                  {{ previewData[field.id] }}
                </td>
                <td *ngIf="previewData[field.id]">
                  {{ previewData[field.id][0].value }}
                </td>
              </div>
              <div *ngIf="field.controlType == 'dropdown'">
                <td *ngIf="field.id == 'gender'">
                  <div  *ngFor="let genderType of genders">
                    <div  *ngIf = "genderType.langCode === primaryLanguage">
                      <div  *ngIf = "previewData[field.id][0].value === genderType.code">
                        {{genderType.genderName}}
                      </div>
                    </div>
                  </div>
                </td>
                <td *ngIf="field.id == 'residenceStatus'">
                  <div  *ngFor="let residentType of residenceStatus">
                    <div  *ngIf = "residentType.langCode === primaryLanguage">
                      <div  *ngIf = "previewData[field.id][0].value === residentType.code">
                        {{residentType.name}}
                      </div>
                    </div>
                  </div>
                </td>
                <div *ngIf="field.id != 'residenceStatus'">
                  <div *ngIf="field.id != 'gender'">
                    <td *ngIf="field.fieldType === 'dynamic'">
                      <div *ngFor="let dropdown of primarydropDownFields[field.id]">
                        <div  *ngIf = "previewData[field.id][0].value === dropdown.valueCode">
                          {{ dropdown.valueName }}
                        </div>
                      </div>
                    </td>
                    <td *ngIf="isThisFieldInLocationHeirarchies(field.id)">
                      {{ this.getLocationName(previewData[field.id][0].value, this.primaryLanguage ) }}
                    </td>
                    <td *ngIf="previewData[field.id].length > 2">
                      {{ previewData[field.id] }}
                    </td>
                    <td *ngIf="previewData[field.id] && field.fieldType != 'dynamic' && !isThisFieldInLocationHeirarchies(field.id)">
                      {{ previewData[field.id][0].value }}
                    </td>
                  </div>
                </div>
              </div>
            </tr>
          </table> -->
        </div>
      </div>
    </mat-card-content>
    <div class="preview__footer-header">
      <span>{{ 'preview.title_document' | translate }}</span>
      <span
              (click)="modifyDocument()"
              class="preview__modify-file"
              matTooltip="{{ 'helpText.modify_at_DocumentPreview' | translate }}"
      ><img src="assets/edit.png" /> {{ 'preview.action_modify' | translate }}</span
      >
    </div>
    <mat-card-footer class="preview__footer-container">
      <div class="preview__footer">
        <div class="preview__file-container">
          <!-- <span class="preview__file-span" *ngFor="let file of files">
            <img src="assets/pdf.png" />&nbsp;&nbsp;{{ file.doc_name }}
          </span> -->
          <table style="width:100%" *ngIf="documentMapObject">
            <tr class="preview__file__table__header">
              <td *ngFor="let object of documentMapObject">{{ object.name }}</td>
            </tr>
            <tr class="preview__file__table__data">
              <td *ngFor="let object of documentMapObject">
                <p *ngIf="object.fileName !== undefined">{{ object.fileName }}</p>
                <p class="error" *ngIf="object.fileName === undefined">{{ 'preview.text_not_uploaded' | translate }}</p>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </mat-card-footer>
  </mat-card>
</div>

<mat-card class="center-selection__button-container">
  <button (click)="navigateBack()" class="user-back-btn">{{ 'preview.action_back' | translate }}</button>
  <span class="spacer"></span>
  <button
          matTooltip="{{ 'helpText.add_applicant' | translate }}"
          (click)="navigateDashboard()"
          class="user-book_later-btn"
  >
    {{ 'preview.action_add_applicant' | translate }}
  </button>
  <button (click)="navigateNext()" class="user-continue-btn">
    {{ 'preview.action_continue' | translate }}
  </button>
</mat-card>