@import '../../_theme.scss';

#menu-button {
    display: inline-block;
    margin: 2px;
    position:relative;
    font-size: 17px !important;
    padding: 10px 10px 10px 10px;
    .mat-button-wrapper {
        display: inline-block
    }

    .mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
        line-height: 15px !important;
    }
    .name {
        font-size: mat-font-size($custom-typography, caption);
    }
    .mat-small {
        font-size: 10px;
        font-weight: 200;
    }

}
    .menu + * .cdk-overlay-pane > div.mat-menu-panel {
            margin-top: 40px !important;
    }


    .mat-button-focus-overlay {
        transition: none !important; 
        top: initial !important;
        position: relative !important;
    }