<!-- center filter -->
<div *ngIf="input.case === 'center'" class="center-filter">
  <h2 class="filter-heading">Add Filters</h2>
  <mat-divider></mat-divider>
  <form>
    <div class="grid-container">
      <mat-form-field>
        <input
          matInput
          placeholder="Center Type"
          [matAutocomplete]="cntrtype"
        />
        <mat-autocomplete #cntrtype="matAutocomplete">
          <mat-option *ngIf="Property; else cntrtypespinner"></mat-option>
          <ng-template #cntrtypespinner
            ><mat-option
              ><mat-spinner
                class="spinner"
                [diameter]="30"
              ></mat-spinner></mat-option
          ></ng-template>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Status" [matAutocomplete]="status" />
        <mat-autocomplete #status="matAutocomplete">
          <mat-option *ngIf="Property; else statusspinner"></mat-option>
          <ng-template #statusspinner
            ><mat-option
              ><mat-spinner
                class="spinner"
                [diameter]="30"
              ></mat-spinner></mat-option
          ></ng-template>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Region" [matAutocomplete]="region"/>
        <mat-autocomplete #region="matAutocomplete">
          <mat-option *ngIf="Property; else regionspinner"></mat-option>
          <ng-template #regionspinner
            ><mat-option
              ><mat-spinner
                class="spinner"
                [diameter]="30"
              ></mat-spinner></mat-option></ng-template></mat-autocomplete
      ></mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Province" [matAutocomplete]="province" />
        <mat-autocomplete #province="matAutocomplete">
          <mat-option *ngIf="Property; else provincespinner"></mat-option>
          <ng-template #provincespinner
            ><mat-option
              ><mat-spinner
                class="spinner"
                [diameter]="30"
              ></mat-spinner></mat-option
          ></ng-template>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="City" [matAutocomplete]="city" />
        <mat-autocomplete #city="matAutocomplete">
          <mat-option *ngIf="Property; else cityspinner"></mat-option>
          <ng-template #cityspinner
            ><mat-option
              ><mat-spinner
                class="spinner"
                [diameter]="30"
              ></mat-spinner></mat-option
          ></ng-template>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="LAA" [matAutocomplete]="LAA" />
        <mat-autocomplete #LAA="matAutocomplete">
          <mat-option *ngIf="Property; else LAAspinner"></mat-option>
          <ng-template #LAAspinner
            ><mat-option
              ><mat-spinner
                class="spinner"
                [diameter]="30"
              ></mat-spinner></mat-option
          ></ng-template>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Postal Code" [matAutocomplete]="postal"/>
        <mat-autocomplete #postal="matAutocomplete">
          <mat-option *ngIf="Property; else postalspinner"></mat-option>
          <ng-template #postalspinner
            ><mat-option
              ><mat-spinner
                class="spinner"
                [diameter]="30"
              ></mat-spinner></mat-option
          ></ng-template> </mat-autocomplete
      ></mat-form-field>
      <mat-form-field
        ><input
          matInput
          placeholder="Holiday Zone"
          [matAutocomplete]="holidayzone"/>
        <mat-autocomplete #holidayzone="matAutocomplete">
          <mat-option *ngIf="Property; else holidayzonespinner"></mat-option>
          <ng-template #holidayzonespinner
            ><mat-option
              ><mat-spinner
                class="spinner"
                [diameter]="30"
              ></mat-spinner></mat-option
          ></ng-template> </mat-autocomplete
      ></mat-form-field>
    </div>
    <div class="date-header">
      <h5>Select Created Date Range</h5>
    </div>
    <div class="grid-container">
      <mat-form-field>
        <input matInput [matDatepicker]="frompicker" placeholder="From" />
        <mat-datepicker-toggle
          matSuffix
          [for]="frompicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #frompicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="topicker" placeholder="To" />
        <mat-datepicker-toggle
          matSuffix
          [for]="topicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #topicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="footer">
      <button mat-button class="footer-button">Reset</button>
      <button mat-button class="footer-button">Cancel</button>
      <button
        mat-button
        class="footer-button"
        style="background-color: black; color:white;"
      >
        Apply
      </button>
    </div>
  </form>
</div>

<!-- Confirmation PopUp -->
<div *ngIf="input.case === 'CONFIRMATION'">
  <h1 mat-dialog-title>{{ input.title }}</h1>
  <div mat-dialog-content>
    <p>{{ input.message }}</p>
  </div>
  <div mat-dialog-actions>
    <span><button mat-button [mat-dialog-close]="confirm" cdkFocusInitial>{{ input.yesBtnTxt }}</button></span>
    <span><button mat-button [mat-dialog-close]="!confirm" cdkFocusInitial>{{ input.noBtnTxt }}</button></span>
  </div>
</div>

<div *ngIf="input.case === 'MESSAGE'">
  <h1 mat-dialog-title>{{ input.title }}</h1>
  <div mat-dialog-content>
    <p>{{ input.message }}</p>
  </div>
  <div mat-dialog-actions>
    <span><button mat-button cdkFocusInitial (click)="onNoClick()">{{ input.btnTxt }}</button></span>
  </div>
</div>
