<!-- center filter -->
<div *ngIf="input.case === 'center'" class="center-filter">
  <h2 class="filter-heading">Add Filters</h2>
  <mat-divider></mat-divider>
  <form [formGroup]="centerFilter.centerFilterGroup" (ngSubmit)="getCenterFilterValuesOnSubmit()">
    <div class="flex-container">
      <mat-form-field>
        <input matInput placeholder="Center Type" formControlName="centerType" [matAutocomplete]="cntrtype" />
        <mat-autocomplete #cntrtype="matAutocomplete">
          <mat-option *ngIf="Property; else cntrtypespinner"></mat-option>
          <ng-template #cntrtypespinner>
            <mat-option>
              <mat-spinner class="spinner" [diameter]="30"></mat-spinner>
            </mat-option>
          </ng-template>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Status" formControlName="status" [matAutocomplete]="status" />
        <mat-autocomplete #status="matAutocomplete">
          <mat-option *ngIf="Property; else statusspinner"></mat-option>
          <ng-template #statusspinner>
            <mat-option>
              <mat-spinner class="spinner" [diameter]="30"></mat-spinner>
            </mat-option>
          </ng-template>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Region" formControlName="region" [matAutocomplete]="region" />
        <mat-autocomplete #region="matAutocomplete">
          <mat-option *ngIf="Property; else regionspinner"></mat-option>
          <ng-template #regionspinner>
            <mat-option>
              <mat-spinner class="spinner" [diameter]="30"></mat-spinner>
            </mat-option>
          </ng-template>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Province" formControlName="province" [matAutocomplete]="province" />
        <mat-autocomplete #province="matAutocomplete">
          <mat-option *ngIf="Property; else provincespinner"></mat-option>
          <ng-template #provincespinner>
            <mat-option>
              <mat-spinner class="spinner" [diameter]="30"></mat-spinner>
            </mat-option>
          </ng-template>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="City" formControlName="city" [matAutocomplete]="city" />
        <mat-autocomplete #city="matAutocomplete">
          <mat-option *ngIf="Property; else cityspinner"></mat-option>
          <ng-template #cityspinner>
            <mat-option>
              <mat-spinner class="spinner" [diameter]="30"></mat-spinner>
            </mat-option>
          </ng-template>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="LAA" formControlName="laa" [matAutocomplete]="LAA" />
        <mat-autocomplete #LAA="matAutocomplete">
          <mat-option *ngIf="Property; else LAAspinner"></mat-option>
          <ng-template #LAAspinner>
            <mat-option>
              <mat-spinner class="spinner" [diameter]="30"></mat-spinner>
            </mat-option>
          </ng-template>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Postal Code" formControlName="postalCode" [matAutocomplete]="postal" />
        <mat-autocomplete #postal="matAutocomplete">
          <mat-option *ngIf="Property; else postalspinner"></mat-option>
          <ng-template #postalspinner>
            <mat-option>
              <mat-spinner class="spinner" [diameter]="30"></mat-spinner>
            </mat-option>
          </ng-template>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field><input matInput placeholder="Holiday Zone" formControlName="holidayZone"
          [matAutocomplete]="holidayzone" />
        <mat-autocomplete #holidayzone="matAutocomplete">
          <mat-option *ngIf="Property; else holidayzonespinner"></mat-option>
          <ng-template #holidayzonespinner>
            <mat-option>
              <mat-spinner class="spinner" [diameter]="30"></mat-spinner>
            </mat-option>
          </ng-template>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="date-header">
      <h5>Select Created Date Range</h5>
    </div>
    <div class="flex-container">
      <mat-form-field>
        <input matInput [matDatepicker]="frompicker" formControlName="from" placeholder="From" />
        <mat-datepicker-toggle matSuffix [for]="frompicker"></mat-datepicker-toggle>
        <mat-datepicker #frompicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="topicker" formControlName="to" placeholder="To" />
        <mat-datepicker-toggle matSuffix [for]="topicker"></mat-datepicker-toggle>
        <mat-datepicker #topicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="footer">
      <button type="reset" mat-button class="footer-button">Reset</button>
      <button mat-button class="footer-button" (click)="onNoClick()">Cancel</button>
      <button type="submit" mat-button class="footer-button" style="background-color: black; color:white;"
        (click)="onNoClick()">
        Apply
      </button>
    </div>
  </form>
</div>

<!-- Confirmation PopUp -->

<div class="pop-up" *ngIf="input.case === 'CONFIRMATION'">
  <div class="pop-up-header">
    <b mat-dialog-title>{{ input.title }}</b>
    <div mat-dialog-content>
      <p>{{ input.message }}</p>
    </div>
  </div>
  <div mat-dialog-actions class="pop-up-footer">
    <span><button mat-button [mat-dialog-close]="!confirm">
        {{ input.noBtnTxt }}
      </button></span>
    <span><button type="button" mat-button [mat-dialog-close]="confirm" cdkFocusInitial>
        {{ input.yesBtnTxt }}
      </button></span>
  </div>
</div>

<!-- Message PopUp -->
<div class="pop-up" *ngIf="input.case === 'MESSAGE'">
  <div class="pop-up-header">
    <b mat-dialog-title>{{ input.title }}</b>
    <div mat-dialog-content>
      <p>{{ input.message }}</p>
    </div>
  </div>
  <div mat-dialog-actions class="pop-up-footer">
    <span><button mat-button cdkFocusInitial (click)="onNoClick()">
        {{ input.btnTxt }}
      </button></span>
  </div>
</div>



<!-- <div *ngIf="input.case === 'MESSAGE'" style="padding: 10px;">
  <h1 mat-dialog-title>{{ input.title }}</h1>
  <div mat-dialog-content>
    <p>{{ input.message }}</p>
  </div>
  <div mat-dialog-actions>
    <span><button mat-button cdkFocusInitial (click)="onNoClick()">
        {{ input.btnTxt }}
      </button></span>
  </div>
</div> -->