@import "../../_theme.scss";

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}
.filter-heading {
  line-height: 16px;
  font-family: "Franklin Gothic Medium";
  font-size: 18px;
  word-spacing: 1px;
  padding: 10px 20px;
}

.date-header {
  margin-left: 15px;
}
h5 {
  margin: 5px;
}
.footer {
  display: flex;
  justify-content: flex-end;
  bottom: 0;
  position: sticky;
  background-color: rgb(233, 233, 233);
  padding: 11px 0px;
}
.footer-button {
  border: 1px solid black;
  border-radius: 0;
  margin: 5px;
  text-transform: capitalize;
  font-family: sans-serif;
  font-size: 12px;
  word-spacing: 1px;
  width: 80px;
}

.spinner {
  display: flex;
  margin: 120px;
}
.mat-dialog-container {
  border-radius: 0;
  padding: 0;
}

.mat-dialog-actions {
  justify-content: flex-end;
}
.flex-container > .mat-form-field {
  width: 50%;
  padding: 0px 10px;
}
.flex-container > .mat-form-field {
  .mat-input-element {
    color: black;
  }
  .mat-form-field-label {
    color: black;
    font-size: 12px;
  }
  .mat-form-field-underline {
    background-color: slategray;
  }
}
.flex-container > .mat-form-field.mat-focused {
  .mat-form-field-label {
    color: slategray;
  }
  .mat-form-field-underline {
    background-color: slategray;
  }
  .mat-input-element {
    color: black;
  }
  .mat-form-field-ripple {
    background-color: slategray;
  }
}

// Confirmation popup

.pop-up {
  .pop-up-header {
    padding: 16px !important;
  }
  .mat-dialog-content {
    margin: 0 !important;
    padding: 0 !important;
  }
  .pop-up-footer  {
    background: #e6e7e7;
    margin-bottom: 0px;
    padding: 0 16px;
    .mat-button {
      outline: 1px solid #FF4081 !important;
      margin: 0 10px;
      border-radius: 0;
      color: #FF4081;
    }
  }
  .pop-up-footer {
    .mat-button:focus {
      background: #FF4081 !important;
      color: #ffffff;
      outline: 0 !important;
    }
  }
}
