<div class="spinner" *ngIf="!primaryuserForm && !hasError">
  <mat-spinner></mat-spinner>
</div>
<div>
  <div class="wrapper">
    <div class="user" *ngIf="primaryuserForm">
      <header>{{ "demographic.title" | translate }}</header>
      <hr />
      <div class="user_container_single_form" *ngIf="primaryuserForm">
        <form [formGroup]="userForm" class="user__form">
          <!-- Create as rows as many as alignmentGroups in UI specs -->
          <span *ngFor="let alignmentGroup of alignmentGroups">
            <div class="rowContainer">
              <span *ngFor="let field of uiFieldsForAlignmentGroups[alignmentGroup]">
                <div class="fieldContainer" [ngStyle]="field.containerStyle">
                  <div class="fieldHeader" [ngStyle]="field.headerStyle">
                    <!-- Create container header with labels in all chosen dataCaptureLanguages -->
                    <span *ngFor="let dataCaptureLanguage of dataCaptureLanguages;index as i">
                      <mat-label title='{{ dataCaptureLanguagesLabels[i] | translate }}'>{{
                        field.labelName[dataCaptureLanguage] }}</mat-label>
                      <span *ngIf="i+1 < dataCaptureLanguages.length;else showColon"> / </span>
                      <ng-template #showColon> : </ng-template>
                    </span>
                    <span *ngIf="field.required" class="required-annotation">*</span>
                  </div>
                  <div class="fieldContent">
                    <!-- Create form fields to capture data in all chosen dataCaptureLanguages -->
                    <span *ngFor="let dataCaptureLanguage of dataCaptureLanguages;index as i">
                      <!-- Add TextBox for each dataCaptureLanguage -->
                      <ng-container *ngIf="field.controlType === 'textbox' && field.isVisible == true">
                        <mat-form-field [ngClass]="'text-field'">
                          <!-- Again Label is required at each TextBox level too -->
                          <mat-label>
                            {{field.labelName[dataCaptureLanguage]}}
                          </mat-label>
                          <input matInput [formControlName]="field.id + '_' + dataCaptureLanguage"
                            (change)="showHideFormFields()"
                            (focusout)="copyToSecondaryFormNonDropDown(dataCaptureLanguage, $event)"
                            (input)="copyToSecondaryFormNonDropDown(dataCaptureLanguage, $event)" #keyboardRef #input />
                        </mat-form-field>
                      </ng-container>
                      <!-- Add CheckBox only once, but show Labels in all dataCaptureLanguages -->
                      <ng-container *ngIf="field.controlType === 'checkbox' && field.isVisible == true">
                        <span *ngIf="i == 0">
                          <mat-checkbox class="form_checkBox" [formControlName]="field.id"
                            (change)="showHideFormFields();copyToSecondaryFormNonDropDown(field.id, $event)">
                            <span *ngFor="let lang of dataCaptureLanguages;index as langIndex">
                              <span *ngIf="langIndex !== 0"> / </span>
                              <mat-label class="form_checkBox">{{field.labelName[lang]}}</mat-label>
                            </span>
                          </mat-checkbox>
                        </span>
                      </ng-container>
                      <!-- Add Button Options in  only one language on mouse over other lang are shown -->
                      <ng-container *ngIf="field.controlType === 'button' && field.isVisible == true">
                        <span *ngIf="i == 0">
                          <mat-button-toggle-group class="btn_grp" [formControlName]="field.id" (change)="showHideFormFields();
                              copyDataToSecondaryForm()">
                            <ng-container *ngFor="let dropdown of selectOptionsDataArray[field.id]">
                              <span *ngIf="dropdown.languageCode === dataCaptureLanguage">
                                <mat-button-toggle class="btn_grp mat-button-toggle" value="{{dropdown.valueCode}}"
                                  title="{{getTitleForOptionInOtherLangs(field.id, dropdown.valueCode, dataCaptureLanguage)}}">
                                  {{dropdown.valueName}}
                                </mat-button-toggle>
                              </span>
                            </ng-container>
                          </mat-button-toggle-group>
                          <br>
                          <span *ngFor="let option of selectOptionsDataArray[field.id]">
                            <span
                              *ngIf="option.valueCode === userForm.get(field.id).value && dataCaptureLanguages.includes(option.languageCode)">
                              <span class="selectedOption">{{option.valueName}}<p></p></span>
                            </span>

                          </span>
                        </span>
                      </ng-container>
                      <!-- Add Dropdown Options in  only one language on mouse over other lang are shown-->
                      <ng-container *ngIf="field.controlType === 'dropdown' && field.isVisible == true">
                        <span *ngIf="i == 0">
                          <mat-form-field [ngClass]="'dropdown-field'">
                            <mat-label>
                              {{field.labelName[dataCaptureLanguage]}}
                            </mat-label>
                            <mat-select formControlName="{{ field.id }}" (focus)="dropdownApiCall(field)"
                              (selectionChange)="
                                copyDataToSecondaryForm(
                                field.id,
                                userForm.get(field.id).value)" #dropdown>
                              <mat-option *ngIf="!(
                                selectOptionsDataArray[field.id]?.length > 0 &&
                                selectOptionsDataArray[field.id] !== null)">
                                <mat-spinner [diameter]="20" style="margin-left: 43%"></mat-spinner>
                              </mat-option>
                              <ng-container *ngFor="let dropdown of selectOptionsDataArray[field.id]">
                                <mat-option *ngIf="dropdown.languageCode === dataCaptureLanguage"
                                  [value]="dropdown.valueCode"
                                  (click)="resetLocationFields(field.id);showHideFormFields();"
                                  title="{{getTitleForOptionInOtherLangs(field.id, dropdown.valueCode, dataCaptureLanguage)}}">
                                  {{ dropdown.valueName }}
                                </mat-option>
                              </ng-container>
                            </mat-select>
                          </mat-form-field>
                          <br>
                          <span *ngFor="let option of selectOptionsDataArray[field.id]">
                            <span
                              *ngIf="option.valueCode === userForm.get(field.id).value && dataCaptureLanguages.includes(option.languageCode)">
                              <span class="selectedOption">{{option.valueName}}<p></p></span>
                            </span>

                          </span>
                        </span>
                      </ng-container>
                      <!-- Add Date fields-->
                      <ng-container *ngIf="field.controlType === 'date' && field.isVisible == true">
                        <span *ngIf="i == 0">
                          <div class="user__age-or-date">
                            <div class="user__date">
                              <mat-form-field>
                                <input matInput placeholder="{{ 'demographic.date_dd' | translate }}" #dd [value]="date"
                                  (change)="showHideFormFields()" (focusout)="onDOBChange()" />
                              </mat-form-field>
                              <mat-form-field>
                                <input matInput placeholder="{{ 'demographic.date_mm' | translate }}" [value]="month"
                                  #mm (focusout)="onDOBChange()" (change)="showHideFormFields()" />
                              </mat-form-field>
                              <mat-form-field>
                                <input matInput placeholder="{{ 'demographic.date_yyyy' | translate }}" [value]="year"
                                  #yyyy (focusout)="onDOBChange()" (change)="showHideFormFields()" />
                              </mat-form-field>
                            </div>
                            <div class="user__pref">
                              {{ "demographic.text_or" | translate }}
                            </div>
                            <div class="user__age">
                              <mat-form-field>
                                <input matInput tabindex="-1" placeholder="{{ 'demographic.label_age' | translate }}"
                                  [value]="currentAge" #age (change)="showHideFormFields()"
                                  (focusout)="onAgeChange()" />
                              </mat-form-field>
                              <div class="user__age--years">
                                {{ "demographic.text_years" | translate }}
                              </div>
                            </div>
                          </div>
                          <div class="mat-error ng-star-inserted user__dob__error" *ngIf="primaryuserForm &&    
                              userForm.get(field.id) &&
                              (userForm.get(field.id).touched &&
                                userForm.get(field.id).hasError('incorrect')) ||
                              (userForm.get(field.id).touched &&
                                !userForm.get(field.id).valid)">
                            {{ "demographic.validation.DOB_validation" | translate }}
                          </div>
                        </span>
                      </ng-container>
                      <!-- Add Phone and Email in only one lang -->
                      <ng-container
                        *ngIf="(field.controlType === 'phone' || field.controlType === 'email') && field.isVisible == true">
                        <span *ngIf="i == 0">
                          <mat-form-field [ngClass]="'text-field'">
                            <!-- Again Label is required at each TextBox level too -->
                            <mat-label>
                              {{field.labelName[dataCaptureLanguage]}}
                            </mat-label>
                            <input matInput [formControlName]="field.id" (change)="showHideFormFields()"
                              (focusout)="copyToSecondaryFormNonDropDown(dataCaptureLanguage, $event)"
                              (input)="copyToSecondaryFormNonDropDown(dataCaptureLanguage, $event)" #keyboardRef
                              #input />
                          </mat-form-field>
                        </span>
                      </ng-container>
                      <!-- Error handling for various types -->
                      <span *ngIf="field.controlType === 'textbox'">
                        <mat-error class="primary-errors" *ngIf="
                          primaryuserForm &&
                          userForm.get(field.id + '_' + dataCaptureLanguage) &&
                          userForm.get(field.id + '_' + dataCaptureLanguage).hasError('required') &&
                          userForm.get(field.id + '_' + dataCaptureLanguage).touched">
                          {{ field.labelName[dataCaptureLanguage] }}
                          {{ validationMessage.requiredMessage[dataCaptureLanguage] }}
                        </mat-error>
                        <mat-error class="primary-errors" *ngIf="
                          primaryuserForm &&
                          userForm.get(field.id + '_' + dataCaptureLanguage) &&
                          userForm.get(field.id + '_' + dataCaptureLanguage).touched &&
                          userForm.get(field.id + '_' + dataCaptureLanguage).dirty &&
                          userForm.get(field.id + '_' + dataCaptureLanguage).hasError('pattern')">
                          {{ validationMessage.InvalidStringMessage[dataCaptureLanguage] }}
                          {{ field.labelName[dataCaptureLanguage] }}
                        </mat-error>
                      </span>
                      <span *ngIf="field.controlType === 'date' || field.controlType === 'dropdown' 
                        || field.controlType === 'button' || field.controlType === 'checkbox'
                        || field.controlType === 'email' || field.controlType === 'phone'">
                        <span *ngIf="i == 0">
                          <mat-error class="primary-errors" *ngIf="
                          primaryuserForm &&
                          userForm.get(field.id) &&
                          userForm.get(field.id).hasError('required') &&
                          userForm.get(field.id).touched">
                            {{ field.labelName[dataCaptureLanguage] }}
                            {{ validationMessage.requiredMessage[dataCaptureLanguage] }}
                          </mat-error>
                          <mat-error class="primary-errors" *ngIf="
                          primaryuserForm &&
                          userForm.get(field.id) &&
                          userForm.get(field.id).touched &&
                          userForm.get(field.id).dirty &&
                          userForm.get(field.id).hasError('pattern')">
                            {{ validationMessage.InvalidStringMessage[dataCaptureLanguage] }}
                            {{ field.labelName[dataCaptureLanguage] }}
                          </mat-error>
                        </span>
                      </span>
                    </span>
                  </div>
                </div>
              </span>
            </div>
          </span>
        </form>
      </div>
    </div>
  </div>
  <div class="user__buttons">
    <button *ngIf="!showPreviewButton" class="user__btn" type="button" [disabled]="!dataUploadComplete"
      (click)="onSubmit()">
      {{ "demographic.action_continue" | translate }}
    </button>
    <button *ngIf="showPreviewButton" class="user__btn" type="button" [disabled]="!dataUploadComplete"
      (click)="onSubmit()">
      {{ "demographic.action_preview" | translate }}
    </button>
  </div>
</div>