<div class="spinner" *ngIf="!primaryuserForm && !hasError">
  <mat-spinner></mat-spinner>
</div>
<div>
  <div class="wrapper">
    <div class="user" *ngIf="primaryuserForm">
      <header>{{ "demographic.title" | translate }}</header>
      <hr />
      <div
        [dir]="textDir"
        [ngClass]="{
          user__container: primaryLang !== secondaryLang,
          user_container_single_form: primaryLang === secondaryLang
        }"
        *ngIf="primaryuserForm"
      >
        <form [formGroup]="userForm" class="user__form">
          <h4>{{ "demographic.language" | translate }}</h4>
          <ng-container *ngFor="let field of uiFields">
            <ng-container *ngIf="field.controlType === 'textbox' && field.isVisible == true">
              <mat-form-field [ngClass]="'text-field'">
                <mat-label
                  >{{ field.labelName[primaryLang] }}
                  <span *ngIf="field.required" class="required-annotation"
                    >*</span
                  ></mat-label
                >

                <input
                  matInput
                  formControlName="{{ field.id }}"
                  (change)="showHideFormFields()"
                  (focusout)="copyToSecondaryFormNonDropDown(field.id, $event)"
                  (input)="copyToSecondaryFormNonDropDown(field.id, $event)"
                  #keyboardRef
                  #input
                />
              </mat-form-field>
            </ng-container>
            <ng-container *ngIf="field.controlType === 'dropdown' && field.isVisible == true">
              <mat-form-field [ngClass]="'dropdown-field'">
                <mat-label
                  >{{ field.labelName[primaryLang]
                  }}<span *ngIf="field.required" class="required-annotation"
                    >*</span
                  ></mat-label
                >
                <mat-select
                  formControlName="{{ field.id }}"
                  (focus)="dropdownApiCall(field)"               
                  (selectionChange)="
                      copyDataToSecondaryForm(
                      field.id,
                      userForm.get(field.id).value
                    )
                  "
                  #dropdown
                >
                  <mat-option
                    *ngIf="
                      !(
                        primarydropDownFields[field.id]?.length > 0 &&
                        primarydropDownFields[field.id] !== null
                      )
                    "
                  >
                    <mat-spinner
                      [diameter]="20"
                      style="margin-left: 43%"
                    ></mat-spinner>
                  </mat-option>
                  <mat-option
                    *ngFor="let dropdown of primarydropDownFields[field.id]"
                    [value]="dropdown.valueCode"
                    (click)="resetLocationFields(field.id);showHideFormFields();"
                  >
                    {{ dropdown.valueName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>
            <ng-container *ngIf="field.controlType === 'date' && field.isVisible == true">
              <!-- <mat-form-field [ngClass]="'date-field'">
                <mat-label>{{ field.labelName[primaryLang] }}</mat-label>
                <input
                matInput
                formControlName="{{ field.id }}"
                style="margin-top: 5px;padding: 4px;"
              />
                <input
                  matInput
                  [matDatepicker]="picker"
                  style="margin-top: 5px;padding: 4px;"
                  (dateChange)="dateEvent($event)"
                  style="display: none;"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field> -->
              <br />
              <mat-label
                >{{ field.labelName[primaryLang] }}
                <span *ngIf="field.required" class="required-annotation"
                  >*</span
                ></mat-label
              >

              <div class="user__age-or-date">
                <div class="user__date">
                  <mat-form-field>
                    <input
                      matInput
                      placeholder="{{ 'demographic.date_dd' | translate }}"
                      #dd
                      [value]="date"
                      (change)="showHideFormFields()"
                      (focusout)="onDOBChange()"
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      matInput
                      placeholder="{{ 'demographic.date_mm' | translate }}"
                      [value]="month"
                      #mm
                      (focusout)="onDOBChange()"
                      (change)="showHideFormFields()"
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      matInput
                      placeholder="{{ 'demographic.date_yyyy' | translate }}"
                      [value]="year"
                      #yyyy
                      (focusout)="onDOBChange()"
                      (change)="showHideFormFields()"
                    />
                  </mat-form-field>
                </div>
                <div class="user__pref">
                  {{ "demographic.text_or" | translate }}
                </div>
                <div class="user__age">
                  <mat-form-field>
                    <input
                      matInput
                      tabindex="-1"
                      placeholder="{{ 'demographic.label_age' | translate }}"
                      [value]="currentAge"
                      #age
                      (change)="showHideFormFields()"
                      (focusout)="onAgeChange()"
                    />
                  </mat-form-field>
                  <div class="user__age--years">
                    {{ "demographic.text_years" | translate }}
                  </div>
                </div>
              </div>
              <div
                class="mat-error ng-star-inserted user__dob__error"
                *ngIf="
                  (userForm.get(field.id).touched &&
                    userForm.get(field.id).hasError('incorrect')) ||
                  (userForm.get(field.id).touched &&
                    !userForm.get(field.id).valid)
                "
              >
                {{ "demographic.validation.DOB_validation" | translate }}
              </div>
            </ng-container>
            <mat-error
              class="primary-errors"
              *ngIf="
                primaryuserForm &&
                userForm.get(field.id).hasError('required') &&
                userForm.get(field.id).touched
              "
              >{{ field.labelName[primaryLang] }}
              {{ validationMessage.requiredMessage[primaryLang] }}</mat-error
            >
            <mat-error
              class="primary-errors"
              *ngIf="
                primaryuserForm &&
                userForm.get(field.id).touched &&
                userForm.get(field.id).dirty &&
                userForm.get(field.id).hasError('pattern')
              "
              >{{ validationMessage.InvalidStringMessage[primaryLang] }}
              {{ field.labelName[primaryLang] }}
            </mat-error>
          </ng-container>
        </form>
      </div>
      <div
        [dir]="secTextDir"
        [ngClass]="{
          user__container: primaryLang !== secondaryLang,
          user_container_single_form: primaryLang === secondaryLang
        }"
        *ngIf="secondaryuserForm && !(primaryLang === secondaryLang)"
      >
        <form [formGroup]="transUserForm" class="user__form">
          <h4>{{ secondaryLanguagelabels.language }}</h4>
          <ng-container *ngFor="let field of uiFields">
            <ng-container *ngIf="field.controlType === 'textbox' && field.isVisible == true">
              <mat-form-field [ngClass]="'text-field'">
                <mat-label
                  >{{ field.labelName[secondaryLang] }}
                  <span *ngIf="field.required" class="required-annotation"
                    >*</span
                  ></mat-label
                >
                <input
                  matInput
                  formControlName="{{ field.id }}"
                  [readonly]="getReadOnlyfields(field.id)"
                />
              </mat-form-field>
            </ng-container>
            <ng-container *ngIf="field.controlType === 'dropdown' && field.isVisible == true">
              <mat-form-field [ngClass]="'dropdown-field'">
                <mat-label
                  >{{ field.labelName[secondaryLang] }}
                  <span *ngIf="field.required" class="required-annotation"
                    >*</span
                  ></mat-label
                >
                <mat-select
                  formControlName="{{ field.id }}"
                  #dropdown
                  [disabled]="true"
                >
                  <mat-option
                    *ngIf="secondaryDropDownLables[field.id]?.length === 0"
                  >
                    <mat-spinner
                      [diameter]="20"
                      style="margin-left: 43%"
                    ></mat-spinner>
                  </mat-option>
                  <mat-option
                    *ngFor="let dropdown of secondaryDropDownLables[field.id]"
                    [value]="dropdown.valueCode"
                    (click)="resetLocationFields(field.id)"
                  >
                    {{ dropdown.valueName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>
            <ng-container *ngIf="field.controlType === 'date' && field.isVisible == true">
              <!-- <mat-form-field >
              <mat-label>{{ field.labelName[secondaryLang] }}</mat-label>
              <input
                matInput
                style="margin-top: 5px;padding: 4px;"
                formControlName="{{ field.id }}"
                [readonly]="true"
              />
            </mat-form-field> -->
              <br />
              <mat-label
                >{{ field.labelName[secondaryLang]
                }}<span *ngIf="field.required" class="required-annotation"
                  >*</span
                ></mat-label
              >

              <div class="user__age-or-date">
                <div class="user__date">
                  <mat-form-field>
                    <input
                      matInput
                      [placeholder]="secondaryLanguagelabels.date_dd"
                      [value]="date"
                      readonly="true"
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      matInput
                      [placeholder]="secondaryLanguagelabels.date_mm"
                      [value]="month"
                      readonly="true"
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      matInput
                      [placeholder]="secondaryLanguagelabels.date_yyyy"
                      [value]="year"
                      readonly="true"
                    />
                  </mat-form-field>
                </div>

                <div class="user__pref">
                  {{ secondaryLanguagelabels.text_or }}
                </div>
                <div class="user__age">
                  <mat-form-field>
                    <input
                      matInput
                      tabindex="-1"
                      [placeholder]="secondaryLanguagelabels.label_age"
                      [value]="currentAge"
                      readonly="true"
                    />
                  </mat-form-field>
                  <div class="user__age--years">
                    {{ secondaryLanguagelabels.text_years }}
                  </div>
                </div>
              </div>
            </ng-container>
            <mat-error
              class="secondary-errors"
              *ngIf="
                secondaryuserForm &&
                transUserForm.get(field.id).touched &&
                transUserForm.get(field.id).hasError('required')
              "
              >{{ field.labelName[secondaryLang] }}
              {{ validationMessage.requiredMessage[secondaryLang] }}</mat-error
            >
            <mat-error
              class="secondary-errors"
              *ngIf="
                secondaryuserForm &&
                transUserForm.get(field.id).touched &&
                transUserForm.get(field.id).dirty &&
                transUserForm.get(field.id).hasError('pattern')
              "
              >{{ validationMessage.InvalidStringMessage[secondaryLang] }}
              {{ field.labelName[secondaryLang] }}
            </mat-error>
          </ng-container>
        </form>
      </div>
    </div>
  </div>
  <div class="user__buttons">
    <!-- <button
      class="user__btn user__btn--back"
      type="button"
      (click)="onBack()"
      [disabled]="
        isNewApplicant || localStorage.getItem('modifyUserFromPreview') === 'true'"
    >
      {{ "demographic.action_back" | translate }}
    </button> -->
    <button
      *ngIf="!showPreviewButton"
      class="user__btn"
      type="button"
      [disabled]="!dataUploadComplete"
      (click)="onSubmit()"
    >
      {{ "demographic.action_continue" | translate }}
    </button>
    <button
      *ngIf="showPreviewButton"
      class="user__btn"
      type="button"
      [disabled]="!dataUploadComplete"
      (click)="onSubmit()"
    >
      {{ "demographic.action_preview" | translate }}
    </button>
  </div>
</div>
