<div class="card">
    <mat-card>
        <div class="item1">
            <div class="profile-img">
                <img src="/assets/images/icon_center.svg" alt="img">
            </div>
        </div>
        <div class="item2">
            <h4>Machine Name:&nbsp;<span></span></h4>
        </div>
        <mat-divider [vertical]="true" [inset]="true"></mat-divider>
        <div class="item3">
            <p class="small-text">
                {{'center.created-on'|translate}}:&nbsp;<span></span>
            </p>
            <p class="small-text">{{'center.created-by'|translate}}:&nbsp;<span></span></p>
            <p class="small-text">
                {{'center.updated-on'|translate}}:&nbsp;<span></span>
            </p>
            <p class="small-text">{{'center.updated-by'|translate}}:&nbsp;<span></span></p>
        </div>
    </mat-card>
</div>