<mat-toolbar>
  <div
    class="menu"
    [ngStyle]="{ display: screenResize > 840 ? 'none' : 'block' }"
  >
    <button mat-icon-button id="menu" (click)="sideMenuService.openNav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="mosip-logo">
    <span
      ><img
        src="./assets/images/logo-final.png"
        width="45"
        height="45"
        alt="Logo"/></span
    >&nbsp;
    <span [ngStyle]="{ display: screenResize > 840 ? 'inline-block' : 'none' }"
      ><b class="mosip-text">MOSIP</b
      ><b class="version-txt"> {{ 'headermessage.vesion' | translate }} : {{ appVersion }}</b></span
    >
  </div>
  <div class="zone">
    <span class="zone-text">{{ 'headermessage.Zone' | translate }} - {{ zone }}</span>
  </div>
  <div class="profile">
    <app-hamburger-menu [data]="profile"></app-hamburger-menu>
  </div>
</mat-toolbar>
