.mat-toolbar {
  color: #ffffff;
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 35px;
  background: #0b6a82 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px #0000000a;
  opacity: 1;
}
.mosip-logo {
  flex: 2;
  margin: 6px 0 0px;
  opacity: 1;
  cursor: pointer !important;
  span {
    display: inline-block;
    vertical-align: top;
  }
  .mosip-text {
    font-size: 18px;
    opacity: 1;
    font-family: "Roboto", sans-serif;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    width: 35px;
    height: 35px;
  }
}
.version-txt{
  font-size: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  display: block;
  margin-top: -19px;
}
.zone {
  text-align: center;
  // flex: 1;
  background: #3b99bc 0% 0% no-repeat padding-box;
  border-radius: 26px;
  opacity: 0.8;
  color: #ffffff;
  opacity: 1;
  // min-width: 115px;
  width: 100px;
  text-overflow: ellipsis;
  .zone-text{
    height: 20px;
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 100;
  }

  @media (max-width: 840px) {
    h6 {
      width: 50px;
      overflow: hidden;
      position: relative;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
.profile {
  flex: 2;
  text-align: right;
  span {
    display: inline-block;
    vertical-align: middle;
  }
  img {
    margin-top: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-style:solid;
    border-width:2px;  
    border-color: #ffffff;
  }
}

@media (max-width: 600px) {
  .zone {
    flex: 1;
  }
  .mosip-logo {
    flex: 1;
  }
  .profile {
    flex: 1;
  }
}
