@import "../../breakpoints";

:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;
}

[dir*="rtl"] .mat-nav-list {
  .list-item-active {
    border-left: 4px solid #ff4081 !important;
    border-right: 0px solid #ff4081 !important;
  }
}

[dir*="rtl"] #flex-single-view  {
  .flex-body  {
    .action-buttons {
      text-align: left !important;
    }  
    .forms-container  {
      .primary-form-rtl {
        padding-right: 20px !important;
      }    
      .secondary-form-ltr{
        padding-right: 7px !important;
        padding-left: 30px !important;
      }
    }  
  }
  .elipses {
    position: inherit !important;
  }
}

.mat-sidenav-content > app-edit{
  padding:12px !important;
}

.mat-nav-list {
  .list-item-active {
    background: #f1f1f3 !important;
    border-right: 4px solid #ff4081 !important;
    height: 42px !important;
  }
}

.mat-list-item {
  display: flex;
  width: auto !important;
  height: 42px !important;
  
  .menu-list-text{
    font-weight: 600;
    text-transform: capitalize;
  }
  .mat-list-text-children{
    font-weight: 300;
  }
  .routeIcon {
    margin-left: 8px;
  }
  .padding-left {
    margin-left: 30px;
  }
}
.mat-list-base .mat-list-item .mat-list-item-content {
  font-size: 11.5px;
  opacity: 1;
  font-family: "Roboto", sans-serif;
  height: 42px !important;
}

@include breakpoint-max(600px) {
  .mat-list-item-content {
    font-size: 13px !important;
  }
}
