#master-data-home {
  padding-top: 18px;
}

.heading {
  margin: 0px 10px 5px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  @media (max-width: 768px) {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
}

#master-data-flex-container {
  display: flex;
  overflow: auto;
  max-height: 80vh;
  // padding-bottom: 20px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  .header {
    border-bottom: 1px solid #c6c6c6 !important;
    .mat-card-header-text {
      margin: 0px;
    }
    b {
      margin-bottom: 5px;
      color: #c6c6c6;
    }
  }
  .content {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
  .item1 {
    flex: 1;
    margin: 0px 10px !important;
    @media (max-width: 768px) {
      margin-right: 0px !important;
      margin-left: 0px !important;
      margin-bottom: 10px !important;
    }

    mat-card {
      height: calc(100% + 3px);
    }
  }
  .sub-items {
    flex-direction: column;
    .sub-item1,
    .sub-item2,
    .sub-item3 {
      margin-bottom: 15px;
    }
  }
}
