<div id="master-data-home">
    <div class="heading">
        <span><strong>{{'masterData.master-data' | translate}}</strong></span>
        <span><b>{{'masterData.total-no' | translate}}:&nbsp;15</b></span>
    </div>
    <div id="master-data-flex-container">
        <div class="item1">
            <mat-card>
                <mat-card-header class="header">
                    <b>{{'masterData.common' | translate}}</b>
                </mat-card-header>
                <ng-container *ngFor="let itemList of masterDataCommonList; let i = index">
                    <mat-card-content class="content" [style.marginTop.px]="i === 0 ? 10:0" (click)="onList(itemList)">
                        <span>{{itemList?.label[primaryLang]}}</span>
                        <span style="text-align: right"><i class="material-icons">
                                keyboard_arrow_right
                            </i></span>
                    </mat-card-content>
                </ng-container>
            </mat-card>
        </div>
        <div class="item1">
            <div class="sub-items">
                <div class="sub-item1">
                    <mat-card>
                        <mat-card-header class="header">
                            <b>{{'masterData.device-definition' | translate}}</b>
                        </mat-card-header>
                        <ng-container *ngFor="let itemList of masterDataDeviceList; let j = index">
                            <mat-card-content class="content" [style.marginTop.px]="j === 0 ? 10:0" (click)="onList(itemList)">
                                <span>{{itemList?.label[primaryLang]}}</span>
                                <span style="text-align: right"><i class="material-icons">
                                        keyboard_arrow_right
                                    </i></span>
                            </mat-card-content>
                        </ng-container>
                    </mat-card>
                </div>
                <div class="sub-item2">
                    <mat-card>
                        <mat-card-header class="header">
                            <b>{{'masterData.machine-definition' | translate}}</b>
                        </mat-card-header>
                        <ng-container *ngFor="let itemList of masterDataMachineList; let k = index">
                            <mat-card-content class="content" [style.marginTop.px]="k === 0 ? 10:0" (click)="onList(itemList)">
                                <span>{{itemList?.label[primaryLang]}}</span>
                                <span style="text-align: right"><i class="material-icons">
                                        keyboard_arrow_right
                                    </i></span>
                            </mat-card-content>
                        </ng-container>
                    </mat-card>
                </div>
                <div class="sub-item3">
                    <mat-card>
                        <mat-card-header class="header">
                            <b>{{'masterData.document-definition' | translate}}</b>
                        </mat-card-header>
                        <ng-container *ngFor="let itemList of masterDataDocumentList; let l = index">
                            <mat-card-content class="content" [style.marginTop.px]="l === 0 ? 10:0" (click)="onList(itemList)">
                                <span>{{itemList?.label[primaryLang]}}</span>
                                <span style="text-align: right"><i class="material-icons">
                                        keyboard_arrow_right
                                    </i></span>
                            </mat-card-content>
                        </ng-container>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>