<div id="menuButton">
  <div *ngIf="data?.type === 'profile'">
    <span >
      <img src="{{data?.profileImg}}" alt="Profile">
    </span>
    <span>
      <button class="menu-button" [matMenuTriggerFor]="menu">
        <div class="mat-caption">{{data.name}}</div>
        <div class="zone-text">{{data.zone}}</div>
      </button>
    </span>
  </div>
  <button *ngIf="data?.type === 'elipses'" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" backdropClass="menu">
    <ng-container *ngFor="let item of profileList">
      <button (click)="onItem()" mat-menu-item>{{item?.displayName}}</button>
    </ng-container>
  </mat-menu>
</div>