<div class="card">
    <mat-card>
        <div class="item1">
            <div class="profile-img">
                <img src="assets/images/icon_center.svg" alt="img">
            </div>
        </div>
        <div class="item2">
            <h4>{{masterDataName}}:&nbsp;<span *ngIf="headerData">{{headerData.name}}</span></h4>
        </div>
        <mat-divider [vertical]="true" [inset]="true"></mat-divider>
        <div class="item3">
            <p class="small-text">
                {{'center.created-on'|translate}}:&nbsp;<span *ngIf="headerData">{{headerData.createdOn | formatDate}}</span>
            </p>
            <p class="small-text">{{'center.created-by'|translate}}:&nbsp;<span *ngIf="headerData">{{headerData.createdBy}}</span></p>
            <p class="small-text">
                {{'center.updated-on'|translate}}:&nbsp;<span *ngIf="headerData">{{headerData.updatedOn | formatDate}}</span>
            </p>
            <p class="small-text">{{'center.updated-by'|translate}}:&nbsp;<span *ngIf="headerData">{{headerData.updatedBy}}</span></p>
        </div>
        <div *ngIf="headerData.name !== '-'" class="elipses">
          <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon style="color: white">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" yPosition="below" xPosition="before">
            <button
              mat-menu-item
              *ngFor="let button of actionButtonElipses; let i = index;"
              (click)="selectedRow(headerData.id, button)"
            >
            <span>{{ button.buttonName[primaryLang] }}</span>
            </button>
          </mat-menu>
        </div>
    </mat-card>
</div>