<ng-container>
<span><h3 class="header">Assign to Center</h3></span>
<mat-card class="mat-elevation-z5">
  <app-toolbar
    *ngIf="
      actionEllipsis && actionEllipsis  && paginatorOptions
    "
    [buttonList]="actionEllipsis"
    [paginationOptions]="paginatorOptions"
    [filtersAppliedFlag]="filtersApplied"
    (pageEvent)="pageEvent($event)"
  ></app-toolbar>
  <app-table
    *ngIf="centers && displayedColumns && actionButtons"
    [data]="centers"
    [displayedColumns]="displayedColumns"
    [buttonList]="actionButtons"
    [sortData]="sortFilter"
    [noDataFlag]="noData"
    [showRadioButton]=true
    (sort)="getSortColumn($event)"
    (selectedCenterDetail)="selectedCenterDetail($event)"    
  ></app-table>
</mat-card>
<div id="flex-single-view">
<div id="flex-container">
<div id="myDiv" class="flex-body">
 <mat-card-actions class="action-buttons">
  <button
    id="createButton"
    mat-raised-button
    (click)="submit()"
  >
  ASSIGN
  </button>
  <button mat-raised-button (click)="cancel()">
  CANCEL
  </button>
</mat-card-actions>
</div>
</div>
</div>
</ng-container>
