@import "../../_theme.scss";

#menuButton {
  display: inline-block;
  margin: 2px;
  position: relative;
  font-size: 17px !important;
  padding: 10px 10px 10px 10px;
  .mat-button-wrapper {
    display: inline-block;
  }
  .mat-caption {
    text-align: left;
    color: #ffffff;
  }

  .menu-button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    .zone-text {
      font-size: 14px;
      text-align: left;
      color: #ffffff;
      position: relative;
    }
    .zone-text:hover {
      .tool-tip-wraper {
        visibility: visible;
      }
    }
    .tool-tip-wraper {
      border-radius: 6px;
      position: absolute;
      top: -23px;
      left: 0;
      text-align: right;
      visibility: hidden;
      background-color: #ff4081;
      color: #fff;
      padding: 5px 5px;
      font-size: 10px;
      letter-spacing: 0.1em;
      font-weight: bold;
      .tooltiptext {
        text-align: left;
        display: inline-block;
        margin: auto;
        white-space: pre-line;
        word-break: break-word;
      }
    }
  }
}
.profile + * .cdk-overlay-pane > div.mat-menu-panel {
  margin-top: 21px !important;
}
.elipses + * .cdk-overlay-pane > div.mat-menu-panel {
  .mat-menu-item {
    line-height: 34px !important;
    height: 34px !important;
  }
}
