<div id="menuButton">
  <div *ngIf="data?.type === 'profile'">
    <span>
      <img src="{{data?.profileImg}}" alt="Profile">
    </span>
    <span>
      <button class="menu-button" [matMenuTriggerFor]="menu">
        <div class="mat-caption">{{userName}}</div>
        <!-- <div class="zone-text">{{roleName}}
          <div class="tool-tip-wraper">
            <div class="tooltiptext">
                {{roleNameSubstr}}
            </div>
          </div>
        </div> -->
      </button>
    </span>
    <mat-menu #menu="matMenu" backdropClass="profile">
      <ng-container *ngFor="let item of dataList">
        <!-- <button (click)="onItem()" mat-menu-item>{{item?.displayName[primaryLanguage]}}</button> -->
        <button (click)="onItem()" mat-menu-item>{{ 'headermessage.Logout' | translate }}</button>
      </ng-container>
    </mat-menu>
  </div>

  <div *ngIf="data?.type === 'elipses'">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" backdropClass="elipses">
      <ng-container *ngFor="let item of dataList">{{headermessage}}
        <button (click)="onItem()" mat-menu-item>{{ 'headermessage.Logout' | translate }}</button>
      </ng-container>
    </mat-menu>
  </div>


  
</div>