#menuButton {
  display: inline-block;
  margin: 2px;
  position: relative;
  font-size: 17px !important;
  padding: 10px 10px 10px 10px;
  .mat-button-wrapper {
    display: inline-block;
  }
  .mat-caption {
    text-align: left;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 12px;
  }

  .menu-button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    .zone-text {
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      font-size: 8px;
      text-align: left;
      color: #ffffff;
      position: relative;
      margin-top: 2px;
    }
    .zone-text:hover {
      .tool-tip-wraper {
        visibility: visible;
      }
    }
    .tool-tip-wraper {
      border-radius: 6px;
      position: absolute;
      top: -23px;
      left: 0;
      text-align: right;
      visibility: hidden;
      background-color: #ff4081;
      color: #fff;
      padding: 5px 5px;
      font-size: 7px;
      letter-spacing: 0.1em;
      font-weight: bold;
      z-index: 10;
      .tooltiptext {
        text-align: left;
        display: inline-block;
        margin: auto;
        white-space: pre-line;
        word-break: break-word;
      }
    }
  }
}

.profile {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 9px;
}

.profile + * .cdk-overlay-pane > div.mat-menu-panel {
  margin-top: 21px !important;
}
.elipses + * .cdk-overlay-pane > div.mat-menu-panel {
  .mat-menu-item {
    line-height: 40px !important;
  //   height: 34px !important;
   }
}
.mat-menu-content:not(:empty) {
  min-height: auto !important;
  padding: 0 !important;
}
.mat-menu-panel {
  min-height: auto !important;
}

.mat-menu {
  border-radius: 0 !important;
}
:host::ng-deep .mat-menu-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.mat-menu-item{
  line-height:30px !important;
  height:35px !important;
  font-size: x-small;
  font-family: "Roboto", sans-serif;
}