<div id="flex-single-view" style="padding-top: 12px;">
  <!-- <div class="navigation">
    <span><i class="material-icons" (click) = "naviagteBack()" >keyboard_arrow_left</i></span>&nbsp;<span class="title">{{'center.center-detail-view'|translate}}</span>
  </div> -->
  <div id="flex-container">
    <!--Center header  -->
    <app-center-header
      *ngIf="headerObject"
      [data]="data[0]"
      [headerData]="headerObject"
    ></app-center-header>
    <!--Ceneter Details  -->
    <div id="myDiv" class="flex-body">
      <mat-card>
        <mat-card-content class="forms-container">
          <div [formGroup]="primaryForm" class="primary-form">
            <span
              ><strong>{{ "center.language" | translate }}</strong></span
            >
            <span
              *ngIf="!disableForms"
              matTooltip="{{ 'center.keyboard-tooltip' | translate }}"
              (click)="openKeyboard('primary')"
              style="float: right; color: grey; cursor: pointer;"
              ><i class="material-icons">keyboard</i></span
            >
            <hr />
            <br /><br />
            <h3>{{ "center.center-details" | translate }}</h3>
            <mat-form-field>
              <input
                #keyboardRef
                #name
                (focus)="scrollPage(name, 'primary', 'name', 0)"
                formControlName="name"
                matInput
                placeholder="{{
                  'center.registration-center-name' | translate
                }}"
              />
              <mat-error
                *ngIf="
                  primary.name.touched && primary.name.hasError('required')
                "
              >
                {{ "center.validationMessages.name.required" | translate }}
              </mat-error>
              <mat-error
                *ngIf="
                  primary.name.touched && primary.name.hasError('maxlength')
                "
              >
                {{ "center.validationMessages.name.max-length" | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{
                "center.registration-center-type" | translate
              }}</mat-label>
              <mat-select
                formControlName="centerTypeCode"
                (selectionChange)="
                  copyDataToSecondaryForm(
                    'centerTypeCode',
                    primary.centerTypeCode.value
                  )
                "
              >
                <mat-option
                  *ngFor="let data of dropDownValues.centerTypeCode.primary"
                  [value]="data.fieldCode"
                >
                  {{ data.fieldValue }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  primary.centerTypeCode.touched &&
                  primary.centerTypeCode.hasError('required')
                "
              >
                {{
                  "center.validationMessages.centerTypeCode.required"
                    | translate
                }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                #keyboardRef
                #contactPerson
                (focus)="
                  scrollPage(contactPerson, 'primary', 'contactPerson', 1)
                "
                formControlName="contactPerson"
                matInput
                placeholder="{{ 'center.contact-person' | translate }}"
              />
              <mat-error
                *ngIf="
                  primary.contactPerson.touched &&
                  primary.contactPerson.hasError('maxlength')
                "
              >
                {{
                  "center.validationMessages.contactPerson.max-length"
                    | translate
                }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                #keyboardRef
                #contactPhone
                (focus)="scrollPage(contactPhone, 'primary', 'contactPhone', 2)"
                formControlName="contactPhone"
                (change)="
                  copyDataToSecondaryForm(
                    'contactPhone',
                    primary.contactPhone.value
                  )
                "
                matInput
                placeholder="{{ 'center.contact-number' | translate }}"
              />
              <mat-error
                *ngIf="
                  primary.contactPhone.touched &&
                  primary.contactPhone.hasError('maxlength')
                "
              >
                {{
                  "center.validationMessages.contactPhone.max-length"
                    | translate
                }}
              </mat-error>
            </mat-form-field>
            <br /><br />
            <h3>{{ "center.location-details" | translate }}</h3>
            <mat-form-field>
              <input
                #keyboardRef
                #longitude
                (focus)="scrollPage(longitude, 'primary', 'longitude', 3)"
                formControlName="longitude"
                matInput
                (change)="
                  copyDataToSecondaryForm('longitude', primary.longitude.value)
                "
                placeholder="{{ 'center.longitude' | translate }}"
              />
              <mat-error
                *ngIf="
                  primary.longitude.touched &&
                  primary.longitude.hasError('required')
                "
              >
                {{ "center.validationMessages.longitude.required" | translate }}
              </mat-error>
              <mat-error
                *ngIf="
                  primary.longitude.touched &&
                  primary.longitude.hasError('maxlength') &&
                  !primary.longitude.hasError('required')
                "
              >
                {{
                  "center.validationMessages.longitude.max-length" | translate
                }}
              </mat-error>
              <mat-error
                *ngIf="
                  primary.longitude.touched &&
                  primary.longitude.hasError('invalidLatLong') &&
                  !primary.longitude.hasError('required')
                "
              >
                {{
                  "center.validationMessages.longitude.validLatLong" | translate
                }}
              </mat-error>
              <mat-error
                *ngIf="
                  primary.longitude.touched &&
                  primary.longitude.hasError('invalidNumber') &&
                  !primary.longitude.hasError('required')
                "
              >
                {{
                  "center.validationMessages.longitude.validNumber" | translate
                }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                #keyboardRef
                #latitude
                (focus)="scrollPage(latitude, 'primary', 'latitude', 4)"
                formControlName="latitude"
                (change)="
                  copyDataToSecondaryForm('latitude', primary.latitude.value)
                "
                matInput
                placeholder="{{ 'center.latitude' | translate }}"
              />
              <mat-error
                *ngIf="
                  primary.latitude.touched &&
                  primary.latitude.hasError('required')
                "
              >
                {{ "center.validationMessages.latitude.required" | translate }}
              </mat-error>
              <mat-error
                *ngIf="
                  primary.latitude.touched &&
                  primary.latitude.hasError('maxlength') &&
                  !primary.latitude.hasError('required')
                "
              >
                {{
                  "center.validationMessages.latitude.max-length" | translate
                }}
              </mat-error>
              <mat-error
                *ngIf="
                  primary.latitude.touched &&
                  primary.latitude.hasError('invalidLatLong') &&
                  !primary.latitude.hasError('required')
                "
              >
                {{
                  "center.validationMessages.latitude.validLatLong" | translate
                }}
              </mat-error>
              <mat-error
                *ngIf="
                  primary.latitude.touched &&
                  primary.latitude.hasError('invalidNumber') &&
                  !primary.latitude.hasError('required')
                "
              >
                {{
                  "center.validationMessages.latitude.validNumber" | translate
                }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                #keyboardRef
                #addressline1
                (focus)="scrollPage(addressline1, 'primary', 'addressLine1', 5)"
                formControlName="addressLine1"
                matInput
                placeholder="{{ 'center.address1' | translate }}"
              />
              <mat-error
                *ngIf="
                  primary.addressLine1.touched &&
                  primary.addressLine1.hasError('required')
                "
              >
                {{
                  "center.validationMessages.addressLine1.required" | translate
                }}
              </mat-error>
              <mat-error
                *ngIf="
                  primary.addressLine1.touched &&
                  primary.addressLine1.hasError('maxlength')
                "
              >
                {{
                  "center.validationMessages.addressLine1.max-length"
                    | translate
                }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                #keyboardRef
                #addressline2
                (focus)="scrollPage(addressline2, 'primary', 'addressLine2', 6)"
                formControlName="addressLine2"
                matInput
                placeholder="{{ 'center.address2' | translate }}"
              />
              <mat-error
                *ngIf="
                  primary.addressLine2.touched &&
                  primary.addressLine2.hasError('maxlength')
                "
              >
                {{
                  "center.validationMessages.addressLine2.max-length"
                    | translate
                }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                #keyboardRef
                #addressline3
                (focus)="scrollPage(addressline3, 'primary', 'addressLine3', 7)"
                formControlName="addressLine3"
                matInput
                placeholder="{{ 'center.address3' | translate }}"
              />
              <mat-error
                *ngIf="
                  primary.addressLine3.touched &&
                  primary.addressLine3.hasError('maxlength')
                "
              >
                {{
                  "center.validationMessages.addressLine3.max-length"
                    | translate
                }}
              </mat-error>
            </mat-form-field>
            <div class="flex-display">
              <mat-form-field class="left-sizing">
                <mat-label>{{ "center.region" | translate }}</mat-label>
                <mat-select
                  formControlName="region"
                  (selectionChange)="
                    loadLocationData(primary.region.value, 'province');
                    copyDataToSecondaryForm('region', primary.region.value)
                  "
                >
                  <mat-option
                    *ngFor="let data of dropDownValues.region.primary"
                    [value]="data.code"
                  >
                    {{ data.name }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    primary.region.touched &&
                    primary.region.hasError('required')
                  "
                >
                  {{ "center.validationMessages.region.required" | translate }}
                </mat-error>
              </mat-form-field>
              <mat-form-field class="right-sizing">
                <mat-label>{{ "center.province" | translate }}</mat-label>
                <mat-select
                  formControlName="province"
                  (selectionChange)="
                    loadLocationData(primary.province.value, 'city');
                    copyDataToSecondaryForm('province', primary.province.value)
                  "
                >
                  <mat-option
                    *ngFor="let data of dropDownValues.province.primary"
                    [value]="data.code"
                  >
                    {{ data.name }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    primary.province.touched &&
                    primary.province.hasError('required')
                  "
                >
                  {{
                    "center.validationMessages.province.required" | translate
                  }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="flex-display">
              <mat-form-field class="left-sizing">
                <mat-label>{{ "center.city" | translate }}</mat-label>
                <mat-select
                  formControlName="city"
                  (selectionChange)="
                    loadLocationData(primary.city.value, 'laa');
                    copyDataToSecondaryForm('city', primary.city.value)
                  "
                >
                  <mat-option
                    *ngFor="let data of dropDownValues.city.primary"
                    [value]="data.code"
                  >
                    {{ data.name }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    primary.city.touched && primary.city.hasError('required')
                  "
                >
                  {{ "center.validationMessages.city.required" | translate }}
                </mat-error>
              </mat-form-field>
              <mat-form-field class="right-sizing">
                <mat-label>{{ "center.laa" | translate }}</mat-label>
                <mat-select
                  formControlName="laa"
                  (selectionChange)="
                    loadLocationData(primary.laa.value, 'postalCode');
                    copyDataToSecondaryForm('laa', primary.laa.value)
                  "
                >
                  <mat-option
                    *ngFor="let data of dropDownValues.laa.primary"
                    [value]="data.code"
                  >
                    {{ data.name }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    primary.laa.touched && primary.laa.hasError('required')
                  "
                >
                  {{ "center.validationMessages.laa.required" | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="flex-display">
              <mat-form-field class="left-sizing">
                <mat-label>{{ "center.postal-code" | translate }}</mat-label>
                <mat-select
                  formControlName="postalCode"
                  (selectionChange)="
                    copyDataToSecondaryForm(
                      'postalCode',
                      primary.postalCode.value
                    )
                  "
                >
                  <mat-option
                    *ngFor="let data of dropDownValues.postalCode.primary"
                    [value]="data.code"
                  >
                    {{ data.name }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    primary.postalCode.touched &&
                    primary.postalCode.hasError('required')
                  "
                >
                  {{
                    "center.validationMessages.postalCode.required" | translate
                  }}
                </mat-error>
              </mat-form-field>
              <mat-form-field class="right-sizing">
                <mat-label>{{ "center.zone" | translate }}</mat-label>
                <mat-select
                  formControlName="zone"
                  (selectionChange)="
                    copyDataToSecondaryForm('zone', primary.zone.value)
                  "
                >
                  <mat-option
                    *ngFor="let data of dropDownValues.zone.primary"
                    [value]="data.code"
                  >
                    {{ data.name }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    primary.zone.touched && primary.zone.hasError('required')
                  "
                >
                  {{ "center.validationMessages.zone.required" | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <br /><br />
            <h3>{{ "center.operational-details" | translate }}</h3>
            <mat-form-field>
              <mat-label>{{ "center.holiday-zone" | translate }}</mat-label>
              <mat-select
                formControlName="holidayZone"
                (selectionChange)="
                  copyDataToSecondaryForm(
                    'holidayZone',
                    primary.holidayZone.value
                  )
                "
              >
                <mat-option
                  *ngFor="let data of dropDownValues.holidayZone.primary"
                  [value]="data.code"
                >
                  {{ data.name }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  primary.holidayZone.touched &&
                  primary.holidayZone.hasError('required')
                "
              >
                {{
                  "center.validationMessages.holidayZone.required" | translate
                }}
              </mat-error>
            </mat-form-field>
            <div class="flex-display">
              <mat-form-field class="left-sizing">
                <input
                  formControlName="noKiosk"
                  (change)="
                    copyDataToSecondaryForm('noKiosk', primary.noKiosk.value)
                  "
                  matInput
                  placeholder="{{ 'center.no-kiosk' | translate }}"
                />
                <mat-error
                  *ngIf="
                    primary.noKiosk.touched &&
                    primary.noKiosk.hasError('required')
                  "
                >
                  {{ "center.validationMessages.noKiosk.required" | translate }}
                </mat-error>
                <mat-error
                  *ngIf="
                    primary.noKiosk.touched && primary.noKiosk.hasError('min')
                  "
                >
                  {{ "center.validationMessages.noKiosk.min" | translate }}
                </mat-error>
                <mat-error
                  *ngIf="
                    primary.noKiosk.touched &&
                    primary.noKiosk.hasError('invalidNoKiosk')
                  "
                >
                  {{
                    "center.validationMessages.noKiosk.invalidNoKiosk"
                      | translate
                  }}
                </mat-error>
              </mat-form-field>
              <mat-form-field class="right-sizing">
                <mat-label>{{
                  "center.per-kiosk-process-time" | translate
                }}</mat-label>
                <mat-select
                  formControlName="processingTime"
                  (selectionChange)="
                    copyDataToSecondaryForm(
                      'processingTime',
                      primary.processingTime.value
                    )
                  "
                >
                  <mat-option
                    *ngFor="let data of dropDownValues.processingTime"
                    [value]="data"
                  >
                    {{ data }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    primary.processingTime.touched &&
                    primary.processingTime.hasError('required')
                  "
                >
                  {{
                    "center.validationMessages.processingTime.required"
                      | translate
                  }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="flex-display">
              <mat-form-field class="left-sizing">
                <mat-label>{{ "center.start-time" | translate }}</mat-label>
                <mat-select
                  formControlName="startTime"
                  (selectionChange)="
                    copyDataToSecondaryForm(
                      'startTime',
                      primary.startTime.value
                    );
                    updateTimeSlotDropdownOptions(
                      'startTime',
                      'endTime',
                      'more'
                    );
                    calculateWorkingHours()
                  "
                >
                  <mat-option
                    *ngFor="let data of dropDownValues.startTime"
                    [value]="data"
                  >
                    {{ data }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    primary.startTime.touched &&
                    primary.startTime.hasError('required')
                  "
                >
                  {{
                    "center.validationMessages.startTime.required" | translate
                  }}
                </mat-error>
              </mat-form-field>
              <mat-form-field class="right-sizing">
                <mat-label>{{ "center.end-time" | translate }}</mat-label>
                <mat-select
                  formControlName="endTime"
                  (selectionChange)="
                    copyDataToSecondaryForm('endTime', primary.endTime.value);
                    calculateWorkingHours();
                    updateTimeSlotDropdownOptions(
                      'endTime',
                      'startTime',
                      'less'
                    )
                  "
                >
                  <mat-option
                    *ngFor="let data of dropDownValues.endTime"
                    [value]="data"
                  >
                    {{ data }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    primary.endTime.touched &&
                    primary.endTime.hasError('required')
                  "
                >
                  {{ "center.validationMessages.endTime.required" | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <mat-form-field>
              <input
                formControlName="workingHours"
                readonly
                matInput
                placeholder="{{ 'center.working-hrs' | translate }}"
              />
            </mat-form-field>
            <div class="flex-display">
              <mat-form-field class="left-sizing">
                <mat-label>{{
                  "center.lunch-start-time" | translate
                }}</mat-label>
                <mat-select
                  formControlName="lunchStartTime"
                  (click)="validateAndLoadLunchTime('lunchStartTime')"
                  (selectionChange)="
                    copyDataToSecondaryForm(
                      'lunchStartTime',
                      primary.lunchStartTime.value
                    )
                  "
                >
                  <mat-option
                    *ngFor="let data of dropDownValues.lunchStartTime"
                    [value]="data"
                  >
                    {{ data }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="right-sizing">
                <mat-label>{{ "center.lunch-end-time" | translate }}</mat-label>
                <mat-select
                  formControlName="lunchEndTime"
                  (click)="validateAndLoadLunchTime('lunchEndTime')"
                  (selectionChange)="
                    copyDataToSecondaryForm(
                      'lunchEndTime',
                      primary.lunchEndTime.value
                    )
                  "
                >
                  <mat-option
                    *ngFor="let data of dropDownValues.lunchEndTime"
                    [value]="data"
                  >
                    {{ data }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <br />
            <mat-label>{{ "center.workingDays" | translate }}</mat-label>
            <mat-selection-list
              formControlName="workingDays"
              (selectionChange)="
                copyDataToSecondaryForm(
                  'workingDays',
                  primary.workingDays.value
                )
              "
            >
              <div style="display: flex; flex-wrap: wrap; margin-left: -15px;">
                <mat-list-option
                  style="background-color: white"
                  [checkboxPosition]="before"
                  *ngFor="let day of days"
                  [value]="day.code"
                >
                  {{ day.name }}
                </mat-list-option>
              </div>
            </mat-selection-list>
            <mat-error
              *ngIf="
                primary.workingDays.touched &&
                primary.workingDays.hasError('required')
              "
              >Please select atleast one day</mat-error
            >
            <br />
            <mat-label>{{ "center.holidays" | translate }}</mat-label>
            <br /><br />
            <mat-form-field style="width: 70% !important;">
              <input
                matInput
                [(ngModel)]="holidayDate"
                [min]="minDate"
                [ngModelOptions]="{ standalone: true }"
                [matDatepicker]="picker"
                placeholder="{{ 'center.datepicker-placeholder' | translate }}"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker> </mat-form-field
            >&nbsp;&nbsp;&nbsp;&nbsp;
            <button
              [disabled]="disableForms"
              mat-raised-button
              (click)="createExceptionalHoliday()"
            >
              {{ "center.add-button" | translate }}
            </button>
            <div style="display: flex; flex-wrap: wrap;">
              <ng-container
                *ngFor="
                  let data of primary.exceptionalHolidays.value;
                  let i = index
                "
              >
                <div
                  style="height: 30px;width: 100px;border: 1px solid #FF4081;border-radius: 30px;padding: 7px;margin: 15px;cursor: pointer;font-size: 11px;"
                  *ngIf="primary.exceptionalHolidays.value.length>=0 && data.exceptionHolidayDate!==null"  
                >
                  <span>{{ data.exceptionHolidayDate }}</span>
                  <div
                    style="position: absolute;
                  margin-left: 65px;
                margin-top: -18px;
                  cursor: pointer;
                  color: #FF4081;"
                    (click)="deleteHoliday(i)"
                  >
                    <i class="material-icons">cancel</i>
                  </div>
                </div>
              </ng-container>
            </div>
            <br />
            <mat-form-field>
              <mat-label>{{ "center.isActive" | translate }}</mat-label>
              <mat-select
                formControlName="isActive"
                (selectionChange)="
                  copyDataToSecondaryForm('isActive', primary.isActive.value)
                "
              >
                <mat-option
                  *ngFor="let data of dropDownValues.isActive"
                  [value]="data"
                >
                  {{ data | status }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <mat-divider [vertical]="true" [inset]="true"></mat-divider>
          <div
            *ngIf="
              secondaryLanguageLabels && secondaryLang && showSecondaryForm
            "
            [formGroup]="secondaryForm"
            [ngClass]="
              secondaryLang === 'ara' ? 'secondary-form' : 'primary-form'
            "
          >
            <span
              ><strong>{{ secondaryLanguageLabels["language"] }}</strong></span
            >
            <span
              *ngIf="!disableForms"
              matTooltip="{{ secondaryLanguageLabels['keyboard-tooltip'] }}"
              (click)="openKeyboard('secondary')"
              style="float: left; color: grey; cursor: pointer;"
              ><i class="material-icons">keyboard</i></span
            >
            <hr />
            <br /><br />
            <h3>{{ secondaryLanguageLabels["center-details"] }}</h3>
            <mat-form-field>
              <input
                #keyboardRef
                #nameSecondary
                (focus)="scrollPage(nameSecondary, 'secondary', 'name', 8)"
                formControlName="name"
                matInput
                placeholder="{{
                  secondaryLanguageLabels['registration-center-name']
                }}"
              />
              <mat-error
                *ngIf="
                  secondary.name.touched && secondary.name.hasError('required')
                "
              >
                {{
                  secondaryLanguageLabels["validationMessages"]["name"][
                    "required"
                  ]
                }}
              </mat-error>
              <mat-error
                *ngIf="
                  secondary.name.touched && secondary.name.hasError('maxlength')
                "
              >
                {{
                  secondaryLanguageLabels["validationMessages"]["name"][
                    "max-length"
                  ]
                }}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="left-sizing">
              <mat-label>{{
                secondaryLanguageLabels["registration-center-type"]
              }}</mat-label>
              <mat-select formControlName="centerTypeCode">
                <mat-option
                  *ngFor="let data of dropDownValues.centerTypeCode.secondary"
                  [value]="data.fieldCode"
                >
                  {{ data.fieldValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input
                #keyboardRef
                #contactPersonSecondary
                (focus)="
                  scrollPage(
                    contactPersonSecondary,
                    'secondary',
                    'contactPerson',
                    9
                  )
                "
                formControlName="contactPerson"
                matInput
                placeholder="{{ secondaryLanguageLabels['contact-person'] }}"
              />
              <mat-error
                *ngIf="
                  secondary.contactPerson.touched &&
                  secondary.contactPerson.hasError('maxlength')
                "
              >
                {{
                  secondaryLanguageLabels["validationMessages"][
                    "contactPerson"
                  ]["max-length"]
                }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                formControlName="contactPhone"
                matInput
                placeholder="{{ secondaryLanguageLabels['contact-number'] }}"
              />
            </mat-form-field>
            <br /><br />
            <h3>{{ secondaryLanguageLabels["location-details"] }}</h3>
            <mat-form-field>
              <input
                formControlName="longitude"
                matInput
                placeholder="{{ secondaryLanguageLabels['longitude'] }}"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                formControlName="latitude"
                matInput
                placeholder="{{ secondaryLanguageLabels['latitude'] }}"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                #keyboardRef
                #addressline1secondary
                (focus)="
                  scrollPage(
                    addressline1secondary,
                    'secondary',
                    'addressLine1',
                    10
                  )
                "
                formControlName="addressLine1"
                matInput
                placeholder="{{ secondaryLanguageLabels['address1'] }}"
              />
              <mat-error
                *ngIf="
                  secondary.addressLine1.touched &&
                  secondary.addressLine1.hasError('required')
                "
              >
                {{
                  secondaryLanguageLabels["validationMessages"]["addressLine1"][
                    "required"
                  ]
                }}
              </mat-error>
              <mat-error
                *ngIf="
                  secondary.addressLine1.touched &&
                  secondary.addressLine1.hasError('maxlength')
                "
              >
                {{
                  secondaryLanguageLabels["validationMessages"]["addressLine1"][
                    "max-length"
                  ]
                }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                #keyboardRef
                #addressline2secondary
                (focus)="
                  scrollPage(
                    addressline2secondary,
                    'secondary',
                    'addressLine2',
                    11
                  )
                "
                formControlName="addressLine2"
                matInput
                placeholder="{{ secondaryLanguageLabels['address2'] }}"
              />
              <mat-error
                *ngIf="
                  secondary.addressLine2.touched &&
                  secondary.addressLine2.hasError('maxlength')
                "
              >
                {{
                  secondaryLanguageLabels["validationMessages"]["addressLine2"][
                    "max-length"
                  ]
                }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                #keyboardRef
                #addressline3secondary
                (focus)="
                  scrollPage(
                    addressline3secondary,
                    'secondary',
                    'addressLine3',
                    12
                  )
                "
                formControlName="addressLine3"
                matInput
                placeholder="{{ secondaryLanguageLabels['address3'] }}"
              />
              <mat-error
                *ngIf="
                  secondary.addressLine3.touched &&
                  secondary.addressLine3.hasError('maxlength')
                "
              >
                {{
                  secondaryLanguageLabels["validationMessages"]["addressLine3"][
                    "max-length"
                  ]
                }}
              </mat-error>
            </mat-form-field>
            <div class="flex-display">
              <mat-form-field class="left-sizing">
                <mat-label>{{ secondaryLanguageLabels["region"] }}</mat-label>
                <mat-select formControlName="region">
                  <mat-option
                    *ngFor="let data of dropDownValues.region.secondary"
                    [value]="data.code"
                  >
                    {{ data.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="right-sizing">
                <mat-label>{{ secondaryLanguageLabels["province"] }}</mat-label>
                <mat-select formControlName="province">
                  <mat-option
                    *ngFor="let data of dropDownValues.province.secondary"
                    [value]="data.code"
                  >
                    {{ data.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="flex-display">
              <mat-form-field class="left-sizing">
                <mat-label>{{ secondaryLanguageLabels["city"] }}</mat-label>
                <mat-select formControlName="city">
                  <mat-option
                    *ngFor="let data of dropDownValues.city.secondary"
                    [value]="data.code"
                  >
                    {{ data.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="right-sizing">
                <mat-label>{{ secondaryLanguageLabels["laa"] }}</mat-label>
                <mat-select formControlName="laa">
                  <mat-option
                    *ngFor="let data of dropDownValues.laa.secondary"
                    [value]="data.code"
                  >
                    {{ data.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="flex-display">
              <mat-form-field class="left-sizing">
                <mat-label>{{
                  secondaryLanguageLabels["postal-code"]
                }}</mat-label>
                <mat-select formControlName="postalCode">
                  <mat-option
                    *ngFor="let data of dropDownValues.postalCode.secondary"
                    [value]="data.code"
                  >
                    {{ data.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="right-sizing">
                <mat-label>{{ secondaryLanguageLabels["zone"] }}</mat-label>
                <mat-select formControlName="zone">
                  <mat-option
                    *ngFor="let data of dropDownValues.zone.secondary"
                    [value]="data.code"
                  >
                    {{ data.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <br /><br />
            <h3>{{ secondaryLanguageLabels["operational-details"] }}</h3>
            <mat-form-field>
              <mat-label>{{
                secondaryLanguageLabels["holiday-zone"]
              }}</mat-label>
              <mat-select formControlName="holidayZone">
                <mat-option
                  *ngFor="let data of dropDownValues.holidayZone.secondary"
                  [value]="data.code"
                >
                  {{ data.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="flex-display">
              <mat-form-field class="left-sizing">
                <input
                  formControlName="noKiosk"
                  matInput
                  placeholder="{{ secondaryLanguageLabels['no-kiosk'] }}"
                />
              </mat-form-field>
              <mat-form-field class="right-sizing">
                <mat-label>{{
                  secondaryLanguageLabels["per-kiosk-process-time"]
                }}</mat-label>
                <mat-select formControlName="processingTime">
                  <mat-option
                    *ngFor="let data of dropDownValues.processingTime"
                    [value]="data"
                  >
                    {{ data }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="flex-display">
              <mat-form-field class="left-sizing">
                <mat-label>{{
                  secondaryLanguageLabels["start-time"]
                }}</mat-label>
                <mat-select formControlName="startTime">
                  <mat-option
                    *ngFor="let data of dropDownValues.startTime"
                    [value]="data"
                  >
                    {{ data }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="right-sizing">
                <mat-label>{{ secondaryLanguageLabels["end-time"] }}</mat-label>
                <mat-select formControlName="endTime">
                  <mat-option
                    *ngFor="let data of dropDownValues.endTime"
                    [value]="data"
                  >
                    {{ data }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <mat-form-field>
              <input
                formControlName="workingHours"
                matInput
                placeholder="{{ secondaryLanguageLabels['working-hrs'] }}"
              />
            </mat-form-field>
            <div class="flex-display">
              <mat-form-field class="left-sizing">
                <mat-label>{{
                  secondaryLanguageLabels["lunch-start-time"]
                }}</mat-label>
                <mat-select formControlName="lunchStartTime">
                  <mat-option
                    *ngFor="let data of dropDownValues.lunchStartTime"
                    [value]="data"
                  >
                    {{ data }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="right-sizing">
                <mat-label>{{
                  secondaryLanguageLabels["lunch-end-time"]
                }}</mat-label>
                <mat-select formControlName="lunchEndTime">
                  <mat-option
                    *ngFor="let data of dropDownValues.lunchEndTime"
                    [value]="data"
                  >
                    {{ data }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <br />
            <mat-label>{{ secondaryLanguageLabels["workingDays"] }}</mat-label>
            <mat-selection-list formControlName="workingDays">
              <div
                [ngStyle]="{
                  direction: secondaryLang === 'ara' ? 'rtl' : 'ltr',
                  display: 'flex',
                  'flex-wrap': 'wrap',
                  'margin-right': secondaryLang === 'ara' ? '-10px' : '0',
                  'margin-left': secondaryLang === 'ara' ? '0' : '-15px'
                }"
              >
                <mat-list-option
                  [checkboxPosition]="before"
                  style="background-color: white"
                  *ngFor="let day of secondaryDays"
                  [value]="day.code"
                >
                  {{ day.name }}
                </mat-list-option>
              </div>
            </mat-selection-list>
            <br />
            <mat-label>{{ secondaryLanguageLabels["holidays"] }}</mat-label
            >&nbsp;&nbsp;&nbsp;&nbsp; <br /><br /><br /><br /><br />
            <div
              style="display: flex; flex-wrap: wrap;"
            >
            <ng-container *ngFor="
            let data of primary.exceptionalHolidays.value;
            let i = index
          ">
              <div
                style="height: 30px;width: 100px;border: 1px solid #FF4081;border-radius: 30px;padding: 7px;margin: 15px;cursor: pointer; font-size: 11px;;"
                *ngIf="primary.exceptionalHolidays.value.length>=0 && data.exceptionHolidayDate!==null"
                
              >
                <span style="margin-right: 24px;">{{ data.exceptionHolidayDate }}</span>
                <div
                  style="position: absolute;
                margin-left: 65px;
                margin-top: -18px;
                cursor: pointer;
                color: #FF4081;"
                  (click)="deleteHoliday(i)"
                >
                  <i class="material-icons">cancel</i>
                </div>
              </div>
            </ng-container>
            </div>
            <br />
            <mat-form-field>
              <mat-label>{{ secondaryLanguageLabels["isActive"] }}</mat-label>
              <mat-select formControlName="isActive">
                <mat-option
                  *ngFor="let data of dropDownValues.isActive"
                  [value]="data"
                >
                  {{ data | status }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions class="action-buttons">
          <button
            id="createButton"
            mat-raised-button
            *ngIf="!disableForms && data.length === 0"
            (click)="submit()"
          >
            {{ "center.create" | translate }}
          </button>
          <button
            id="createButton"
            mat-raised-button
            *ngIf="!disableForms && data.length !== 0"
            (click)="submit()"
          >
            {{ "center.update" | translate }}
          </button>
          <button
            id="createButton"
            mat-raised-button
            *ngIf="disableForms"
            (click)="submit()"
          >
            {{ "center.edit" | translate }}
          </button>
          <button mat-raised-button (click)="cancel()">
            {{ "center.cancel" | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
