/* .expansionPanelPlacer{
    margin: 30px 30px;
    padding: 15px 15px;
}

.spacer{
    margin: 15px 0 0 0;
}

.inlineSpacer{
    margin: 0 35px 0 0;
}

.right-align{
    text-align: right;
}

.img-spacer{
    margin: 0 0 0 -6px;
    cursor: pointer;
}

.hyperlink{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.map-placer{
    position: relative;
}

@media(max-width: 500px) {
    .expansionPanelPlacer{
        padding: 0;
        margin: 5px;
    }
}

@media(max-width: 765px) {

    .mat-table {
        overflow: auto;
      }

    .mat-header-row, .mat-row {
        min-width: 1000px;
      }
} */
.spinner {
  flex-direction: column;
  align-items: center;
  margin-top: 18vw;
  display: flex;
}

mat-card {
  border-radius: 10px !important;
}
.center__title-card-text {
  font-size: 15px;
  font-weight: 600;
}
.inline-flex {
  display: inline-flex;
}
.center_selection-wrapper {
  margin: 5px 2vw;
}
.center-selection__title-card {
  color: #ff4081;
  padding: 0;
  display: flex;
  align-items: center;
  white-space: nowrap;
  border-radius: 2px !important;
}
.center-selection__button-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 2px 2vw;
  display: flex;
  z-index: 22;
}
.spacer {
  flex: 1 1 auto;
}

section {
  display: flex;
}
.centers-wrapper {
  margin-left: 25px;
  margin-right: 2vw;
  width: 55%;
}

.centers-list ul {
  list-style-type: none;
  padding: 0%;
  font-size: 0.65rem;
}

.center-card {
  margin: 1.5% 0;
  display: flex;
}

.center-card-selected {
  border: 1px solid #fd518c;
}

input[type="radio"] {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  height: 2rem;
  margin-right: 1.2rem;
}

.map {
  width: 40%;
  display: flex;
}

.container {
  display: flex;
  margin-bottom: 60px;
}
.center-selection__button-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 2px 2vw;
  display: flex;
  z-index: 22;
}
.center_selection-intial-recommendation-container {
  display: flex;
  align-items: center;
  margin-top: 7px;
}
.center_selection-center_recommendation-display {
  color: #30badd;
  opacity: 100%;
  font-family: Roboto;
  white-space: nowrap;
  cursor: pointer;
  display: inline-flex;
  font-size: 12px;
}
.center_selection-nearby-btn {
  color: #afafaf;
  font-family: Roboto;
  opacity: 100%;
  margin-left: 30px;
  margin-right: 15px;
  padding: 0;
  text-transform: uppercase;
  transform: translateY(-0.4rem);
  font-size: 10px;
}
.center_selection-center-available-text {
  color: #6e6e6e;
  opacity: 100%;
  font-family: Roboto;
  font-size: 10px;
}
.search-btn img {
  height: 1rem;
  transform: translateY(-0.01rem);
}
.search-btn {
  width: 35px;
  height: 35px;
  background-color: #f4f4f4;
  border: 1px solid #fd518c;
  border-radius: 0;
  opacity: 100%;
  line-height: 30px;
  text-transform: uppercase;
}
.center_selection-form-container {
  animation: 1.3s anim ease-out;
}
@keyframes anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.search-cancel-btn {
  width: 35px;
  height: 40px;
  background-color: #fd518c;
  border-radius: 0;
  opacity: 100%;
  text-transform: uppercase;
}
.search-input {
  padding: 10px;
  outline: none;
  color: #707070;
  font-family: Roboto;
  opacity: 100%;
  background-color: white;
  border: none;
  width: 85%;
}
.select-input {
  outline: none;
  font-family: Roboto;
  color: #000000;
  opacity: 100%;
  padding: 10px;
  background-color: white;
  appearance: none;
  width: 100%;
  font-size: 14px;
}
.mat-option:hover {
  background-color: #d8f7ff;
  opacity: 100%;
}
.select-card {
  padding: 0;
  box-shadow: 4px black;
  border-radius: 0;
  height: 40px;
  width: 50%;
  margin-top: 10px;
}
.search-text {
  display: flex;
  font-family: Roboto;
  font-size: 14px;
  color: #707070;
  width: 100%;
  margin-top: 10px;
  margin-left: 25px;
}
.search-card {
  width: 50%;
  height: 40px;
  padding: 0;
  box-shadow: 4px black;
  border-radius: 0;
  margin-top: 10px;
  display: inline-flex;
}
.search-form {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 500px) {
  .user-back-btn,
  .user-book_later-btn,
  .user-continue-btn {
    font-size: 10px;
    padding: 0px 2px;
    margin-right: 20px;
  }
  .container {
    display: flex;
    padding: 0px 1rem 0px 2rem;
  }
  .centers-wrapper {
    width: 90%;
  }
  .center_selection-center_recommendation-display {
    white-space: normal;
  }
}
