<br><br>
<span class="breadcrumb">
        <a (click)="cancel()">&nbsp;&nbsp; Master Data Upload &nbsp;&nbsp;</a> / 
        &nbsp;&nbsp; Detailed View
</span>
<br><br>
<div id="flex-single-view" style="padding-top: 12px;" *ngIf="data">
  <div id="flex-container">
   <div class="card">
      <mat-card>
        <div class="item1">
          <div class="profile-img">
            <img src="./assets/images/icon_center.svg" alt="img">
          </div>
          <div class="item2">
            <h3>{{data.transcationId}}</h3>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="flex-body">
      <mat-card>
        <mat-card-content class="forms-container">
          <div class="primary-form" style="width: 40%">
            <mat-form-field>
              <mat-label>Operation</mat-label>
              <input matInput placeholder="Operation" value="{{data.operation}}" readonly>
            </mat-form-field> 
            <mat-form-field>
              <mat-label>Status</mat-label>
              <input matInput placeholder="Status" value="{{data.status}}" readonly>
            </mat-form-field> 
            <mat-form-field>
              <mat-label>Uploaded BY</mat-label>
              <input matInput placeholder="Status" value="{{data.uploadedBy}}" readonly>
            </mat-form-field> 
          </div>
          <div style="width: 10%">
          </div>
          <div class="primary-form" style="width: 40%">
            <mat-form-field>
              <mat-label>Table Name</mat-label>
              <input matInput placeholder="Table Name" value="{{data.entityName}}" readonly>
            </mat-form-field> 
            <mat-form-field>
              <mat-label>Count</mat-label>
              <input matInput placeholder="Table Name" value="{{data.count}}" readonly>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Date and Time</mat-label>
              <input matInput placeholder="Table Name" value="{{data.timeStamp | formatDate}}" readonly>
            </mat-form-field> 
          </div> 
          <div style="width: 10%">
          </div>
        </mat-card-content>
        <mat-card-content class="forms-container" *ngIf="data.statusDescription">
          <div class="primary-form" style="max-width: 90%">
             <mat-form-field>
              <mat-label>Failure Description</mat-label>
              <input matInput placeholder="Operation" value="{{data.statusDescription}}" readonly>
            </mat-form-field> 
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
