<div id="flex-single-view" style="padding-top: 12px;">
  <h3>{{ 'devices.header' | translate }}</h3>
  <div class="flex-container">
    <div class="flex-header" style="width: 100%;">
      <app-devices-header *ngIf="headerObject" [data]="data[0]" [headerData]="headerObject"></app-devices-header>
    </div>
    <div class="flex-body">
      <mat-card>
        <mat-card-content class="forms-container">
          <div [formGroup]="primaryForm" [ngClass]="isPrimaryLangRTL ? 'primary-form-rtl' : 'primary-form'">
            <strong class="title">{{ 'devices.language' | translate }}</strong>
            <span *ngIf="!disableForms" matTooltip="{{ 'devices.keyboard-tooltip' | translate }}"
              (click)="openKeyboard('primary')"  style="color: grey; cursor: pointer;"
              [ngStyle]="isPrimaryLangRTL ? {'float':'left'} : {'float':'right'}"><i
                class="material-icons">keyboard</i></span>
            <hr />
            <br /><br />

            <mat-form-field>
              <input #keyboardRef #id (focus)="scrollPage(id, 'primary', 'id', 0)" formControlName="id" matInput
                placeholder="{{
                              'devices.id' | translate
                            }}" />
            </mat-form-field>

            <mat-form-field>
              <input #keyboardRef #name (focus)="scrollPage(name, 'primary', 'name', 1)" formControlName="name" matInput
                placeholder="{{
                              'devices.name' | translate
                            }}" />
              <mat-error *ngIf="
                              primary.name.touched && primary.name.hasError('required')
                            ">
                {{ "devices.validationMessages.name.required" | translate }}
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input #keyboardRef #serialNumber (focus)="scrollPage(serialNumber, 'primary', 'serialNumber', 2)"
                formControlName="serialNumber" matInput placeholder="{{
                              'devices.serialNumber' | translate
                            }}" />
              <mat-error *ngIf="
                              primary.serialNumber.touched && primary.serialNumber.hasError('required')
                            ">
                {{ "devices.validationMessages.serialNumber.required" | translate }}
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input #keyboardRef #macAddress (focus)="scrollPage(macAddress, 'primary', 'macAddress', 3)"
                formControlName="macAddress" matInput placeholder="{{
                              'devices.macAddress' | translate
                            }}" />
              <mat-error *ngIf="
                              primary.macAddress.touched && primary.macAddress.hasError('required')
                            ">
                {{ "devices.validationMessages.macAddress.required" | translate }}
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input #keyboardRef #ipAddress (focus)="scrollPage(ipAddress, 'primary', 'ipAddress', 4)"
                formControlName="ipAddress" matInput placeholder="{{
                              'devices.ipAddress' | translate
                            }}" />
              <mat-error *ngIf="
                              primary.ipAddress.touched && primary.ipAddress.hasError('required')
                            ">
                {{ "devices.validationMessages.ipAddress.required" | translate }}
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput [min]="minDate" [matDatepicker]="picker" formControlName="validity"
                placeholder="{{ 'devices.validity' | translate }}" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>

              <mat-error *ngIf="
                              primary.validity.touched && primary.validity.hasError('required')
                            ">
                {{ "devices.validationMessages.validity.required" | translate }}
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{"devices.deviceSpecId" | translate}}</mat-label>
              <mat-select formControlName="deviceSpecId">
                <mat-option *ngFor="let data of dropDownValues.deviceTypeCode.primary" [value]="data.fieldCode">
                  {{ data.fieldValue }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="
                          primary.deviceSpecId.touched && primary.deviceSpecId.hasError('required')
                        ">
            {{ "devices.validationMessages.deviceSpecId.required" | translate }}
            </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ "devices.zone" | translate }}</mat-label>
              <mat-select formControlName="zone">
                <mat-option *ngFor="let data of dropDownValues.zone.primary" 
                (onSelectionChange)="captureDropDownValue($event, data.code, 'primary')" 
                [value]="data.code">
                  {{ data.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="
                              primary.zone.touched && primary.zone.hasError('required')
                            ">
                {{ "devices.validationMessages.zone.required" | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
            <mat-label>{{ "center.center-name" | translate }}</mat-label>
            <mat-select
              formControlName="regCenterId">
              <mat-option *ngFor="let data of dropDownValues.regCenterCode.primary" [value]="data.id">
                {{ data.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="
                          primary.regCenterId.touched && primary.regCenterId.hasError('required')
                        ">
            {{ "devices.validationMessages.regCenterId.required" | translate }}
            </mat-error> 
            </mat-form-field>
            

          </div>
          <mat-divider [vertical]="true" [inset]="true"></mat-divider>

        </mat-card-content>
        <mat-card-actions class="action-buttons">
          <button id="createButton" mat-raised-button *ngIf="data.length != 0" (click)="submit()">
            {{ "devices.edit" | translate }}
          </button>
          <button id="createButton" mat-raised-button *ngIf="data.length == 0" (click)="submit()">
            {{ "devices.create" | translate }}
          </button>
          <button mat-raised-button (click)="cancel()">
            {{ "devices.cancel" | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>