<ng-container>
<span><h3 class="header">Get Certificate</h3></span>
<div id="flex-single-view" style="padding-top: 12px;">
<div id="flex-container">
<div id="myDiv" class="flex-body">
  <mat-card>
    <div class="example-container">
      <mat-form-field>
        <mat-label>Application Id</mat-label>
        <input matInput #input placeholder="Ex. 123" [value]="applicationId" (keyup)="captureValue($event, 'applicationId')">
      </mat-form-field>

      <mat-form-field>
        <mat-label>ReferenceId</mat-label>
        <input matInput #input placeholder="Ex. 123" [value]="referenceId" (keyup)="captureValue($event, 'referenceId')">
      </mat-form-field>

      <button id="createButton" mat-raised-button (click)="getCertificate()" (keyup)="captureValue($event, field.name)">
        Get Certificate
      </button>
    </div>
  </mat-card>
</div>
</div>
</div>
<mat-card class="mat-elevation-z5" *ngIf="this.datas">
  <div>{{this.datas}}</div>
</mat-card>
</ng-container>
<!-- <ng-template #nodata><mat-spinner class="spinner-placer"></mat-spinner></ng-template> -->
