<ng-container>
<span><h3 class="header">{{'getcertificate.title' | translate}}</h3></span>
<div id="flex-single-view" style="padding-top: 12px;padding-bottom: 10px;">
<div id="flex-container">
<div id="myDiv" class="flex-body">
  <mat-card>
    <div class="example-container">
      <mat-form-field>
        <mat-label>{{'getcertificate.applicationId' | translate}}</mat-label>
        <input matInput #input placeholder="Ex. 123" [value]="applicationId" (keyup)="captureValue($event, 'applicationId')" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{'getcertificate.referenceId' | translate}}</mat-label>
        <input matInput #input placeholder="Ex. 123" [value]="referenceId" (keyup)="captureValue($event, 'referenceId')">
      </mat-form-field>

      <button id="createButton" mat-raised-button (click)="getCertificate()">
        {{'getcertificate.button' | translate}}
      </button>
    </div>
  </mat-card>
</div>
</div>
</div>
<mat-card class="mat-elevation-z5" *ngIf="this.datas">
  <!-- <button (click)="copyToClipboard()">Click Me</button> -->
  <div [innerText]="datas"></div>
</mat-card>
</ng-container>