<!--Center Header  -->
<div class="card">
  <mat-card>
    <div class="profile-img">
      <img src="../../../../../assets/images/logo-final.png" alt="img">
    </div>
    <div class="center-details">
      <h3>{{'center.center-name'|translate}}:&nbsp;<span>{{data.name}}</span></h3>
      <p>{{'center.center-id'|translate}}:&nbsp; <span>{{data.id}}</span></p>
      <p class="small-text">{{'center.status'|translate}}:&nbsp; <span>{{data.isActive}}</span></p>
    </div>
    <div class="center-details1">
      <p class="small-text">{{'center.created-on'|translate}}:&nbsp;<span>{{data.createdOn}}</span></p>
      <p class="small-text">{{'center.created-by'|translate}}:&nbsp;<span>{{data.createdBy}}</span></p>
      <p class="small-text">{{'center.updated-on'|translate}}:&nbsp;<span>{{data.updatedOn}}</span></p>
      <p class="small-text">{{'center.updated-by'|translate}}:&nbsp;<span>{{data.updatedBy}}</span></p>
    </div>
  </mat-card>
</div>