<span><h3>Centers</h3></span>
<mat-card class="mat-elevation-z8">
  <app-toolbar
    *ngIf="
      actionEllipsis && actionEllipsis && resourceFilter && paginatorOptions
    "
    [buttonList]="actionEllipsis"
    [paginationOptions]="paginatorOptions"
    [resourceFilter]="resourceFilter"
    (pageEvent)="pageEvent($event)"
  ></app-toolbar>
  <app-table
    *ngIf="centers && displayedColumns && actionButtons"
    [data]="centers"
    [displayedColumns]="displayedColumns"
    [buttonList]="actionButtons"
    (sort)="getSortColumn($event)"
  ></app-table>
</mat-card>
